{% extends "base.html" %}
{% block pagetitle %}Mozilla Reps - People{% endblock %}

{% block content %}

<!-- Map -->
<div class="row show-on-desktop">
  <div class="twelve columns" style='height:350px;'>
    <div id="map" class="smallmap" style='height:350px;'>
    </div>
  </div>
</div>

<!-- Search box -->
<div class="row">
  <div class="ten columns" id="search">
    <form class="nice" id="searchform">
      <span class="pictogram-search">
        s
      </span>
      <input type="text" placeholder="Filter using any keyword" id="searchfield"
             class="input-text big">
    </form>
  </div>
  <div class="two columns view-change">
    <span id="listviewbutton" class="pictogram-button">
      3
    </span>
    &nbsp;&nbsp;
    <span id="gridviewbutton" class="pictogram-button">
      4
    </span>
  </div>
</div>

<!-- People are here -->
<div class="row" id="profiles_gridview">
  <ul class="block-grid mobile three-up" id="searchlist">
    {% for person in people %}
      <li id="li-person-{{ person.id }}" class="profiles-li-item"
          data-lon="{{ person.userprofile.lon }}" data-lat="{{ person.userprofile.lat }}"
          data-fullname="{{ person.get_full_name() }}">
        <a href="{{ url('profiles_view_profile', person.userprofile.display_name) }}">
          <div class="panel grid-profile">
            <div class="row">
              <div class="three phone-one columns grid-profile-image">
                <img src="{{ person|get_avatar_url }}"
                     class="profiles-people-avatar"
                     alt="{{ person.get_full_name() }} avatar">
              </div>
              <div class="nine phone-three columns grid-profile-text">
                <h6>{{ person.first_name }}</h6>
                <h6>{{ person.last_name }}</h6>
                {{ person.userprofile.city }}, {{ person.userprofile.country }}
                <span class="hidden">{{ person.userprofile.display_name }}</span>
                <span class="hidden">{{ person.userprofile.local_name }}</span>
                <span class="hidden">{{ person.userprofile.region }}</span>
                <span class="hidden">{{ person.userprofile.private_email }}</span>
                <span class="hidden">{{ person.email }}</span>
                <span class="hidden">{{ person.userprofile.irc_name }}</span>
                <span class="hidden">{{ person.userprofile.twitter_account }}</span>
                <span class="hidden">{{ person.userprofile.jabber_id }}</span>
                <span class="hidden">{{ person.userprofile.get_gender_display() }}</span>
                {% for group in person.groups.all() %}
                  <span class="hidden">Group:{{ group.name }}</span>
                {% endfor %}
                {% for area in person.userprofile.functional_areas.all() %}
                  <span class="hidden">Area:'{{ area.name}}'</span>
                {% endfor %}
              </div>
            </div>
          </div>
        </a>
      </li>
    {% endfor %}
  </ul>
</div>
<div id="profiles_listview">
  <div class="row show-on-phones mobile-list-warning">
    Please switch to grid view.
  </div>
  <div class="row hide-on-phones">
    <div class="twelve columns">
      <table id="list-people-view">
        <thead>
          <tr>
            <th>Full Name</th>
            <th>Name in local language</th>
            <th>Username</th>
            <th>City</th>
            <th>Region</th>
            <th>Country</th>
          </tr>
        </thead>
        <tbody>
          {% for person in people %}
            <tr id="tr-person-{{ person.id }}">
              <td>
                <a href="{{ url('profiles_view_profile', person.userprofile.display_name) }}">
                  {{ person.get_full_name() }}
                </a>
              </td>
              <td>
                {{ person.userprofile.local_name }}
              </td>
              <td>
                {{ person.userprofile.display_name }}
              </td>
              <td>
                <a href="{{ url('profiles_list_profiles') }}{{ person.userprofile.city }}">
                  {{ person.userprofile.city }}
                </a>
              </td>
              <td>
                <a href="{{ url('profiles_list_profiles') }}{{ person.userprofile.region }}">
                  {{ person.userprofile.region }}
                </a>
              </td>
              <td>
                <a href="{{ url('profiles_list_profiles') }}{{ person.userprofile.country }}">
                  {{ person.userprofile.country }}
                </a>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% if user.is_authenticated() %}
  <div class="row">
    <div class="twelve columns reps-number">
      <p><span id="profiles-number-of-reps"></span> Reps were found.</p>
    </div>
  </div>
{% endif %}
{% endblock %}

{% block bottomextra %}
  {{ css('leaflet') }}
  <!--[if lte IE 8]>
      <link rel="stylesheet" href="{{ MEDIA_URL }}/leaflet/leaflet.ie.css" />
  <![endif]-->
  {{ js('leaflet') }}
  {{ js('profiles_people') }}
{% endblock %}
