{% extends "base.html" %}

{% block pagetitle %}
Mozilla Reps - Profile of {{ user_profile.display_name }}
{% endblock %}

{% block content %}
{% if user == pageuser or perms.profiles.can_edit_profiles %}
  <div class="row hide-on-phones">
    <div class="twelve columns align-right">
      <a href="{{ url('profiles_edit', user_profile.display_name) }}"
         class="small white button nice radius">Edit profile</a>
    </div>
  </div>
{% endif %}
<div class="row">
  <div class="six columns">
    <div class="row">
      <div class="one columns pictogram">
        J
      </div>
      <div class="eleven columns">
        <br>
        <h4>
          {{ pageuser.first_name }}
        </h4>
        <h4>
          {{ pageuser.last_name }}
        </h4>
        {% if pageuser == user %}
          <span class="grayed">
            (that's you!)
          </span>
        {% else %}
        <br>
        {% endif %}
        {% if user_profile.local_name %}
          <h5 class="grayed">
            {{ user_profile.local_name }}
          </h5>
        {% endif %}
          <h5 class="grayed">
            {{ user_profile.display_name }}
          </h5>
        {% if pageuser == user %}
          <p class="profile-item">
            <span class="white radius label">
              Profile Permalink
            </span>
            &nbsp;
            <a href="{{ url('profiles_view_profile', user_profile.display_name) }}">
                    {{ settings.SITE_URL }}
                    {{url('profiles_view_profile', user_profile.display_name)}}</a>
          </p>
        {% endif %}
      </div>
    </div>
  </div>
  <div class="six columns">
    <div class="row">
      <div class="one columns pictogram">
        A
      </div>
      <div class="eleven columns">
        <div class="row">
          <div class="four columns profile-image">
            <img id="profiles-view-avatar" src="{{ pageuser|get_avatar_url(128) }}">
          </div>
          <div class="eight columns smallmap-profile-container">
            <div id="map">
              <img src="{{ get_static_map_url(256, 128, user_profile.lat, user_profile.lon, 1) }}"/>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="six columns">
    <div class="row">
      {% if user_profile.bio %}
        <div class="one columns pictogram">
          V
        </div>
        <div class="eleven columns top-margined">
            <div class="markdown">
              {{ user_profile.bio|markdown }}
            </div>
        </div>
      {% endif %}
    </div>
    {% if monthly_reports %}
      <div class="row">
        <div class="one columns pictogram">
          a
        </div>
        <div class="eleven columns">
          <h5 class="profile-item">Monthly Reports</h5>
          {% include "monthly_reports.html" %}
        </div>
      </div>
    {% endif %}
    {% if future_events or past_events %}
      <!-- If Rep has events (future or past) -->
      <div class="row">
        <div class="one columns pictogram">
          S
        </div>
        <div class="eleven columns">
          <!-- If Rep has future events -->
          {% if future_events %}
            <h5 class="profile-item">Upcoming Events</h5>
            <table class="profile-events-table">
              <thead>
                <tr>
                  <th>Event</th>
                  <th>Date</th> <!-- we mean start date -->
                  <th>Role</th>
                </tr>
              </thead>
              <tbody>
                {% for event in future_events %}
                  <tr>
                    <td>
                      <a href="{{ url('events_view_event', slug=event.slug) }}">
                        {{ event.name }}
                      </a>
                    </td>
                    <td>{{ event.start|strftime("%d %b %Y") }}</td>
                    <td>{{ get_attendee_role_event(pageuser, event) }}</td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          {% endif %}
          <!-- end of if_future_events -->

          <!-- If Rep has past events -->
          {% if past_events %}
            <h5 class="profile-item">Past Events</h5>
            <table class="profile-events-table">
              <thead>
                <tr>
                  <th>Event</th>
                  <th>Date</th> <!-- we mean start date -->
                  <th>Role</th>
                </tr>
              </thead>
              <tbody>
                {% for event in past_events %}
                  <tr>
                    <td>
                      <a href="{{ url('events_view_event', slug=event.slug) }}">
                        {{ event.name }}
                      </a>
                    </td>
                    <td>{{ event.start|strftime("%d %b %Y") }}</td>
                    <td>{{ get_attendee_role_event(pageuser, event) }}</td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          {% endif %}
          <!-- end of if_past_events -->
        </div>
      </div>
      <!--End of if_events -->
    {% endif %}
  </div>
  <div class="six columns">
    {% if usergroups %}
      <div class="row">
        <div class="one columns pictogram">
          )
        </div>
        <div class="eleven columns">
          <h6 class="profile-item">
            {% for group in usergroups %}
              {% if group.name == "Mentor" %}
                <a href="{{ url('profiles_list_profiles') }}group/{{ group.name }}/">
                  Reps Mentor
                </a>
              {% endif %}
              {% if group.name == "Council" %}
                <a href="{{ url('profiles_list_profiles') }}group/{{ group.name }}/">
                  Reps Council
                </a> member
              {% endif %}
              {% if not loop.last %} - {% endif %}
            {% endfor %}
          </h6>
        </div>
      </div>
    {% endif %}
    <div class="row">
      <div class="one columns pictogram">
        p
      </div>
      <div class="eleven columns">
        <p class="profile-item">
          <span class="white radius label">
            Location
          </span>
          &nbsp;
          <a href="{{ url('profiles_list_profiles') }}search/{{ user_profile.city }}/">
            {{ user_profile.city }}
          </a>
          -
          <a href="{{ url('profiles_list_profiles') }}search/{{ user_profile.region }}/">
            {{ user_profile.region }}
          </a>
          -
          <a href="{{ url('profiles_list_profiles') }}country/{{ user_profile.country }}/">
            {{ user_profile.country }}
          </a>
        </p>
        {% if user_profile.gender is not none %}
          <p class="profile-item">
            <span class="white radius label">
              Gender
            </span>
            &nbsp;{{ user_profile.get_gender_display() }}
          </p>
        {% endif %}
      </div>
    </div>
    <div class="row">
      <div class="one columns pictogram">
        @
      </div>
      <div class="eleven columns">
        <p class="profile-item">
          <span class="white radius label">
            Personal Mail
          </span>
          &nbsp;{% if user.is_authenticated() %} {{ user_profile.private_email }}
          {% else %} {{ user_profile.private_email|mailhide }} {% endif %}
        </p>
        <p class="profile-item">
          <span class="white radius label">
            Bugzilla Mail
          </span>
          &nbsp;{% if user.is_authenticated() %} {{ pageuser.email }}
          {% else %} {{ pageuser.email|mailhide }} {% endif %}
        </p>
        <p class="profile-item">
          <span class="white radius label">
            Mozillians Profile
          </span>
          &nbsp;{{ user_profile.mozillians_profile_url|urlize(50) }}
        </p>
        <p class="profile-item">
          <span class="white radius label">
            Wiki Profile
          </span>
          &nbsp;{{ user_profile.wiki_profile_url|urlize(50) }}
        </p>
        {% if mentor %}
          <p class="profile-item">
            <span class="white radius label">
              Mentor
            </span>
            &nbsp;
            <a href="{{ url('profiles_view_profile', mentor.userprofile.display_name) }}">
              {{ mentor.get_full_name() }}
            </a>
          </p>
        {% endif %}
      </div>
    </div>
    <div class="row">
      {% if user_profile.twitter_account or user_profile.facebook_url or
            user_profile.diaspora_url or user_profile.linkedin_url %}
        <div class="one columns pictogram">
          T
        </div>
        <div class="eleven columns">
        {% if user_profile.twitter_account %}
          <p class="profile-item">
            <span class="white radius label">
              Twitter handle
            </span>
            &nbsp;
            <a href="http://twitter.com/#!/{{ user_profile.twitter_account }}">
              @{{ user_profile.twitter_account }}
            </a>
          </p>
        {% endif %}
        {% if user_profile.facebook_url %}
          <p class="profile-item">
            <span class="white radius label">
              Facebook profile
            </span>
            &nbsp;{{ user_profile.facebook_url|urlize(50) }}
          </p>
        {% endif %}
        {% if user_profile.diaspora_url %}
          <p class="profile-item">
            <span class="white radius label">
              Diaspora profile
            </span>
            &nbsp;{{ user_profile.diaspora_url|urlize(50) }}
          </p>
        {% endif %}
        {% if user_profile.linkedin_url %}
          <p class="profile-item">
            <span class="white radius label">
              LinkedIn profile
            </span>
            &nbsp;{{ user_profile.linkedin_url|urlize(50) }}
          </p>
        {% endif %}
        </div>
      {% endif %}
    </div>
    <div class="row">
      <div class="one columns pictogram">
        b
      </div>
      <div class="eleven columns">
        {% if user_profile.jabber_id %}
          <p class="profile-item">
            <span class="white radius label">
              Jabber ID
            </span>
            &nbsp;{{ user_profile.jabber_id }}
          </p>
        {% endif %}
        <p class="profile-item">
          <span class="white radius label">
            IRC nickname
          </span>
          &nbsp;{{ user_profile.irc_name }}
        </p>
        {% if user_profile.irc_channels %}
          <p class="profile-item">
            <span class="white radius label">
              IRC channels
            </span>
            &nbsp;{{ user_profile.irc_channels }}
          </p>
        {% endif %}
      </div>
    </div>
    <div class="row">
      {% if user_profile.personal_website_url or user_profile.personal_blog_feed %}
        <div class="one columns pictogram">
          w
        </div>
        <div class="eleven columns">
          {% if user_profile.personal_website_url %}
            <p class="profile-item">
              <span class="white radius label">
                Personal Site
              </span>
              &nbsp;{{ user_profile.personal_website_url|urlize(50) }}
            </p>
          {% endif %}
          {% if user_profile.personal_blog_feed %}
            <p class="profile-item">
              <span class="white radius label">
                Feed for Reps Planet
              </span>
              &nbsp;{{ user_profile.personal_blog_feed|urlize(50) }}
            </p>
          {% endif %}
        </div>
      {% endif %}
    </div>
    {% if user_profile.functional_areas.all() %}
      <div class="row">
        <div class="one columns pictogram">
          j
        </div>
        <div class="eleven columns">
          <p class="profile-item">
            <span class="white radius label">
              Interested in
            </span>
            &nbsp;
            {% for area in user_profile.functional_areas.all() %}
              <a href="{{ url('profiles_list_profiles') }}area/{{ area.name }}/">
                 {{ area.name }}</a>{% if not loop.last %}, {% endif %}
            {% endfor %}
          </p>
        </div>
      </div>
    {% endif %}
    {% if perms.profiles.can_edit_profiles %}
      {% if added_by %}
        <div class="row">
          <div class="one columns pictogram">
            l
          </div>
          <div class="eleven columns">
            <p class="profile-item">
              <span class="white radius label">
                Added by
              </span>
              &nbsp;
              <a href="{{ url('profiles_view_profile', added_by.userprofile.display_name) }}">
                {{ added_by.userprofile.display_name }}
              </a>
            </p>
          </div>
        </div>
      {% endif %}
      {% if user_profile.date_joined_program %}
        <div class="row">
          <div class="one columns pictogram">
            %
          </div>
          <div class="eleven columns">
            <p class="profile-item">
              <span class="white radius label">
                Date Joined
              </span>
              &nbsp;
              {{ user_profile.date_joined_program.strftime('%d %B %Y') }}
            </p>
          </div>
        </div>
      {% endif %}
    {% endif %}
  </div>
</div>
{% if user == pageuser or perms.profiles.can_edit_profiles %}
  <div class="row show-on-phones">
    <div class="twelve columns align-right">
      <a href="{{ url('profiles_edit', user_profile.display_name) }}"
         class="small white button nice radius">Edit profile</a>
    </div>
  </div>
{% endif %}

{% endblock %}
