{% extends "base_fd4.jinja" %}
{% block pagetitle %}Mozilla Reps - People{% endblock %}

{% block logo %}
<h1><span class="metabold">mozilla</span> reps</h1>
{% endblock %}

{% block content %}
<main role="main" class="people-main">

  <!-- Map -->
  <div class="row">
    <div class="large-12 columns">
      <div id="map" class="map500">
      </div>
    </div>
  </div>

  <!-- Search box -->
  <div class="row">
    <div class="large-12 columns" id="search">
      <form id="searchform" role="search" aria-controls="profiles_gridview">
        <span class="pictogram-search">
          <div id="search-ready-icon" class="hidden pict-icon large search"></div>
          <div id="search-loading-icon"></div>
        </span>
        <input type="text" placeholder="Loading..." id="searchfield" disabled="disabled">
      </form>
      <ul class="button-group search-controls" aria-controls="profiles_gridview">
        <li role="button" id="adv-search-icon" title="Advanced Options" class="pictogram-button" tabindex="0">
          <div class="pict-icon large tools"></div>
        </li>
        <li role="button" id="gridviewbutton" title="Grid View" class="pictogram-button" tabindex="0">
          <div class="pict-icon large grid"></div>
        </li>
        <li role="button" id="listviewbutton" title="List View" class="pictogram-button" tabindex="0">
          <div class="pict-icon large list"></div>
        </li>
      </ul>
    </div>
  </div>

  <!-- Advanced search box -->
  <div class="row hidden" id="adv-search">
    <div class="large-12 columns">
      <form class="row">
        <div class="large-3 columns">
          <select id="adv-search-group">
            <option value="">All Groups</option>
            <option value="rep">Rep</option>
            <option value="mentor">Mentor</option>
            <option value="council">Council</option>
            <option value="review">Review</option>
            <option value="peers">Peers</option>
            <option value="resources">Resources</option>
            <option value="onboarding">Onboarding</option>
            <option value="newsletter">Newsletter</option>
          </select>
        </div>
        <div class="large-3 columns">
          <select id="adv-search-country">
            <option value="">All Countries</option>
            {% for country in countries %}
              <option value="{{ country|lower }}">{{ country }}</option>
            {% endfor %}
          </select>
        </div>
        <div class="large-3 columns">
          <select id="adv-search-area">
            <option value="">All Areas</option>
            {% for area in areas %}
              <option value="{{ area|lower }}">{{ area }}</option>
            {% endfor %}
          </select>
        </div>
        <div class="large-3 columns">
          <select id="adv-search-skill">
            <option value="">All Mobilizer Expertise</option>
            {% for skill in skills %}
              <option value="{{ skill|lower }}">{{ skill }}</option>
            {% endfor %}
          </select>
        </div>
        <div class="large-3 columns">
          <select id="adv-search-interest">
            <option value="">All Mobilizer Learning Interests</option>
            {% for interest in interests %}
              <option value="{{ interest|lower }}">{{ interest }}</option>
            {% endfor %}
          </select>
        </div>
        <div class="large-3 columns align-center">
          {% if user.is_authenticated() %}
            <button id="csv-export-button"
                    class="small white button nice radius">CSV Export</button>
          {% endif %}
        </div>
      </form>
    </div>
  </div>

  <div id="profiles-reps-number" class="row">
    <div id="profiles-number-of-reps" class="large-12 columns reps-number"></div>
  </div>

  <!-- People are here -->
  <div class="row hidden" id="profiles_noresults">
    <div class="large-12 columns profiles-no-results">
      Sorry, no Reps found. Maybe you are looking for an <a href="{{ url('profiles_alumni') }}">Alumni</a>?
    </div>
  </div>

  <div class="row" id="profiles_gridview" role="region">
    <div class="large-12 columns">
      <ul class="large-block-grid-3 small-block-grid-1" id="grid-search-list"></ul>
    </div>
  </div>

  <div id="profiles_listview">
    <div class="row show-for-small mobile-list-warning">
      Please switch to grid view.
    </div>
    <div class="row hide-for-small">
      <div class="large-12 columns">
        <table id="list-people-view">
          <thead>
            <tr>
              <th>Full Name</th>
              <th>Name in local language</th>
              <th>Username</th>
              <th>City</th>
              <th>Region</th>
              <th>Country</th>
            </tr>
          </thead>
          <tbody id="table-search-list">
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <!-- Loader animation -->
  <div class="row" id="profiles-loading-wrapper">
    <div class="large-12 columns">
      <div id="profiles-loading"></div>
    </div>
  </div>

  {% for rep in reps %}
    <div class="profile-pointer-item"
         data-lat="{{ rep.userprofile.lat }}"
         data-lon="{{ rep.userprofile.lon }}"
         data-fullname="{{ rep.get_full_name() }}">
    </div>
  {% endfor %}

</main>

{% include 'includes/people_template.jinja' %}
{% endblock %}

{% block bottomextra %}
  {% compress css %}
    <link rel="stylesheet" href="{{ static('base/css/mapbox.css') }}"
          media="screen,projection,tv" />
    <link rel="stylesheet" href="{{ static('base/css/L.Control.Locate.css') }}"
          media="screen,projection,tv" />
  {% endcompress %}
  <!--[if lte IE 8]>
      {% compress css %}
        <link rel="stylesheet" href="{{ static('base/css/mapbox.ie.css') }}" />
      {% endcompress %}
  <![endif]-->
  {% compress js %}
    <script src="{{ static('base/js/mapbox.js') }}"></script>
    <script src="{{ static('base/js/L.Control.Locate.js') }}"></script>
    <script src="{{ static('base/js/handlebars-v4.0.5.js') }}"></script>
    <script src="{{ static('base/js/heartcode-canvasloader-min.js') }}"></script>
    <script src="{{ static('profiles/js/profiles_people.js') }}"></script>
  {% endcompress %}
{% endblock %}
