{% extends "base.html" %}
{% block pagetitle %}Mozilla Reps - People{% endblock %}

{% block content %}

<!-- Map -->
<div class="row show-on-desktop">
  <div class="twelve columns">
    <div id="map" class="smallmap">
    </div>
  </div>
</div>

<!-- Search box -->
<div class="row">
  <div class="ten columns" id="search">
    <form class="nice" id="searchform">
      <span class="pictogram-search">
        s
      </span>
      <input type="text" placeholder="Filter using any keyword" id="searchfield" class="input-text big">
    </form>
  </div>
  <div class="two columns view-change">
    <span id="listviewbutton" class="pictogram-button">
      3
    </span>
    &nbsp;&nbsp;
    <span id="gridviewbutton" class="pictogram-button">
      4
    </span>
  </div>
</div>

<!-- People are here -->
<div class="row" id="profiles_gridview">
  <ul class="block-grid mobile three-up" id="searchlist">
    {% for person in people %}
    <li id="li-person-{{ person.id }}">
      <a href="{% url profiles_view_profile person.userprofile.display_name %}">
        <div class="panel grid-profile">
            <div class="row">
              <div class="three phone-one columns grid-profile-image">
                <img src="{{ person.userprofile.get_avatar_url }}" width="50" alt="{{ person.get_full_name }} avatar">
              </div>
              <div class="nine phone-three columns grid-profile-text">
                <h6>{{ person.first_name }} </h6><h6>{{ person.last_name }}</h6>{{ person.userprofile.city }}, {{ person.userprofile.country }}
              </div>
            <div>
        </div>
      </a>
    </li>
    {% endfor %}
  </ul>
</div>
<div id="profiles_listview">
  <div class="row show-on-phones mobile-list-warning">
    Please switch to grid view.
  </div>
  <div class="row hide-on-phones">
    <div class="twelve columns">
      <table id="list-people-view">
        <thead>
          <tr>
            <th>Name</th>
            <th>Username</th>
            <th>City</th>
            <th>Country</th>
            <th>Age</th>
            <th>Mozillian Profile</th>
            <th>Personal mail</th>
          </tr>
        </thead>
        <tbody>
          {% for person in people %}
          <tr>
            <td>
              <a href="{% url profiles_view_profile person.userprofile.display_name %}">{{ person.get_full_name }}</a>
            </td>
            <td>
              {{ person.userprofile.display_name }}
            </td>
            <td>
              <a href="{% url profiles_list_profiles %}{{ person.userprofile.city }}">{{ person.userprofile.city }}</a>
            </td>
            <td>
              <a href="{% url profiles_list_profiles %}{{ person.userprofile.country }}">{{ person.userprofile.country }}</a>
            </td>
            <td>
              {{ person.userprofile.get_age }}
            </td>
            <td>
              {{ person.userprofile.mozillians_profile_url|urlizetrunc:50}}
            </td>
            <td>
              {{ person.userprofile.private_email }}
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}

{% block bottomextra %}
<script src="{{ MEDIA_URL }}openlayers/OpenLayers.js"></script>
<script src="{{ MEDIA_URL }}js/profiles_people.js"></script>
<script src="{{ MEDIA_URL }}js/jquery.quicksearch.js"></script>
<script type="text/javascript">
    {% for person in people %}
    var lonlat = new OpenLayers.LonLat({{ person.userprofile.lon }}, {{ person.userprofile.lat }});
    marker = new OpenLayers.Marker(lonlat, icon.clone())
    markers.addMarker(marker);
    markers_array["li-person-{{ person.id }}"] = marker; {% endfor %}
</script>
{% endblock %}
