{% extends "base.html" %}
{% block pagetitle %}Mozilla Reps - People{% endblock %}

{% block content %}

<!-- Map -->
<div class="row show-on-desktop">
  <div class="twelve columns">
    <div id="map" class="map300">
    </div>
  </div>
</div>

<!-- Search box -->
<div class="row">
  <div class="ten columns" id="search">
    <form class="nice" id="searchform">
      <span class="pictogram-search" id="search-icon">
        <div id="floatingCirclesG">
          <div class="f_circleG" id="frotateG_01"></div>
          <div class="f_circleG" id="frotateG_02"></div>
          <div class="f_circleG" id="frotateG_03"></div>
          <div class="f_circleG" id="frotateG_04"></div>
          <div class="f_circleG" id="frotateG_05"></div>
          <div class="f_circleG" id="frotateG_06"></div>
          <div class="f_circleG" id="frotateG_07"></div>
          <div class="f_circleG" id="frotateG_08"></div>
        </div>
      </span>
      <input type="text" placeholder="Loading..." id="searchfield"
             class="input-text big" disabled="disabled">
    </form>
  </div>
  <div class="two columns view-change">
    <span id="adv-search-icon" title="Advanced Options" class="pictogram-button">
      (
    </span>
    <span id="gridviewbutton" title="Grid View" class="pictogram-button">
      3
    </span>
    &nbsp;&nbsp;
    <span id="listviewbutton" title="List View" class="pictogram-button">
      4
    </span>
  </div>
</div>

<!-- Advanced search box -->
<div class="row hidden" id="adv-search">
  <div class="twelve columns">
    <div class="row">
      <form class="custom" id="searchform">
        <div class="three columns">
          <select id="adv-search-group" class="expand">
            <option value="">All Groups</option>
            <option value="rep">Rep</option>
            <option value="mentor">Mentor</option>
            <option value="council">Council</option>
          </select>
        </div>
        <div class="three columns">
          <select id="adv-search-country" class="expand">
            <option value="">All Countries</option>
            {% for country in countries %}
              <option value="{{ country|lower }}">{{ country }}</option>
            {% endfor %}
          </select>
        </div>
        <div class="three columns">
          <select id="adv-search-area" class="expand">
            <option value="">All Areas</option>
            {% for area in areas %}
              <option value="{{ area|lower }}">{{ area }}</option>
            {% endfor %}
          </select>
        </div>
        <div class="three columns align-center">
          {% if user.is_authenticated() %}
            <button id="csv-export-button"
                    class="small white button nice radius">CSV Export</button>
          {% endif %}
        </div>
      </form>
    </div>
  </div>
</div>

<!-- People are here -->
<div class="row hidden" id="profiles_noresults">
  <div class="twelve columns profiles-no-results">
    Sorry, no Reps found.
  </div>
</div>

<div class="row" id="profiles_gridview">
  <ul class="block-grid mobile three-up" id="grid-search-list">
  </ul>
</div>

<div id="profiles_listview">
  <div class="row show-on-phones mobile-list-warning">
    Please switch to grid view.
  </div>
  <div class="row hide-on-phones">
    <div class="twelve columns">
      <table id="list-people-view">
        <thead>
          <tr>
            <th>Full Name</th>
            <th>Name in local language</th>
            <th>Username</th>
            <th>City</th>
            <th>Region</th>
            <th>Country</th>
          </tr>
        </thead>
        <tbody id="table-search-list">
        </tbody>
      </table>
    </div>
  </div>
</div>

{% if user.is_authenticated() %}
  <div id="profiles-reps-number" class="row">
    <div id="profiles-number-of-reps" class="twelve columns reps-number">
    </div>
  </div>
{% endif %}

<script id="gridItem-tmpl" type="text/x-jquery-tmpl">
  <li class="profiles-li-item"
      data-lon="${ profile.lon }" data-lat="${ profile.lat }"
      data-fullname="${ fullname }">
    <a href="${ profile.profile_url }">
      <div class="panel grid-profile">
        <div class="row">
          <div class="three phone-one columns grid-profile-image">
            <img src="${ profile.avatar_url }"
                 class="profiles-people-avatar"
                 alt="${ fullname } avatar">
          </div>
          <div class="nine phone-three columns grid-profile-text">
            <h6>${ first_name }</h6>
            <h6>${ last_name }</h6>
            ${ profile.city }, ${ profile.country }
          </div>
        </div>
      </div>
    </a>
  </li>
</script>

<script id="listItem-tmpl" type="text/x-jquery-tmpl">
  <tr>
    <td>
      <a href="${ profile.profile_url }">
        ${ fullname }
      </a>
    </td>
    <td>
      ${ profile.local_name }
    </td>
    <td>
      ${ profile.display_name }
    </td>
    <td>
      <a href="{{ url('profiles_list_profiles') }}search/${ profile.city }">
        ${ profile.city }
      </a>
    </td>
    <td>
      <a href="{{ url('profiles_list_profiles') }}search/${ profile.region }">
        ${ profile.region }
      </a>
    </td>
    <td>
      <a href="{{ url('profiles_list_profiles') }}country/${ profile.country }">
        ${ profile.country }
      </a>
    </td>
  </tr>
</script>
{% endblock %}

{% block bottomextra %}
{{ css('leaflet') }}
<!--[if lte IE 8]>
    <link rel="stylesheet" href="{{ MEDIA_URL }}/leaflet/leaflet.ie.css" />
    <![endif]-->
{{ js('leaflet') }}
{{ js('profiles_people') }}
{% endblock %}
