settings_local.py
settings/local.py
*/settings/local.py
*.py[co]
*.sw[po]
.coverage
.tox
pip-log.txt
docs/_gh-pages
build.py
build
.DS_Store
.vscode
.noseids
tmp/*
*~
*.mo
.virtualenv
media
venv
/static
.env
celerybeat*
