[submodule "vendor"]
    ignore = dirty
	path = vendor
	url = git://github.com/mozilla/playdoh-lib.git
[submodule "vendor-local/src/happyforms"]
    ignore = dirty
	path = vendor-local/src/happyforms
	url = https://github.com/mozilla/happyforms
[submodule "vendor-local/src/django-uuslug"]
    ignore = dirty
	path = vendor-local/src/django-uuslug
	url = https://github.com/un33k/django-uuslug
[submodule "vendor-local/src/markdown"]
    ignore = dirty
	path = vendor-local/src/markdown
	url = git://github.com/waylan/Python-Markdown.git
[submodule "vendor-local/src/django-waffle"]
	path = vendor-local/src/django-waffle
	url = https://github.com/jsocol/django-waffle.git
[submodule "vendor-local/src/factory_boy"]
	path = vendor-local/src/factory_boy
	url = https://github.com/rbarrois/factory_boy.git
[submodule "vendor-local/src/django-cache-machine"]
	path = vendor-local/src/django-cache-machine
	url = https://github.com/jbalogh/django-cache-machine.git
[submodule "vendor-local/src/jingo-offline-compressor"]
	path = vendor-local/src/jingo-offline-compressor
	url = https://github.com/peterbe/django-jingo-offline-compressor.git
[submodule "vendor-local/src/pystatsd"]
	path = vendor-local/src/pystatsd
	url = https://github.com/jsocol/pystatsd.git
