{% extends "base_fd4.html" %}

{% block pagetitle %}
Mozilla Reps - Events
{% endblock %}

{% block logo %}
<h1><span class="metabold">mozilla</span> reps</h1>
{% endblock %}

{% block content %}

<main role="main" class="events-main">
  <div class="row">
    <div class="large-12 columns align-right">
      {% if perms.events.can_edit_events %}
        <a href="{{ url('events_new_event') }}" target="_blank"
           class="small button update" id="events-create-button">Create event</a>
      {% endif %}
      <dl id="events-viz-switcher" class="sub-nav dashboard-filter hide-for-small">
        <dd class="active">
          <a id="events-map-button" href="#">Map</a>
        </dd>
        <dd>
          <a id="events-timeline-button" href="#">Timeline</a>
        </dd>
      </dl>
    </div>
  </div>


  <!-- Map & Vizualization -->
  <div class="row {% if perms.events.can_edit_events %}top-margined{% endif %}">
    <div class="large-12 columns">
      <div id="map" class="map300"></div>
      <div class="hide-for-small">
        <div id="event-timeline"></div>
      </div>
    </div>
  </div>

  <div id="map-overlay" class="hidden">
    <div id="map-overlay-text">
      Please refine search to view events.
    </div>
  </div>

  <div id="timeline-overlay" class="hidden">
    <div id="timeline-overlay-text">
      Please refine search to view timeline.
    </div>
  </div>

  <!-- Search box -->
  <div class="row">
    <form id="events-searchform">
      <div class="large-9 columns" id="search">
        <span class="pictogram-search" id="search-icon">
          <div id="search-ready-icon" class="pict-icon large search"></div>
          <div id="search-loading-icon"></div>
        </span>
        <input type="text" placeholder="Loading..." id="searchfield"
               class="input-text big" disabled="disabled">
      </div>
      <div class="large-3 columns">
        <select id="events-period-selector">
          <option value="all">All Events</option>
          <option value="future">Current and Future</option>
          <option value="past">Past</option>
          <option value="custom">Custom</option>
        </select>
        <span id="adv-search-icon-events" title="Advanced Options" class="pict-icon large tools"></span>
      </div>
    </form>
  </div>

  <!-- Advanced search box -->
  <div class="row hidden" id="adv-search">
    <div class="large-12 columns">
      <div class="row">
        <form id="searchform">
          <div class="large-3 columns">
            <select id="adv-search-categories" class="expand">
              <option value="">All Categories</option>
              {% for category in categories %}
                <option value="{{ category.name|lower }}">{{ category.name }}</option>
              {% endfor %}
            </select>
          </div>
          <div class="large-3 columns">
            <input type="text" class="datepicker input-text big"
                   id="date-start" placeholder="Start Range Date"/>
          </div>
          <div class="large-3 columns">
            <input type="text" class="datepicker input-text big"
                   id="date-end" placeholder="End Range Date"/>
          </div>
          <div class="large-3 columns align-right">
            <a id="icalendar-export-button"
               class="small button" href="#">Export iCalendar</a>
          </div>
        </form>
      </div>
    </div>
  </div>

  <!-- Events listing -->
  <div class="row">
    <div class="large-12 columns">
      <!-- Table start -->
      <table id="events-table">
        <tbody id="events-table-body">
        </tbody>
      </table>
    </div>
  </div>

  <!-- Loader animation -->
  <div class="row" id="events-loading-wrapper">
    <div class="large-12 columns">
      <div id="events-loading"></div>
    </div>
  </div>

  <div class="row end-row">
    <div id="events-number" class="large-12 columns reps-number">
    </div>
  </div>
</main>

<script id="eventItem-tmpl" type="text/x-jquery-tmpl">
  <tr class="event-item" data-lat="${ lat }"
      data-lon="${ lon }" data-name="${ name }">
    <td>
      <div class="row">
        <!-- Event Date -->
        <div class="large-1 columns events-table-date-container">
          <div class="events-table-date panel">
            <div class="{{ '{{if multiday}} events-table-date-day-multiple {{else}} events-table-date-day {{/if}}' }}">
              ${ $item.getDay() }
            </div>
            <div class="{{ '{{if $item.is_multimonth()}} events-table-date-month-multiple {{else}} events-table-date-month {{/if}}' }}">
              ${ $item.getMonth() }
            </div>
          </div>
          <!-- Event name only in phones -->
          <div class="events-table-name show-for-small">
            <a href="${ event_url }">
              ${ name }
            </a>
          </div>
        </div>
        <!-- Event Info -->
        <div class="large-9 columns events-table-info">
          <div class="events-table-name hide-for-small">
            <a href="${ event_url }">
              ${ name }
            </a>
          </div>
          <div class="events-table-description-wrapper">
            <div class="events-table-decription">
              ${ description }
            </div>
          </div>
          <div class="events-table-location">
            <span class="events-table-venue">${ venue }</span> -
            <a href="{{ url('events_list_events') }}search/${ city }">
              ${ city }
            </a> -
            <a href="{{ url('events_list_events') }}search/${ region }">
              ${ region }
            </a> -
            <a href="{{ url('events_list_events') }}search/${ country }">
              ${ country }
            </a>
          </div>
        </div>
        <!-- Event Extra -->
        <div class="large-2 columns events-table-extra hide-for-small">
          <div class="events-table-owner">
            <span class="events-table-owner-tag">
              Owner
            </span><br>
            <a href="${ owner_profile_url }">
              ${ owner_name }
            </a>
          </div>
          <!-- Following div displayed only for authenticated users -->
          <div class="events-table-expected">
            ${ estimated_attendance } pax
          </div>
        </div>
      </div>
    </td>
  </tr>
</script>
{% endblock %}

{% block bottomextra %}
  {% compress css %}
    <link rel="stylesheet" href="{{ static('base/css/mapbox.css') }}"
          media="screen,projection,tv" />
    <link rel="stylesheet" href="{{ static('base/css/L.Control.Locate.css') }}"
          media="screen,projection,tv" />
    <link rel="stylesheet" href="{{ static('events/css/jquery-ui-1.10.0.custom.css') }}"
          media="screen,projection,tv" />
    <link rel="stylesheet" href="{{ static('events/css/timeline/timeline.css') }}"
          media="screen,projection,tv" />
  {% endcompress %}
  <!--[if lte IE 8]>
      <link rel="stylesheet" href="{{ static('base/css/mapbox.ie.css') }}" />
  <![endif]-->

  <script src="{{ static('events/js/timeline/timeline.js') }}"></script>
  <script src="{{ static('events/js/timeline/storyjs-embed.js') }}"></script>

  {% compress js %}
    <script src="{{ static('base/js/mapbox.js') }}"></script>
    <script src="{{ static('base/js/L.Control.Locate.js') }}"></script>
    <script src="{{ static('events/js/jquery-ui-1.10.0.custom.js') }}"></script>
    <script src="{{ static('base/js/jquery.tmpl.js') }}"></script>
    <script src="{{ static('base/js/heartcode-canvasloader-min.js') }}"></script>
    <script src="{{ static('events/js/events_list.js') }}"></script>
  {% endcompress %}
{% endblock %}
