{% extends "base_fd4.jinja" %}
{% block pagetitle %}Mozilla Reps - KPI Dashboard{% endblock %}

{% block topextra %}
  {% compress css %}
    <link href="{{ static('dashboard/css/kpi.css') }}" rel="stylesheet"
          media="screen,projection,tv" />
    <link href="{{ static('base/css/spinner.css') }}" rel="stylesheet"
          media="screen,projection,tv" />
  {% endcompress %}
{% endblock %}

{% block content %}
<main role="main" class="dashboard-main">
  <div class="row">
    <div class="large-6 columns">
      <h1>Stats Dashboard</h1>
    </div>
  </div>
  <div class="row">
    <div class="large-6 columns">
      <div class="dashboard-stats-activities-block">
        <h2>Overview</h2>
        <p>General overview of the Reps Program.</p>
        <table class="dashboard-table">
          <thead>
            <tr>
              <th>Reps</th>
              <th>Past events</th>
              <th>Future events</th>
              <th>Activities</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>{{ reps_count }}</td>
              <td>{{ past_events }}</td>
              <td>{{ future_events }}</td>
              <td>{{ activities }}</td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="dashboard-stats-activities-block">
        <h2>Activity</h2>
        <p>Active Reps per time period (filed any reports - only counting past)</p>
        <table class="dashboard-table">
          <thead>
            <tr>
              <th>1 month</th>
              <th>2 months</th>
              <th>6 months</th>
              <th>12 months</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>{{ active_month1 }}</td>
              <td>{{ active_month2 }}</td>
              <td>{{ active_month6 }}</td>
              <td>{{ active_month12 }}</td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="dashboard-stats-activities-block">
        <h2>Activities</h2>
        <p>When have Reps done activities recently?</p>
        <table class="dashboard-table">
          <thead>
            <tr>
              <th>Past or upcoming 4 weeks</th>
              <th>Past or upcoming 4-8 weeks</th>
              <th>Past or upcoming 8+ weeks</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>{{ active_users }}</td>
              <td>{{ inactive_low_users }}</td>
              <td>{{ inactive_high_users }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="large-6 columns">
      <h2>Top 15 Countries/Regions</h2>
      <p>Where are the most Reps?</p>
      <div class="dashboard-stats-activities-block">
        <table class="dashboard-table">
          <thead>
            <tr>
              <th>Country or Region</th>
              <th>Reps</th>
            </tr>
          </thead>
          <tbody>
            {% for country in top_countries %}
              <tr>
                <td>{{ country.userprofile__country }}</td>
                <td>{{ country.country_count }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="large-12 columns">
      <h1>KPI Dashboard</h1>
    </div>
  </div>

  <div class="row">
    <div class="large-12 columns">
      Filter by:
    </div>
  </div>

  <div class="row">
    <div class="large-4 columns">
      <select name="country" id="filter-country" data-query="country" autocomplete="off">
        <option value selected="selected">Country or Region</option>
        {% for country in countries %}
          <option value="{{ country }}">{{ country }}</option>
        {% endfor %}
      </select>
    </div>
    <div class="large-4 columns">
      <select name="category" id="filter-category" data-query="category" autocomplete="off">
        <option value selected="selected">Category</option>
        {% for category in categories %}
          <option value="{{ category.name }}">{{ category }}</option>
        {% endfor %}
      </select>
    </div>
    <div class="large-4 columns">
      <select name="initiative" id="filter-initiative" data-query="initiative" autocomplete="off">
        <option value selected="selected">Initiative</option>
        {% for initiative in initiatives %}
          <option value="{{ initiative.name }}">{{ initiative }}</option>
        {% endfor %}
      </select>
    </div>
  </div>

  <div class="row panel graph">
    <div class="large-12 columns">
      <h2>Reps</h2>
      <div id="dashboard-continuous-reports-mine-block">
        <table class="dashboard-table responsive">
          <tbody>
            <tr>
              <td>
                <span id="people-total_week"></span>
                Reps
                <br>
                <div class="date-range">
                  <span id="people-percentage_week"></span> %
                </div>
              </td>
              <td>
                <span id="people-total_quarter"></span>
                Reps
                <br>
                <div class="date-range">
                  <span id="people-percentage_quarter"></span> %
                </div>
              </td>
              <td><span id="people-total"></span> Reps</td>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <th>Latest Week</th>
              <th>Current Quarter</th>
              <th>Total</th>
            </tr>
          </tfoot>
        </table>
      </div>
      <div class="graph-spinner">
        <div class="three-quarters" id="spinner-people">loading...</div>
      </div>
      <div id="graph-people" class="d3-graph">&nbsp;</div>
    </div>
  </div>

  <div class="row panel graph">
    <div class="large-12 columns">
      <h2>Events</h2>
      <div id="dashboard-continuous-reports-mine-block">
        <table class="dashboard-table responsive">
          <tbody>
            <tr>
              <td>
                <span id="events-total_week"></span>
                events
                <br>
                <div class="date-range">
                  <span id="events-percentage_week"></span> %
                </div>
              </td>
              <td>
                <span id="events-total_quarter"></span>
                events
                <br>
                <div class="date-range">
                  <span id="events-percentage_quarter"></span> %
                </div>
              </td>
              <td><span id="events-total"></span> events</td>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <th>Latest Week</th>
              <th>Current Quarter</th>
              <th>Total</th>
            </tr>
          </tfoot>
        </table>
      </div>
      <div class="graph-spinner">
        <div class="three-quarters" id="spinner-events">loading...</div>
      </div>
      <div id="graph-events" class="d3-graph">&nbsp;</div>
    </div>
  </div>

  <div class="row panel graph">
    <div class="large-12 columns">
      <h2>Activities</h2>
      <div id="dashboard-continuous-reports-mine-block">
        <table class="dashboard-table responsive">
          <tbody>
            <tr>
              <td>
                <span id="activities-total_week"></span>
                activities
                <br>
                <div class="date-range">
                  <span id="activities-percentage_week"></span> %
                </div>
              </td>
              <td>
                <span id="activities-total_quarter"></span>
                activities
                <br>
                <div class="date-range">
                  <span id="activities-percentage_quarter"></span> %
                </div>
              </td>
              <td><span id="activities-total"></span> activities</td>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <th>Latest Week</th>
              <th>Current Quarter</th>
              <th>Total</th>
            </tr>
          </tfoot>
        </table>
      </div>
      <div class="graph-spinner">
        <div class="three-quarters" id="spinner-activities">loading...</div>
      </div>
      <div id="graph-activities" class="d3-graph">&nbsp;</div>
    </div>
  </div>
</main>
{% endblock %}

{% block bottomextra %}
  <script src="{{ static('dashboard/js/d3.min.js') }}"></script>
  {% compress js %}
    <script src="{{ static('dashboard/js/d3-tip.js') }}"></script>
    <script src="{{ static('dashboard/js/kpi.js') }}"></script>
  {% endcompress %}
{% endblock %}
