Hey there {{ user.first_name|capitalize }},

This email was generated automatically to inform you that {{ commenter.get_full_name() }} 
added a comment on the report [1] for {{ report }}
on {{ created_on|format_datetime }}.

The comment was:

{{ comment|indent(indentfirst=True) }}

Cheers!

Your lovely ReMo bot.

[1] {{ report.get_absolute_url()|absolutify }}
