SECRET_KEY = 'secret_key'
MAPBOX_TOKEN = ''
# Mailhide configuration
MAILHIDE_PUB_KEY = ''
MAILHIDE_PRIV_KEY = ''
# Remozilla configuration
REMOZILLA_USERNAME = ''
REMOZILLA_PASSWORD = ''
DEBUG = True
DEV = True
COMPRESS_ENABLED = False
COMPRESS_OFFLINE = False
SESSION_COOKIE_SECURE = False
SITE_URL = http://127.0.0.1:8000
ALLOWED_HOSTS = 127.0.0.1
# remozilla configuration
REMOZILLA_USERNAME = ''
REMOZILLA_PASSWORD = ''
MAPBOX_TOKEN = ''
# Auth0 confiuguration
AUTH0_DOMAIN = ''
AUTH0_CLIENT_ID = ''
OIDC_OP_AUTHORIZATION_ENDPOINT = ''
OIDC_OP_TOKEN_ENDPOINT = ''
OIDC_OP_USER_ENDPOINT = ''
OIDC_RP_CLIENT_ID = ''
OIDC_RP_CLIENT_SECRET = ''
OIDC_RP_CLIENT_SECRET_ENCODED = True
OIDC_OP_DOMAIN = ''
OIDC_OP_STORE_ACCESS_TOKEN = True
# Assuming user root with password root and db name remo
DATABASE_URL = 'mysql://root:root@127.0.0.1:3306/remo'
