/* --------------------
    Imports
-------------------- */

@import "fonts.less";


/* --------------------
    Generic Mixins
-------------------- */

.top-margined {
    margin-top: 20px;
}

.align-right {
    text-align:right !important;
}

.align-center {
    text-align:center !important;
}

.grayed {
    color: #888;
}

.pictogram {
    .top-margined;
    text-align:center;
    font-family: "ModernPictogramsNormal";
    font-size: 30px;
    color: #aaa;
    cursor: default;
}

.opensans {
    font-family: 'Open Sans';
}

.opensanslight {
    font-family: 'Open Sans Light';
}

.metabold {
    font-family: 'MetaBold' !important;
}

/* -----------------------------------------
   Shared Styles
----------------------------------------- */

html {
    border-top: 2px solid white;
}

#wrapper {
    background: rgb(249, 249, 249) url('/media/img/remo/mozorg-gradient.png') repeat-x top center;
}

body {
    font-size: 12px;
    color: rgb(51, 51, 51);
}

hr {
    margin: 5px 0 18px;
}

a {
    color: rgb(41, 131, 200);
}

a:link, a:visited{
    text-decoration:none;
    -moz-transition:color .3s ease-in;
    -webkit-transition:color .3s ease-in;
    transition:color .3s ease-in;
}

a:hover, a:active{
    -moz-transition:color .3s ease-out;
    -webkit-transition:color .3s ease-out;
    transition:color .3s ease-out;
    color: rgb(32, 103, 158);
}

h1, h2, h3, h4, h5, h6, .huge, .large {
    font-family: 'Open Sans Light',sans-serif;
    display: block;
    font-weight: 300;
    margin: 0px 0px 12px;
    line-height: 100%;
    text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.75);
    color: rgb(72, 72, 72);
}

.huge, .huge h1 {
    font-size: 108px;
    letter-spacing: -4px;
    line-height: 100%;
}

.large, .large h1 {
    font-size: 72px;
    letter-spacing: -3px;
    line-height: 100%;
}

h1, .huge h2, .large h2, .billboard h2 {
    font-size: 48px;
    letter-spacing: -2px;
}

h2 {
    font-size: 32px;
    letter-spacing: -1px;
}

h3 {
    font-size: 28px;
    letter-spacing: -0.5px;
}

h4 {
    font-size: 24px;
    letter-spacing: -0.25px;
}

.required-field {
    .grayed;
    font-family: 'ModernPictogramsNormal';
    font-size: 12px;
    float: right;
    margin-bottom: -40px;
    position: relative;
    top: -40px;
}

.required-field:before {
    content: '\*';
}

/* Setting tabzilla z-index to 30 so it is displayed below modals */
#tabzilla {
    z-index: 30 !important;
}

/* -----------------------------------------
   Header Styles
----------------------------------------- */

#login-box {
    text-align: right;
    margin-top: 10px;
}

@media only screen and (max-width: 767px) {
    #login-box {
        text-align:left;
    }
}

#logo-box {
    margin-top: 10px !important;
    h3 {
        font-family: 'MetaNormal' !important;
        margin-top: 5px !important;
    }
}

#logo-box img {
    height:40px;
    float:left;
    padding: 3px;
    padding-right: 6px;
}

#navigation-box .nav-bar {
    float: right !important;
    font-family: 'Open Sans Light' !important;
}

#navigation-box ul {
    margin-bottom: 0px;
    margin-top: 10px;
    background: none;
    border: none;
    overflow: hidden;
}


#navigation-box-mobile ul {
    margin-bottom: 0px;
    margin-top: 10px;
    background: none;
    border: none;
    float: none !important;
}

@media only screen and (max-width: 767px) {
    #logo-box {
        text-align:center;
    }
}

li.last {
    border-right:none;
}

.active-nav {
    .opensans;
}

/* -----------------------------------------
   Main Page Styles
----------------------------------------- */

.main-section {
    margin-bottom: 40px;
}

.more-posts {
    text-align: left;
    margin: 20px 0px 40px 0px;
}

#featured {
    width: 992px;
    height: 200px;
    background: #000 url('/media/img/foundation/orbit/loading.gif') no-repeat center center;
    overflow: hidden;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

#main-featured-avatar {
    -moz-border-radius: 5px;
    border-radius: 5px;
}

ul.orbit-bullets li {
    background: url('/media/img/foundation/orbit/bullets.png') no-repeat 4px 0 !important;
    &.active {
        background-position: -8px 0 !important;
    }
}

/* -----------------------------------------
   People Page Styles
----------------------------------------- */

#profiles-view-avatar, #profiles-edit-avatar {
    width: 128px;
}

#main-featured-avatar {
    width: 80px;
    height: 80px
}

.profiles-people-avatar {
    width: 50px;
    height: 50px;
}

.hidden {
    display: none;
}

.smallmap {
    width: 100%;
    height: 300px;
    border: 1px solid #ccc;
    position: relative;
}

.view-change {
    text-align: center;
    .top-margined;
}

.grid-profile {
    padding: 10px !important;
    -moz-border-radius: 5px;
    border-radius: 5px;
    cursor: pointer;
    -moz-transition:box-shadow .1s ease-in;
    -webkit-transition:box-shadow .1s ease-in;
    transition:box-shadow .1s ease-in;
}

.grid-profile:hover {
    -moz-transition:box-shadow .1s ease-out;
    -webkit-transition:box-shadow .1s ease-out;
    transition:box-shadow .1s ease-out;
    box-shadow: 0 2px 5px gray;
    -webkit-box-shadow: 0 2px 5px gray;
    -moz-box-shadow: 0 2px 5px gray;
}

.grid-profile-image img {
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.grid-profile-text img {
    text-align: left;
}

.mobile-list-warning {
    text-align:center;
}

#list-people-view {
    width: 100%;
}

#profiles_listview {
    display: none;
}

.profiles-no-results {
    .grayed;
    margin-bottom: 20px;
    text-align: center;
}

.reps-number {
    .grayed;
    margin-bottom: 20px;
    text-align: center;
}

#profiles-reps-number {
    display: none;
}

/* -----------------------------------------
   View Profile Styles
----------------------------------------- */

.profile-item {
    .top-margined;
}

.smallmap-profile-container {
    margin-top: 20px !important;
}

.white.label {
    background-color: #ccc; color: #444 !important;
}

/* -----------------------------------------
   Edit Profile Styles
----------------------------------------- */

.custom.dropdown ul {
    max-height: 150px;
    overflow-y: auto;
}

.profile-image {
    .grayed;
    .top-margined;
    text-align: center;
    font-size: 10px;
}

#save-profile {
    width: 100%
}

.flat {
    background: none !important;
    border: none !important;
    border-bottom: 1px solid #ccc !important;
    border-radius: 0px !important;
    width: 100%;
}

.smallmap-profile {
    width: 100%;
    height: 128px;
    position: relative;
    float: right;
}

.input-text.big {
    margin: 20px 0px;
    width: 100%;
    background: none !important;
    border: none !important;
    border-bottom: 1px solid #ccc !important;
    border-radius: 0px !important;
}

.input-text {
    margin: 20px 0px !important;
    background: none !important;
    border: none !important;
    border-bottom: 1px solid #ccc !important;
    border-radius: 0px !important;
}

.custom.dropdown {
    margin-bottom: 20px !important;
}

.custom.dropdown > a {
    background-color: transparent !important;
}

.more-info {
    .grayed;
    font-size: 10px;
    text-align: right;
    margin-top: -12px;
}

.edit-profile-item {
    .top-margined;
}

/* -----------------------------------------
   Point Map Styles
----------------------------------------- */

.use-these {
    margin-top: 50px;
    text-align: right;
}

.small.button.close-reveal-modal {
    font-size: 11px;
    line-height: 1;
    position: relative;
    top: 0px;
    right: 0px;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    letter-spacing: 0px;
}

/* -----------------------------------------
   Delete Profile Styles
----------------------------------------- */

.large.button.close-reveal-modal {
    font-size: 18px;
    line-height: 1;
    position: relative;
    top: 0px;
    right: 0px;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    letter-spacing: 0px;
}

/* -----------------------------------------
   Footer Styles
----------------------------------------- */

#colophon {
    color: #bbb;
    padding: 48px 0;
    font-size: 14px;
    line-height: 18px;
    a { color: rgb(103,167,208); }
    a:link { color: rgb(103,167,208); }
    a:visited { color: rgb(103,167,208); }
    a:hover { color: rgb(83,147,188); }
    a:active { color: rgb(83,147,188); }
    nav { font-family: 'Open Sans', sans-serif; }
    ul li {
        font-family: 'Open Sans', sans-serif;
        list-style-type: none;
        margin: 0 0 2px 0;
    }
}

/* -----------------------------------------
   Error Styles
----------------------------------------- */

small.error {
    margin: -20px 0px 20px 4px;
}

/* -----------------------------------------
   Pictogram Styles
----------------------------------------- */

.pictogram-button {
    .pictogram;
    color: #ccc;
    cursor: pointer;
}

.pictogram-button.active, .pictogram-button:hover {
    .grayed;
}

.pictogram-search {
    .pictogram;
    margin-top: 20px;
    float: left;
    color: #ccc;
}

/* -----------------------------------------
   Planet feed Styles
----------------------------------------- */

.ItemTitle {
    font-weight:bold;
    margin:20px 0px 0px 0px;
}

/* -----------------------------------------
   Logo Gray Styles
----------------------------------------- */

#gray-logo {
    .top-margined;
    text-align: center;
    width: 100px;
    margin: 0 auto;
}

#about p {
    font-size: 16px;
    line-height: 24px;
    color: #777;
    text-align: left;
    font-family: Helvetica,arial,sans-serif;
}

/* -----------------------------------------
   Featured reps Styles
----------------------------------------- */

#featured-articles {
    width: 100%;
}

.flat.big {
    height: 200px;
}

.featured-button {
    .top-margined;
    margin-bottom: 20px;
}

.featured-edit {
    float:left;
}

.featured-delete {
    float:right;
}

select#id_user {
    display: none;
}

/* -----------------------------------------
   About page Styles
----------------------------------------- */

#about-text ul {
    list-style-type: circle !important;
    list-style-position: inside;
}

#about-text h4 {
    margin-top: 40px !important;
}
#about-navigation li {
    .opensans;
    font-size: 16px;
    margin-top: 20px !important;
}

#about-navigation nav {
    margin-bottom: 50px !important;
}

/* -----------------------------------------
   Dashboard Styles
----------------------------------------- */

.dashboard-action {
    margin: 5px 0px 20px 0px;
}

.dashboard-clickable {
    cursor: pointer;
}

.dashboard-table {
    width: 100%;
}

.dashboard-filter {
    float: right;
}

.dashboard-box {
    .top-margined;
}

dl.sub-nav dd.active a {
    background-color: rgb(103, 167, 208);
    color: #fff;
    padding: 3px 9px;
}

dl.sub-nav {
    margin: 2px;
    padding: 0 auto;
}

.no-bugs {
    .grayed;
    margin-bottom: 5px;
    text-align: center;
}

.dashboard-mentee {
    margin: 10px !important;
    text-align: center;
    padding: 10px !important;
    -moz-border-radius: 5px;
    border-radius: 5px;
    &.notfilled {
        background: -moz-linear-gradient(top, #da8589 0%, #B50A11 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#da8589), color-stop(100%,#B50A11));
        h6 {
            color: white;
            text-shadow: none;
        }
    }
    &:hover {
        -moz-transition:box-shadow .1s ease-out;
        -webkit-transition:box-shadow .1s ease-out;
        transition:box-shadow .1s ease-out;
        box-shadow: 0 2px 5px gray;
        -webkit-box-shadow: 0 2px 5px gray;
        -moz-box-shadow: 0 2px 5px gray;
    }
    &.empty {
        background: -moz-linear-gradient(top, #ff9966 0%, #ff6633 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff9966), color-stop(100%,#ff6633));
        h6 {
            color: white;
            text-shadow: none;
        }
    }
}

div.overflow-fix-outer {
    position: relative;
    width: 300px;
}

div.overflow-fix-inner {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    position: absolute;
    width: 100%;
}

/* -----------------------------------------
   Reports Styles
----------------------------------------- */

ul.mreports {
    display: block;
    background: #f4f4f4;
    padding: 10px 10px;
    border: 1px solid #ddd;
    border-radius: 2px;
    overflow: hidden;
    li {
        margin: 0;
        padding: 0 4px 0 0;
        float: left;
    }
}

ul.mreports li a, ul.mreports li span {
    text-transform: uppercase;
    font-size: 11px;
    padding-left: 4px;
}

ul.mreports li:first-child a, ul.mreports li:first-child span {
    padding-left: 0;
}

ul.mreports li:before {
    content: "/";
    color: #aaa;
}

ul.mreports li:first-child:before {
    content: "";
}

ul.mreports li.exists:hover a, ul.mreports li.exists a:focus {
    text-decoration: none !important;
}

ul.mreports li.unavailable a {
    color: #999 !important;
}

ul.mreports li.unavailable:hover a, ul.pagination li.unavailable a:focus {
    text-decoration: none !important;
    color: #999 !important;
    cursor: default !important;
}

ul.mreports li.editable a {
    color: #dd4433 !important;
}

.report-box {
    .top-margined;
}

.report-item textarea, select, p {
    margin-top: 20px !important;
}

.report-comment {
    margin-top: 20px !important;
}

.report-delete-comment {
    background: none;
    border: none;
    font-size: 22px;
    float: right;
    color: #aaa;
    text-shadow: 0 -1px 1px rbga(0,0,0,.6);
    font-weight: bold;
    cursor: pointer;
}

.report-delete-comment:hover {
    .grayed;
}

.reports-list-pictogram, .dashboard-list-pictogram {
    font-family: "ModernPictogramsNormal";
    font-size: 20px;
    text-align: center;
}

.reports-list-small-pictogram {
    font-family: "ModernPictogramsNormal";
    font-size: 12px;
}

.reports-order-pictogram {
    font-family: "ModernPictogramsNormal";
    font-size: 16px;
    text-align: center;
    padding-left: 5px;
}

#search-reports {
    margin-top: 15px;
    .align-center;
}

#reports-pagination > ul.pagination {
    float: right;
}

#searchfield {
    float: right !important;
    width: 95% !important;
}
