/* Foundation v2.1.5 http://foundation.zurb.com */
/* Artfully masterminded by ZURB  */

/* --------------------------------------------------
   Table of Contents
-----------------------------------------------------
:: Shared Styles
*/


/* -----------------------------------------
   Shared Styles
----------------------------------------- */

@font-face {
    font-family: 'MetaBlack';
    src: url('http://mozcom-cdn.mozilla.net/img/fonts/MetaWebPro-Black.eot');
    src: local('☺'), url('http://mozcom-cdn.mozilla.net/img/fonts/MetaWebPro-Black.woff') format('woff');
    font-weight: bold;
}

@font-face {
    font-family: 'MetaNormal';
    src: url('http://mozcom-cdn.mozilla.net/img/fonts/MetaWebPro-Normal.eot');
    src: local('☺'), url('http://mozcom-cdn.mozilla.net/img/fonts/MetaWebPro-Normal.woff') format('woff');
    font-weight: bold;
}

@font-face {
    font-family: 'ModernPictogramsNormal';
    src: url('/media/fonts/modernpics-webfont.eot');
    src: url('/media/fonts/modernpics-webfont.eot?#iefix') format('embedded-opentype'),
         url('/media/fonts/modernpics-webfont.woff') format('woff'),
         url('/media/fonts/modernpics-webfont.ttf') format('truetype'),
         url('/media/fonts/modernpics-webfont.svg#ModernPictogramsNormal') format('svg');
    font-weight: normal;
    font-style: normal;

}

body {
	border-top: 3px solid #686868;
	background: #eee;
}

hr {
	margin: 5px 0 18px;
}

a:link, a:visited{
	text-decoration:none;
	-moz-transition:color .3s ease-in;
	-webkit-transition:color .3s ease-in;
	transition:color .3s ease-in;
}

a:hover, a:active{
	-moz-transition:color .3s ease-out;
	-webkit-transition:color .3s ease-out;
	transition:color .3s ease-out;
}

#login-box {
	text-align: right;
	margin-top: 10px;
}

#logo-box {
	font-family: 'MetaNormal';
	margin-top: 10px;
}

#logo-box img {
	height:40px;
	float:left;
	padding: 3px;
}

#navigation-box {
	text-align: right;
}

#navigation-box ul{
	margin-bottom: 0px;
	margin-top: 10px;
	background: none;
	border: none;
}

li.last {
	border-right:none;
}

li.active {
	background: #ddd;
}

#motto {
	text-align: center;
}

.blogpost {
	margin-top: 20px;
}

#more-posts {
	text-align:right;
	margin: 20px 0px 40px 0px;
}

#featured {
  width: 992px;
  height: 200px;
  background: #000 url('images/orbit/loading.gif') no-repeat center center; overflow: hidden;
}

.smallmap {
    width: 100%;
    height: 300px;
    border: 1px solid #ccc;
    z-index: -1;
    position: relative;
}

.input-text.big {
	margin: 20px 0px;
	width: 100%;
	background: none !important;
	border: none !important;
	border-bottom: 1px solid #ccc !important;
	border-radius: 0px !important;
}

.input-text {
	margin: 20px 0px !important;
	background: none !important;
	border: none !important;
	border-bottom: 1px solid #ccc !important;
	border-radius: 0px !important;
}

.pictogram-button {
	margin-top: 20px;
	text-align:center;
	font-family: "ModernPictogramsNormal";
	font-size: 30px;
	color: #ccc;
	cursor: pointer;
}

.pictogram {
	margin-top: 20px;
	text-align:center;
	font-family: "ModernPictogramsNormal";
	font-size: 30px;
	color: #aaa;
	cursor: default;
}

.pictogram-button.active, .pictogram-button:hover {
	color: #888;
}

.pictogram-search {
	float:left;
	font-family: "ModernPictogramsNormal";
	font-size: 30px;
	text-align:center;
	color: #ccc;
	cursor: default;
}

#profile-image {
	margin-top: 20px;
	text-align: left;
	color: #888;
	font-size: 10px;
}

.use-those {
	margin-top: 50px;
	text-align: right;
}

.align-right {
	text-align:right !important;
}

#save-profile {
	margin-top: 50px;
	text-align:right !important;
}

.flat {
	background: none !important;
	border: none !important;
	border-bottom: 1px solid #ccc !important;
	border-radius: 0px !important;
	width: 100%;
}

/* Footer CSS */

#footer h3 a:hover,#footer h3 a:active{
	background:-moz-radial-gradient(center 45deg,ellipse closest-side,rgba(255,255,255,0.3) 0,rgba(255,255,255,0) 100%);
	-moz-transition:background .2s ease-in-out;
}

#footer{
	text-align:center;
	color: rgb(153, 153, 153);
	clear: both;
	padding: 50px 0pt 20px;
}

#footer-contents{
	width:980px;
	text-align:left;
	margin:auto;
}

#footer-contents[dir=rtl]{
	text-align:right;
}

#footer h3 a,#footer h3 a:link,#footer h3 a:visited{
	display:block;
	height:40px;
	width:100px;
	text-indent:-200px;
	font-size:1px;
	overflow:hidden;
}

#footer li li a:link,#footer li li a:visited{
	color:#669be1;
	font-family:georgia,serif;
	font-weight:normal;
	font-size:13px;
	text-transform:none;
}

#footer li li a:hover,#footer li li a:active{
	color:#fff;
}


/* Errors in forms */

small.error {
	margin: -20px 0px 20px 4px;
}
