/* --------------------------------------------------
   Table of Contents
-----------------------------------------------------
:: Fonts
:: Shared Styles
:: Header Styles
:: Main Page Styles
:: People Page Styles
:: View Profile Styles
:: Edit Profile Styles
:: Point Map Styles
:: Delete Profile Styles
:: Footer Styles
:: Error Styles
:: Pictogram Styles
:: Planet feed Styles
:: Logo gray Style
:: Featured rep;
*/


/* -----------------------------------------
   Fonts
----------------------------------------- */

@font-face {
    font-family: 'MetaBlack';
    src: url('/media/fonts/MetaWebPro-Black.eot');
    src: local('☺'), url('/media/fonts/MetaWebPro-Black.woff') format('woff');
    font-weight: bold;
}

@font-face {
    font-family: 'MetaNormal';
    src: local('☺'), url('/media/fonts/MetaWebPro-Normal.woff') format('woff');
    font-weight: bold;
}

@font-face {
    font-family: 'ModernPictogramsNormal';
    src: url('/media/fonts/modernpics-webfont.eot');
    src: url('/media/fonts/modernpics-webfont.eot?#iefix') format('embedded-opentype'),
         url('/media/fonts/modernpics-webfont.woff') format('woff'),
         url('/media/fonts/modernpics-webfont.ttf') format('truetype'),
         url('/media/fonts/modernpics-webfont.svg#ModernPictogramsNormal') format('svg');
    font-weight: normal;
    font-style: normal;

}

/* -----------------------------------------
   Shared Styles
----------------------------------------- */

body {
    border-top: 3px solid #686868;
    background: #eee;
}

hr {
    margin: 5px 0 18px;
}

a:link, a:visited{
    text-decoration:none;
    -moz-transition:color .3s ease-in;
    -webkit-transition:color .3s ease-in;
    transition:color .3s ease-in;
}

a:hover, a:active{
    -moz-transition:color .3s ease-out;
    -webkit-transition:color .3s ease-out;
    transition:color .3s ease-out;
}

/* -----------------------------------------
   Header Styles
----------------------------------------- */

#login-box {
    text-align: right;
    margin-top: 10px;
}

#logo-box {
    font-family: 'MetaNormal';
    margin-top: 10px;
}

#logo-box img {
    height:40px;
    float:left;
    padding: 3px;
}

#navigation-box .nav-bar {
    float: right !important;
}

#navigation-box ul {
    margin-bottom: 0px;
    margin-top: 10px;
    background: none;
    border: none;
}


#navigation-box-mobile ul {
    margin-bottom: 0px;
    margin-top: 10px;
    background: none;
    border: none;
    float: none !important;
}

@media only screen and (max-width: 767px) {
    #logo-box {
        text-align:center;
    }
}

li.last {
    border-right:none;
}

li.active {
    background: #ddd;
}

/* -----------------------------------------
   Main Page Styles
----------------------------------------- */

.main-section {
    margin-bottom: 40px;
}

#more-posts {
    text-align:right;
    margin: 20px 0px 40px 0px;
}

#featured {
    width: 992px;
    height: 200px;
    background: #000 url('/media/img/foundation/orbit/loading.gif') no-repeat center center; 
    overflow: hidden;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

/* -----------------------------------------
   People Page Styles
----------------------------------------- */

.smallmap {
    width: 100%;
    height: 300px;
    border: 1px solid #ccc;
    z-index: -1;
    position: relative;
}

.view-change {
    text-align: center;
    margin-top: 20px;
}

.grid-profile {
    padding: 10px !important;
    -moz-border-radius: 5px;
    border-radius: 5px;
    cursor: pointer;
}

.grid-profile-image img {
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.grid-profile-text img {
    text-align: left;
}

.mobile-list-warning {
    text-align:center;
}

#list-people-view {
    width: 100%;
}

#profiles_listview {
    display: none;
}

/* -----------------------------------------
   View Profile Styles
----------------------------------------- */

.grayed {
    color: #888;
}

.profile-item {
    margin-top: 20px;
}

.smallmap-profile-container {
    margin-top: 20px !important;
}

.white.label {
    background-color: #ccc; color: #444 !important;
}

/* -----------------------------------------
   Edit Profile Styles
----------------------------------------- */

.profile-image {
    margin-top: 20px;
    text-align: center;
    color: #888;
    font-size: 10px;
}

.align-right {
    text-align:right !important;
}

#save-profile {
    margin-top: 50px;
    margin-bottom: 20px;
    text-align:right !important;
}

.flat {
    background: none !important;
    border: none !important;
    border-bottom: 1px solid #ccc !important;
    border-radius: 0px !important;
    width: 100%;
}

.smallmap-profile {
    width: 100%;
    height: 128px;
    z-index: -1;
    position: relative;
    float: right;
}

.input-text.big {
    margin: 20px 0px;
    width: 100%;
    background: none !important;
    border: none !important;
    border-bottom: 1px solid #ccc !important;
    border-radius: 0px !important;
}

.input-text {
    margin: 20px 0px !important;
    background: none !important;
    border: none !important;
    border-bottom: 1px solid #ccc !important;
    border-radius: 0px !important;
}

/* -----------------------------------------
   Point Map Styles
----------------------------------------- */

.use-those {
    margin-top: 50px;
    text-align: right;
}

.small.button.close-reveal-modal {
    font-size: 11px;
    line-height: 1;
    position: relative;
    top: 0px;
    right: 0px;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
}

/* -----------------------------------------
   Delete Profile Styles
----------------------------------------- */

.large.button.close-reveal-modal {
    font-size: 18px;
    line-height: 1;
    position: relative;
    top: 0px;
    right: 0px;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
}

/* -----------------------------------------
   Footer Styles
----------------------------------------- */

#footer h3 a:hover,#footer h3 a:active{
    background:-moz-radial-gradient(center 45deg,ellipse closest-side,rgba(255,255,255,0.3) 0,rgba(255,255,255,0) 100%);
    -moz-transition:background .2s ease-in-out;
}

#footer{
    text-align:center;
    color: rgb(153, 153, 153);
    clear: both;
    padding: 50px 0pt 20px;
}

#footer-contents{
    width:980px;
    text-align:left;
    margin:auto;
}

#footer-contents[dir=rtl]{
    text-align:right;
}

#footer h3 a,#footer h3 a:link,#footer h3 a:visited{
    display:block;
    height:40px;
    width:100px;
    text-indent:-200px;
    font-size:1px;
    overflow:hidden;
}

#footer li li a:link,#footer li li a:visited{
    color:#669be1;
    font-family:georgia,serif;
    font-weight:normal;
    font-size:13px;
    text-transform:none;
}

#footer li li a:hover,#footer li li a:active{
    color:#fff;
}


/* -----------------------------------------
   Error Styles
----------------------------------------- */

small.error {
    margin: -20px 0px 20px 4px;
}

/* -----------------------------------------
   Pictogram Styles
----------------------------------------- */

.pictogram-button {
    margin-top: 20px;
    text-align:center;
    font-family: "ModernPictogramsNormal";
    font-size: 30px;
    color: #ccc;
    cursor: pointer;
}

.pictogram {
    margin-top: 20px;
    text-align:center;
    font-family: "ModernPictogramsNormal";
    font-size: 30px;
    color: #aaa;
    cursor: default;
}

.pictogram-button.active, .pictogram-button:hover {
    color: #888;
}

.pictogram-search {
    float:left;
    font-family: "ModernPictogramsNormal";
    font-size: 30px;
    text-align:center;
    color: #ccc;
    cursor: default;
}

/* -----------------------------------------
   Planet feed Styles
----------------------------------------- */

.ItemTitle {
    font-weight:bold;
    margin:20px 0px 0px 0px;
}

/* -----------------------------------------
   Logo Gray Styles
----------------------------------------- */

#gray-logo {
    text-align:center;
    margin-top:20px;
}

#about p {
    font-size: 16px;
    line-height: 24px;
    color: #777;
    text-align: left;
}

/* -----------------------------------------
   Featured reps Styles
----------------------------------------- */

#featured-articles {
    width: 100%;
}

.flat.big {
    height: 200px;
}

.featured-button {
    margin-top: 20px;
    margin-bottom: 20px;
}

.featured-edit {
    float:left;
}

.featured-delete {
    float:right;
}

select#id_user {
    display: none;
}
