{% extends "main.html" %}
{% block pagetitle %}Page not found!{% endblock %}

{% block content %}
{{ super() }}
<!-- 404 Modal -->
<div id="404-error" class="reveal-modal small">
  <p class="lead">oops, we couldn't find that!</p>
  <h2>404 - Not found</h2>
  <p>We are sorry but we couldn't find the page you requested.</p>
  <p>Check the address for typing errors such as ww.example.com instead of www.example.com</p>
  <a class="close-reveal-modal">&#215;</a>
</div>
<!-- 404 Modal End -->
{% endblock %}

{% block bottomextra %}
  {{ super() }}
  {{ js('404') }}
{% endblock %}
