{% extends "about_base.jinja" %}

{% block pagetitle %}
Mozilla Reps - About
{% endblock %}

{% block main %}
  <!-- About text section -->
  <div id="about-text" class="large-9 columns">
    <h1>About Mozilla Reps</h1>
    <p>Community is the backbone of the Mozilla project. As the
    Mozilla project grows in scope and scale, community needs to be
    strengthened and empowered accordingly. This is the central aim of
    the Mozilla Reps program: to empower and to help push
    responsibility to the edges in order to help the Mozilla
    contributor base grow.</p>
    <p>The Mozilla Reps program provides a simple framework and
    specific tools to help volunteer Mozillians become official
    representatives of Mozilla in their region. Anyone 18 or older who is
    passionate and knowledgeable about Mozilla and who is ready to
    dive deeper into the project can sign-up to the program. The
    Mozilla Reps program helps push responsibility and authority
    further outwards, to more Mozillians, making it much easier for
    volunteers organize and/or attend events, recruit and mentor new
    contributors, and better support their local communities.</p>
    <p>When joining the program, a Mozilla Rep agrees to take on the
    following responsibilities:</p>
    <ul>
      <li>represent Mozilla in their country/region</li>
      <li>promote the Mozilla Project and our mission</li>
      <li>build on and support existing/future local community efforts and programs</li>
      <li>inspire, recruit and support new contributors</li>
      <li>support and mentor future Mozilla Reps</li>
      <li>document clearly all his/her activities</li>
    </ul>
    <h4>An open and community-driven program</h4>
    <p>The Mozilla Reps program is open to anyone 18 or older who is:</p>
    <ul>
      <li>passionate about the Mozilla Project</li>
      <li>knowledgeable of the Mozilla organization, its mission, its
      products and its community</li>
      <li>willing to communicate to as many people as possible and
      keen to inspire people to contribute to Mozilla</li>
    </ul>
    <p>Although anyone can sign-up to become a Mozilla Rep, that
    doesn't mean you automatically become a Mozilla Rep after
    submitting your application. Because Mozilla Reps are entrusted
    with new responsibilities and special tools to speak on Mozilla's
    behalf, to manage budgets, events and swag, each application is
    carefully reviewed by the Mozilla Rep council and each applicant,
    if shortlisted, must pass a short interview before officially
    becoming a Mozilla Rep. </p>
    <h2>ReMo Tools and Resources</h2>
    <p>To make it easier, faster and more efficient to
    organize/participate in events, to obtain sponsorship for
    Mozilla-related travel, to order / customize swag, to document an
    activity, Mozilla Reps have a specific set of tools and resources
    at their disposal. Find out
    more <a href="https://wiki.mozilla.org/ReMo/Tools_and_Resources">here</a>.</p>
    <h2>Who runs the program? And how?</h2>
    <p>The Mozilla Reps program is a community-driven program that
    empowers hundreds of Mozillians around the world. It is managed by
    Mozillians (volunteers and paid staff) for Mozillians. The
    program's organizational structure ensures that the program runs
    efficiently, transparently, and in a participative / collaborative
    way. To learn more about the structure and governance of the
    program,
    click <a href="https://wiki.mozilla.org/ReMo/Structure_Governance">here</a>.
    <h2>Contact</h2>
    <p>If you have a specific question or if you just want to learn
    more about the program, contact one of the members of the Mozilla
    Reps council at reps-council [AT] mozilla [DOT] com</p>
    <p>You're also strongly encouraged to reach out to other Mozilla
    Reps for any questions you may have or ideas you may want to
    share:</p>
    <ul>
      <li>
        IRC - You can join us on these channels on irc.mozilla.org:
        <ol>
          <li>#remo General Channel for ReMo (will be used as our main one)</li>
          <li>#remo-dev Channel on planning and deploying ReMo</li>
        </ol>
      </li>
      <li>
        Mailing Lists
        <ol>
          <li><a href="https://lists.mozilla.org/listinfo/reps-general">Reps-general</a>
          General mailing list of Mozilla Reps</li>
          <li><a href="https://lists.mozilla.org/listinfo/reps-webdev">Reps-webdev</a>
          WedDev and Infrastructure planning and building mailing
          list</li>
          <li><a href="https://lists.mozilla.org/listinfo/reps-mentors">Reps-mentors</a>
          Mentors mailing list used by Mozilla Rep mentors to exchange
          tips and best practices</li>
          <li><a href="https://lists.mozilla.org/listinfo/reps-students">Reps-students</a>
          Students mailing list used by Mozilla Rep students to exchange
          tips and best practices</li>
        </ol>
      </li>
    </ul>
  </div>
{% endblock %}
