{% extends "base_fd4.html" %}

{% set navigation_bar = [
    (url('about'), 'About'),
    (url('faq'),  'FAQ'),
] -%}

{% block content %}
<main role="main">
  <div class="row">
    <!-- Main page content block -->
    {% block main %}{% endblock %}

    <!-- Sidebar with more links -->
    <nav role="navigation" id="about-navigation" class="large-3 columns">
      <h3>Mozilla Reps</h3>
      <ul>
        {% for href, caption in navigation_bar %}
          <li>
          {% if href == request.path %}
            {{ caption|e }}
          {% else %}
            <a href="{{ href|e }}">{{ caption|e }}</a>
          {% endif %}
          </li>
        {% endfor %}
      </ul>
      <h3>See more</h3>
      <ul>
        <li>
          <a href="https://wiki.mozilla.org/ReMo">Mozilla Reps Wiki</a>
        </li>
      </ul>
    </nav>
  </div>
</main>
{% endblock %}

{% block bottomextra %}
{% endblock %}
