<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <!-- Set the viewport width to device width for mobile -->
  <meta name="viewport" content="width=device-width" />
  <title>
    {% block pagetitle %}Mozilla Reps{% endblock%}
  </title>
  <link rel="shortcut icon" href="{{ static('base/img/remo/remo_icon.svg') }}" />
  <!-- Included CSS Files -->
  {% compress css %}
    <link href="{{ static('base/css/foundation-4.css') }}" rel="stylesheet"
          media="screen,projection,tv,print" />
    <link href="{{ static('base/css/responsive-tables.css') }}" rel="stylesheet"
          media="screen,projection,tv,print" />
  {% endcompress %}
  {% block topextra %} {% endblock %}

  <!-- Bing ownership verification -->
  <meta name="msvalidate.01" content="B7B177115A634927D608514DA17B2574" />

  {% block headextra %} {% endblock %}
  <!-- our css is always last to override stuff -->
  {% compress css %}
    <link href="{{ static('base/css/app-fd4.less') }}" rel="stylesheet" type="text/less"
          media="screen,projection,tv" />
  {% endcompress %}
  {% include "includes/google_analytics.jinja" %}

</head>

<body data-mapbox-token="{{ settings.MAPBOX_TOKEN }}">
  <!-- container -->
  <div class="container">

    <!-- Header -->
    <header class="row">
      <div class="large-12 columns">

        <!-- Sign In & Sign Out -->
        <div class="row">
          <div class="large-12 small-12 columns hide-on-print" id="login-box">
            <div class="account anonymous nomenu logout">
              {% if not user.is_authenticated() %}
                {% if request.get_full_path() != '/' %}
                  {% set next_url=request.REQUEST.next %}
                {% endif %}
                <span id="login-menu-locator">
                  <a href="{{ url('oidc_authentication_init') }}?next={{ next_url }}">
                    Login
                  </a>
                </span>
                or
                <a href="#" data-reveal-id="join-modal">Join</a>
              {% else %}
                <div id="logout-menu-locator">
                  {% if user_is_rep(user) %}
                    <a id="base-displayname" href="{{ url('profiles_view_my_profile') }}">
                      {{ user.get_full_name()|default('user.userprofile.display_name') }}
                    </a>
                  {% else %}
                    {{ user.get_full_name()|default('user.userprofile.display_name') }}
                  {% endif %}
                  {% if not user_is_mozillian(user) %}
                    [ <a id="settings-menu-locator"
                        href="{{ url('edit_settings') }}"> Settings </a> ]
                  {% endif %}
                  [ <a href="#" id="logout">Logout</a> ]
                  <form id="logout_form" class="hidden" action="{{ url('oidc_logout') }}" method="post">
                    {% csrf_token %}
                    <input type="submit" value="logout">
                  </form>
                </div>
              {% endif %}
            </div>
          </div>

        <!-- Logo & Navigation -->
        <div class="logo-nav">

          <!-- Logo and Wordmark -->
          <div class="large-3 columns" id="logo-box">
            <a class="logo" href="{{ url('main') }}">
              <img src="{{ static('base/img/remo/remo_logo.svg') }}"
                   alt="Mozilla Reps logo">
            </a>
          </div>

          <!-- Navigation -->
          <nav role="navigation" class="small-12 large-9 columns" id="navigation-box">
            <ul>
              <li class="dropdown">
                {% if user.is_authenticated() %}
                  <a href="{{ url('dashboard') }}"
                      id="dashboard-menu-locator"
                      class="main {{ active(request, '^/dashboard/$') }}">Dashboard</a>
                {% else %}
                  <a href="{{ url('main') }}"
                      id="main-menu-locator"
                      class="main {{ active(request, '^/$') }}">Main</a>
                {% endif %}
              </li>
              <li>
                <a href="{{ url('kpi') }}"
                    id="kpi-menu-locator"
                    class="main {{ active(request, '^/dashboard/kpi/') }}">KPI</a>
              </li>
              <li>
                <a href="{{ url('profiles_list_profiles') }}"
                    id="people-menu-locator"
                    class="main {{ active(request, '^/people/') }}">People</a>
              </li>
              <li>
                <a href="{{ url('events_list_events') }}"
                    id="events-menu-locator"
                    class="main {{ active(request, '^/events/') }}">Events</a>
              </li>
              {% if user_is_rep(user) %}
                <li>
                  <a href="{{ url('voting_list_votings') }}"
                      id="voting-menu-locator"
                      class="main {{ active(request, '^/voting/|^/v/') }}">Votings</a>
                </li>
              {% endif %}
              <li class="dropdown">
                <a href="#" class="dropbtn">Communication</a>
                <ul class="dropdown-content">
                  <li><a href="https://blog.mozilla.org/mozillareps"
                          id="blog-menu-locator"
                          class="main">Blog</a>
                  </li>
                  <li><a href="https://discourse.mozilla-community.org/c/reps"
                          id="forum-menu-locator"
                          class="main">Forum</a>
                  </li>
                  <li><a href="https://planet.mozillareps.org"
                          id="planet-menu-locator"
                          class="main">Planet</a>
                  </li>
                </ul>
              </li>
              <li class="dropdown">
                <a href="#" class="dropbtn">Docs</a>
                <ul class="dropdown-content">
                  <li>
                    <a href="https://wiki.mozilla.org/Reps"
                        id="wiki-menu-locator"
                        class="main">Wiki</a>
                  </li>
                  <li>
                    <a href="https://wiki.mozilla.org/Reps/Leadership"
                        id="wiki-menu-locator"
                        class="main">Education</a>
                  </li>
                </ul>
              </li>
              <li>
                <a href="https://activate.mozilla.community"
                    id="activate-menu-locator"
                    class="main">Activate</a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </header>

    <!-- Page Content -->
    {% if messages %}
      <div class="row hide-on-print">
        <div class="large-12 columns">
          {% for notification in messages %}
            <div class="alert-box {{ notification.tags }}">
              {{ notification.message }}
              <a href="#" class="close">&times;</a>
            </div>
          {% endfor %}
        </div>
      </div>
    {% endif %}

    <!-- Client-side messages -->
    <div class="row hide-on-print">
      <div id="client-message-container" class="hidden large-12 columns">
        <div class="alert-box">
          <a href="#" class="close">&times;</a>
        </div>
      </div>
    </div>

    {% block content %}
    {% endblock %}

    {% block endrow %}
      <div class="end-row"></div>
    {% endblock %}
  </div> <!-- End of container -->

  <!-- Footer -->
  {% block site_footer %}
    {% include "includes/footer_fd4.jinja" %}
  {% endblock %}

  <!-- Join modal start -->
  <div id="join-modal" class="reveal-modal hide-on-print">
    <h1>Become a Community Coordinator in Your Region!</h1>
    <p>
      The Mozilla Reps program is open to all Mozillians who are 18 years of age and above.
      Before you become a Mozilla Rep, you must follow our learning process so that you can become a good
      <a href="https://blog.mozilla.org/mozillareps/2018/10/10/community-coordinator-role/" target="_blank">Community Coordinator</a>
      in your region.
    </p>
    <p>
      Community Coordinators are not a power structure over other Mozillians, instead they are here to help,
      empower and motivate other Mozillians to contribute to Mozilla projects.
    </p>

    <h2>
      There are tons of opportunities you can benefit from joining this program:
    </h2>
    <ul>
        <li>Access to a global community which includes people from many different countries and cultural backgrounds.</li>
        <li>Direct support from Mozilla to help you empower others in your region to advance Mozilla’s goals.</li>
        <li>Opportunity to help your local community grow.</li>
        <li>Grow your leadership and communication skills and build networks with new
          people from many different countries around the globe.</li>
        <li>Amplify Mozilla’s impact in your local region and functional area.</li>
      </ul>
    <p>
      If you want to learn more about our program, you might want to connect with one of our currently active Mozilla
      Reps in your region, so you can learn and understand the challenges and opportunities of this program.
    </p>
    <p>
      <a href="{{ url('profiles_list_profiles') }}" target="_blank">Find Mozilla Reps from your region</a>
    </p>

    <h2>Major requirements:</h2>
    <ul>
      <li>The applicant needs to be at least 18 years old</li>
      <li>The applicant needs to be active within Mozilla for at least 6 months</li>
    </ul>
    <p>
      If you want to learn more about the Reps Program Selection Criteria please
      check <a href="https://wiki.mozilla.org/Reps/Application_Process/Selection_Criteria" target="_blank">here</a>.
    </p>
    <h2>
      The Mozilla Reps application process involves two simple steps. Ready?
      <a href="https://wiki.mozilla.org/Reps/SOPs/Joining" target="_blank">Let's get started!</a>
    </h2>

    <p>Thanks for your interest in making the Web better with Mozilla!</p>

    <a class="close-reveal-modal">&#215;</a>
  </div>
  <!-- Join modal end -->

  <!-- Included JS Files -->
  {% compress js %}
    <script src="{{ static('base/js/jquery-1.11.2.min.js') }}"></script>
    <script src="{{ static('base/js/modernizr.foundation-4.js') }}"></script>
    <script src="{{ static('base/js/foundation-4.min.js') }}"></script>
    <script src="{{ static('base/js/responsive-tables.js') }}"></script>
    <script src="{{ static('base/js/jquery.prettydate.js') }}"></script>
    <script src="{{ static('base/js/jquery.imageready.min.js') }}"></script>
    <script src="{{ static('base/js/placeholder.min.js') }}"></script>
    <script src="{{ static('base/js/remolib.js') }}"></script>
  {% endcompress %}
  {% block bottomextra %} {% endblock %}
  {% compress js %}
    <script src="{{ static('base/js/app.js') }}"></script>
    <script src="{{ static('base/js/init.js') }}"></script>
  {% endcompress %}
</body>

</html>
