{% extends "base_fd4.html" %}
{% block pagetitle %}
  {% if creating %}
    Mozilla Reps - Add {{ verbose_name }}
  {% else %}
    Mozilla Reps - Edit {{ verbose_name }}
  {% endif %}
{% endblock %}
{% block content %}

<main role="main">
  <form method="post">
    {{ csrf() }}
    <div class="row">
      <div class="large-6 columns">
        {% if creating %}
          <h1>Add {{ verbose_name }}</h1>
        {% else %}
          <h1>Edit {{ verbose_name }}</h1>
        {% endif %}
      </div>
    </div>
    <div class="row base-content-edit">
      <div class="large-6 columns">
        {{ field_with_attrs(form.name, placeholder='Name', title='Name') }}
        {{ field_errors(form.name) }}
        <label for="id_active">Set this {{ verbose_name }} as active</label>
        {{ form.active }}
      </div>
    </div>
    <div class="row">
      <div class="large-6 columns align-right">
        <button id="save-object" type="submit"
                class="small button confirm">
          Save {{ verbose_name }}
        </button>
      </div>
    </div>
  </form>
</main>
{% endblock %}
