<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]>
  <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en">
<![endif]-->

<!--[if IE 7]>
  <html class="no-js lt-ie9 lt-ie8" lang="en">
<![endif]-->

<!--[if IE 8]>
  <html class="no-js lt-ie9" lang="en">
<![endif]-->

<!--[if gt IE 8]>
<!-->
  <html lang="en">
<!--<![endif]-->

<head>
  <meta charset="utf-8" />
  <!-- Set the viewport width to device width for mobile -->
  <meta name="viewport" content="width=device-width" />
  <title>
    {% block pagetitle %}Mozilla Reps{% endblock%}
  </title>
  <link rel="shortcut icon" href="{{ static('base/img/remo/shortcut.ico') }}" />
  <!-- Included CSS Files -->
  {% compress css %}
    <link rel="stylesheet" href="{{ static('base/css/tabzilla.css')}}" media="screen" />
    <link href="{{ static('base/css/foundation-4.css') }}" rel="stylesheet"
          media="screen,projection,tv,print" />
    <link href="{{ static('base/css/responsive-tables.css') }}" rel="stylesheet"
          media="screen,projection,tv,print" />
  {% endcompress %}
  {% block topextra %} {% endblock %}

  <!--[if lt IE 9]>
      {% compress css %}
        <link href="{{ static('base/css/ie-fd4.css') }}" rel="stylesheet"
              media="screen,projection,tv" />
      {% endcompress %}
  <![endif]-->
  <!-- IE Fix for HTML5 Tags -->
  <!--[if lt IE 9]>
      {% compress js %}
        <script src="{{ static('base/js/html5.js') }}"></script>
      {% endcompress %}
  <![endif]-->

  <!-- Bing ownership verification -->
  <meta name="msvalidate.01" content="B7B177115A634927D608514DA17B2574" />

  {% block headextra %} {% endblock %}
  <!-- our css is always last to override stuff -->
  {% compress css %}
    <link href="{{ static('base/css/app-fd4.less') }}" rel="stylesheet" type="text/less"
          media="screen,projection,tv" />
  {% endcompress %}
  {% include "includes/google_analytics.jinja" %}

</head>

<body data-mapbox-token="{{ settings.MAPBOX_TOKEN }}">
  <!-- BrowserID -->
  {{ browserid_info() }}

  <!-- Wrapper for background -->
  <div id="wrapper">

    <!-- container -->
    <div class="container">

      <!-- Header -->
      <header class="row">
        <div class="large-12 columns">

          <!-- Sign In & Tabzilla Tab -->

            <!-- Tabzilla Tab -->
            <div id="tabzilla" class="hide-on-print">
              <a href="https://www.mozilla.org/">Mozilla</a>
            </div>

            <!-- Sign In & Sign Out -->
            <div class="large-10 small-10 columns hide-on-print" id="login-box">
              <div class="account anonymous nomenu logout">
                {% if not user.is_authenticated() %}
                  {% if request.get_full_path() != '/' %}
                    {% set next=request.get_full_path() %}
                  {% endif %}
                  <span id="login-menu-locator">
                    {{ browserid_login(link_class='',
                                       next=request.GET.next|default(next|default(''))) }}
                  </span>
                  or
                  <a href="#" data-reveal-id="join-modal">Join</a>
                {% else %}
                  <div class="hide-for-small" id="logout-menu-locator">
                    {% if user_is_rep(user) %}
                      <a id="base-displayname" href="{{ url('profiles_view_my_profile') }}">
                        {{ user.get_full_name()|default('user.userprofile.display_name') }}
                      </a>
                    {% else %}
                      {{ user.get_full_name()|default('user.userprofile.display_name') }}
                    {% endif %}
                    {% if not user_is_mozillian(user) %}
                      [<a id="settings-menu-locator"
                          href="{{ url('edit_settings') }}"> Settings </a>]
                    {% endif %}
                    [{{ browserid_logout(text='Sign out') }}]
                  </div>
                  <div class="show-for-small">
                    {% if user_is_rep(user) %}
                      <a id="base-displayname" href="{{ url('profiles_view_my_profile') }}">
                        {{ user.get_full_name()|default('user.userprofile.display_name') }}
                      </a>
                    {% else %}
                      {{ user.get_full_name()|default('user.userprofile.display_name') }}
                    {% endif %}
                    {% if not user_is_mozillian(user) %}
                      [<a id="settings-menu-locator"
                          href="{{ url('edit_settings') }}"> Settings </a>]
                    {% endif %}
                    <div>
                      [{{ browserid_logout(text='Sign out') }}]
                    </div>
                  </div>
                {% endif %}
              </div>
          </div>

          <!-- Logo & Navigation -->
          <div class="logo-nav">

            <!-- Logo and Wordmark -->
            <div class="large-3 columns" id="logo-box">
              <div class="row">
                <a class="logo" href="{{ url('main') }}">
                  <img src="{{ static('base/img/remo/remo_logo_medium.png') }}"
                       alt="Mozilla Reps logo">
                  {% block logo %}
                  <h2><span class="metabold">mozilla</span> reps</h2>
                  {% endblock %}
                </a>
              </div>
            </div>

            <!-- Navigation -->
            <nav role="navigation" class="large-9 columns hide-for-small" id="navigation-box">
              <ul class="button-group">
                <li>
                  {% if user.is_authenticated() %}
                    <a href="{{ url('dashboard') }}"
                       id="dashboard-menu-locator"
                       class="main {{ active(request, '^/dashboard') }}">Dashboard</a>
                  {% else %}
                    <a href="{{ url('main') }}"
                       id="main-menu-locator"
                       class="main {{ active(request, '^/$') }}">Main</a>
                  {% endif %}
                </li>
                <li>
                  <a href="{{ url('profiles_list_profiles') }}"
                     id="people-menu-locator"
                     class="main {{ active(request, '^/people/') }}">People</a>
                </li>
                <li>
                  <a href="{{ url('events_list_events') }}"
                     id="events-menu-locator"
                     class="main {{ active(request, '^/events/') }}">Events</a>
                </li>
                <li>
                  <a href="https://blog.mozilla.org/mozillareps"
                     id="blog-menu-locator"
                     class="main">Blog</a>
                </li>
                <li>
                  <a href="http://planet.mozillareps.org"
                     id="planet-menu-locator"
                     class="main">Planet</a>
                </li>
                <li>
                  <a href="https://wiki.mozilla.org/ReMo"
                     id="wiki-menu-locator"
                     class="main">Wiki</a>
                </li>
                <li>
                  <a href="{{ url('labs') }}"
                     id="labs-menu-locator"
                     class="main {{ active(request, '^/labs/$') }}">Labs</a>
                </li>
                <li class="last">
                  <a href="{{ url('faq') }}"
                     id="faq-menu-locator"
                     class="main {{ active(request, '^/faq/$') }}">FAQ</a>
                </li>
              </ul>
            </nav>

            <!-- Mobile Navigation -->
            <nav role="navigation" class="small-12 show-for-small hide-on-print" id="navigation-box-mobile">
              <ul class="button-group">
                <li>
                  {% if user.is_authenticated() %}
                    <a href="{{ url('dashboard') }}"
                       class="main {{ active(request, '^/dashboard') }}">Dashboard</a>
                  {% else %}
                    <a href="{{ url('main') }}"
                       class="main {{ active(request, '^/$') }}">Main</a>
                  {% endif %}
                </li>
                <li>
                  <a href="{{ url('profiles_list_profiles') }}"
                     class="main {{ active(request, '^/people/') }}">People</a>
                </li>
                <li class="last">
                  <a href="{{ url('events_list_events') }}" class="main">Events</a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </header>

      <!-- Separator -->
      <div class="row hide-on-print">
        <hr>
      </div>

      <!-- Page Content -->
      {% if messages %}
        <div class="row hide-on-print">
          <div class="large-12 columns">
            {% for notification in messages %}
              <div class="alert-box {{ notification.tags }}">
                {{ notification.message }}
                <a href="#" class="close">&times;</a>
              </div>
            {% endfor %}
          </div>
        </div>
      {% endif %}

      <!-- Client-side messages -->
      <div class="row hide-on-print">
        <div id="client-message-container" class="hidden large-12 columns">
          <div class="alert-box">
            <a href="#" class="close">&times;</a>
          </div>
        </div>
      </div>

      {% block content %}
      {% endblock %}

      {% block endrow %}
        <div class="end-row"></div>
      {% endblock %}
    </div> <!-- End of container -->
  </div> <!-- End of background wrapper -->

  <!-- Footer -->
  {% block site_footer %}
    {% include "includes/footer_fd4.jinja" %}
  {% endblock %}

  <!-- Join modal start -->
  <div id="join-modal" class="reveal-modal hide-on-print">
    <p class="lead">So, you wanna join us?</p>
    <h2>Cool!</h2>
    <p>
      The Mozilla Reps program is open to all Mozillians who are 18 years
      of age and above. Before you become a Mozilla Rep, you must
      complete a short but rigorous application process in order to
      demonstrate your interest in and motivation for joining the
      program. Are you ready to take on the challenges and rewards
      of advancing your leadership to the next level in Mozilla? If
      your answer is YES, apply to become a Mozilla Rep today!
    </p>
    <p>
      Not sure if you're ready for Mozilla Reps? There are many other
      ways to take the lead in the Mozilla Community. If you're a
      student, register for
      the <a href="https://wiki.mozilla.org/ReMo/Student_Reps">Firefox
      Student Ambassadors
      </a> program to gain experience leading projects at your
      school. And all of our contributor opportunities are available
      to you on the <a href="https://mozilla.org/contribute">Get
      Involved homepage</a>.
    </p>
    <p>
      The Mozilla Reps application process involves three simple
      steps:
    </p>
    <ul>
      <li>
        <h4>Step 1</h4>
        <p>Fill out and submit the
        <a href="https://bugzilla.mozilla.org/form.reps.mentorship">
          Mozilla Reps application form</a>.
        A Mozilla Rep mentor will be in touch within 24 hours.</p>
      </li>
      <li>
        <h4>Step 2</h4>
        <p>If your application is approved, you'll be invited to be
        interviewed by a member of the advisory council over IRC or
        IM that same week. The interview lasts about 15 minutes and
        you will be asked some simple questions about yourself, your
        experience contributing to the Mozilla project and, of
        course, your motivation for becoming a MozRep.</p>
      </li>
      <li>
        <h4>Step 3</h4>
        <p>
          If you're accepted into the Mozilla Reps program, your
          mentor will get you started and familiar with the tools at
          your disposal to start organizing events, requesting
          budgets, swag, etc. And just like that, you could become a
          Mozilla Rep!
        </p>
      </li>
    </ul>
    <p>Thanks for your interest in making the Web better with Mozilla!</p>
    <a class="close-reveal-modal">&#215;</a>
  </div>
  <!-- Join modal end -->

  <!-- Included JS Files -->
  {% compress js %}
    <script src="{{ static('base/js/jquery-1.11.2.min.js') }}"></script>
    <script src="{{ static('base/js/modernizr.foundation-4.js') }}"></script>
    <script src="{{ static('base/js/foundation-4.min.js') }}"></script>
    <script src="{{ static('base/js/responsive-tables.js') }}"></script>
    <script src="{{ static('base/js/jquery.prettydate.js') }}"></script>
    <script src="{{ static('base/js/jquery.imageready.min.js') }}"></script>
    <script src="{{ static('base/js/placeholder.min.js') }}"></script>
    <script src="{{ static('base/js/remolib.js') }}"></script>
  {% endcompress %}
  {% block bottomextra %} {% endblock %}
  {% compress js %}
    <script src="{{ static('base/js/app.js') }}"></script>
    <script src="{{ static('base/js/init.js') }}"></script>
  {% endcompress %}
  {{ browserid_js() }}
</body>

</html>
