{% extends "dashboard.html" %}

{% block body_content %}
<!-- continuous reports block -->
{% if ng_reports %}
  <div class="dashboard-box">
    <div class="row">
      <div class="large-7 columns">
        <h2>Reports</h2>
      </div>
      <div class="large-5 columns">
        <dl class="sub-nav dashboard-filter">
          <dt>Filter:</dt>
          <dd class="active">
            <a role="button" id="dashboard-continuous-reports-mine-button" href="#">
              Mine
            </a>
          </dd>
          {% if mentees_ng_reportees %}
            <dd>
              <a role="button" id="dashboard-continuous-reports-mentees-button" href="#">
                My mentees
              </a>
            </dd>
          {% endif %}
          {% if all_ng_reportees %}
            <dd>
              <a role="button" id="dashboard-continuous-reports-all-button" href="#">
                All
              </a>
            </dd>
          {% endif %}
        </dl>
      </div>
    </div>

    <div class="row">
      <!-- my block -->
      {% if user %}
        <div id="dashboard-continuous-reports-mine-block" class="large-12 columns">
          <table class="dashboard-table">
            <tbody>
              <tr>
                <td>
                  {% set activities=count_ng_reports(user, current_streak=True) %}
                  {{ activities }}
                  {% if activities > 0 %}
                    &nbsp;activities<br>
                    <span class="date-range">
                      {% if (user.userprofile.current_streak_start|is_date_today and
                             user.userprofile.current_streak_end|is_date_today) %}
                         Today
                      {% else %}
                          {{ user.userprofile.current_streak_start|strftime('%d %b %Y')}}
                          &nbsp;-&nbsp;
                          {{ user.userprofile.current_streak_end|strftime('%d %b %Y')}}
                      {% endif %}
                    </span>
                  {% endif %}
                </td>
                <td>
                  {% set activities=count_ng_reports(user, longest_streak=True) %}
                  {{ activities }}
                  {% if activities > 0 %}
                    &nbsp;activities<br>
                    <span class="date-range">
                      {% if (user.userprofile.current_streak_start|is_date_today and
                             user.userprofile.current_streak_end|is_date_today) %}
                         Today
                      {% else %}
                          {{ user.userprofile.longest_streak_start|strftime('%d %b %Y')}}
                          &nbsp;-&nbsp;
                          {{ user.userprofile.longest_streak_end|strftime('%d %b %Y')}}
                      {% endif %}
                    </span>
                  {% endif %}
                </td>
                <td>
                  {% set activities=count_ng_reports(user, period=2) %}
                  {{ activities }}
                  {% if activities > 0 %}
                    &nbsp;activities<br>
                    <span class="date-range">
                      {{ get_date_n_weeks_before(today, 2)|strftime('%d %b %Y')}}
                      &nbsp;-&nbsp;
                      {{ today|strftime('%d %b %Y')}}
                    </span>
                  {% endif %}
                </td>
                <td>
                  {% set activities=count_ng_reports(user, period=10) %}
                  {{ activities }}
                  {% if activities > 0 %}
                    &nbsp;activities<br>
                    <span class="date-range">
                      {{ get_date_n_weeks_before(today, 10)|strftime('%d %b %Y')}}
                      &nbsp;-&nbsp;
                      {{ today|strftime('%d %b %Y')}}
                    </span>
                  {% endif %}
                </td>
                <td>
                  {{ count_ng_reports(user) }} activities
                </td>
              </tr>
            </tbody>
            <tfoot>
              <tr>
                <th>Current streak</th>
                <th>Longest streak</th>
                <th>Last 2 weeks</th>
                <th>Last 10 weeks</th>
                <th>All time</th>
              </tr>
            </tfoot>
          </table>
          <div class="align-right">
            <a href="{{ url('list_ng_reports_rep', user.userprofile.display_name) }}"
               role="button"
               class="small button">
               View my reports
            </a>
          </div>
        </div>
      {% endif %}
      <!-- end my block -->

      <!-- mentees block -->
      {% if mentees_ng_reportees %}
        <div id="dashboard-continuous-reports-mentees-block" class="large-12 columns hidden">
          <table class="dashboard-table">
            <thead>
              <tr>
                <th>Name</th>
                <th>Current streak</th>
                <th>Longest streak</th>
                <th>Last 2 weeks</th>
                <th>Last 10 weeks</th>
                <th>Total</th>
              </tr>
            </thead>
            <tbody>
              {% cache mentees_ng_reportees %}
                {% for reportee in mentees_ng_reportees %}
                  <tr>
                    <td>
                      <a href="{{ url('profiles_view_profile',
                                      reportee|get_display_name) }}">
                        {{ reportee.get_full_name() }}
                      </a>
                    </td>
                    <td>{{ count_ng_reports(reportee, current_streak=True) }} days</td>
                    <td>{{ count_ng_reports(reportee, longest_streak=True) }} days</td>
                    <td>{{ count_ng_reports(reportee, period=2) }} activities</td>
                    <td>{{ count_ng_reports(reportee, period=10) }} activities</td>
                    <td>{{ count_ng_reports(reportee) }} activities</td>
                  </tr>
                {% endfor %}
              {% endcache %}
            </tbody>
          </table>
          <div class="align-right">
            <a href="{{ url('list_ng_reports_mentor', user.userprofile.display_name) }}"
               role="button"
               class="small button">
               Mentees reports
            </a>
          </div>
        </div>
      {% endif %}
      <!-- end mentees block -->

      <!-- all block -->
      {% if all_ng_reportees %}
        <div id="dashboard-continuous-reports-all-block" class="large-12 columns hidden">
          <table class="dashboard-table">
            <thead>
              <tr>
                <th>Name</th>
                <th>Current streak</th>
                <th>Longest streak</th>
                <th>Last 2 weeks</th>
                <th>Last 10 weeks</th>
                <th>Total</th>
              </tr>
            </thead>
            <tbody>
              {% cache all_ng_reportees %}
                {% for reportee in all_ng_reportees %}
                  <tr>
                    <td>
                      <a href="{{ url('profiles_view_profile',
                                      reportee|get_display_name) }}">
                        {{ reportee.get_full_name() }}
                      </a>
                    </td>
                    <td>{{ count_ng_reports(reportee, current_streak=True) }} days</td>
                    <td>{{ count_ng_reports(reportee, longest_streak=True) }} days</td>
                    <td>{{ count_ng_reports(reportee, period=2) }} activities</td>
                    <td>{{ count_ng_reports(reportee, period=10) }} activities</td>
                    <td>{{ count_ng_reports(reportee) }} activities</td>
                  </tr>
                {% endfor %}
              {% endcache %}
            </tbody>
          </table>
          <div class="align-right">
            <a href="{{ url('list_ng_reports') }}"
               role="button"
               class="small button">
               All reports
            </a>
          </div>
        </div>
      {% endif %}
      <!-- end all block -->
    </div>
  </div>
  <!-- end continuous reports block -->
{% endif %}
{% if waffle.flag('reports_ng_report') %}
  <div class="row">
    <div class="large-12 columns align-right dashboard-action">
      <a href="{{ url('reports_new_ng_report') }}"
         target="_blank"
         role="button"
         class="small button">
        Add new report
      </a>
    </div>
  </div>
{% endif %}

{% if monthly_reports is defined or
      mentees_reports_list is defined or
      mentees_reports_grid is defined or
      all_reports is defined %}
  <!-- reports block -->
  <div class="dashboard-box">
    <div class="row">
      <div class="large-7 columns">
        <h2>Reports</h2>
      </div>
      <div class="large-5 columns">
        <dl class="sub-nav dashboard-filter">
          <dt>Filter:</dt>
          {% if monthly_reports is defined %}
            <dd class="active">
              <a id="dashboard-reports-mine-button" href="#">
                Mine
              </a>
            </dd>
          {% endif %}
          {% if mentees_reports_grid is defined %}
            <dd {% if monthly_reports is not defined %} class="active" {% endif %}>
              <a id="dashboard-reports-mentees-grid-button" href="#">
                My mentees grid
              </a>
            </dd>
          {% endif %}
          {% if mentees_reports_list is defined %}
            <dd>
              <a id="dashboard-reports-mentees-list-button" href="#">
                My mentees list
              </a>
            </dd>
          {% endif %}
          {% if all_reports is defined %}
            <dd {% if monthly_reports is not defined and
                      mentees_reports_grid is not defined %}
                class="active"
                {% endif %}>
              <a id="dashboard-reports-all-button" href="#">
                All
              </a>
            </dd>
          {% endif %}
        </dl>
      </div>
    </div>

    <div class="row">
      <!-- my block -->
      {% if monthly_reports is defined %}
        <div id="dashboard-reports-my-block" class="large-12 columns">
          {% include "monthly_reports_fd4.html" %}
        </div>
      {% endif %}
      <!-- end my block -->

      <!-- mentees list block -->
      {% if mentees_reports_list is defined %}
        <div id="dashboard-reports-mentees-list-block" class="large-12 hidden columns">
          {% if mentees_reports_list %}
            <table class="dashboard-table">
              <thead>
                <tr>
                  <th class="dashboard-clickable type-string">Fullname</th>
                  <th class="dashboard-clickable type-int">Year</th>
                  <th class="dashboard-clickable type-string">Month</th>
                  <th class="dashboard-clickable type-string">Date filled</th>
                  <th class="dashboard-clickable type-string align-center">Empty</th>
                  <th class="dashboard-clickable type-string align-center">Overdue</th>
                </tr>
              </thead>
              <tbody>
                {% cache mentees_reports_list %}
                  {% for report in mentees_reports_list %}
                    <tr>
                      <td>
                        <a href="{{ url('profiles_view_profile',
                                        report.user|get_display_name) }}">
                          {{ report.user.get_full_name() }}
                        </a>
                      </td>
                      <td>{{ report.month.strftime("%Y") }}</td>
                      <td>
                        <a href="{{ report|get_report_view_url }}">
                          {{ report.month.strftime("%B") }}
                        </a>
                      </td>
                      <td>{{ report.updated_on|format_datetime }}</td>
                      <td class="empty-cell">
                        {% if report.empty %}
                          <span class="pict-table-icon tick"></span>
                        {% endif %}
                      </td>
                      <td class="overdue-cell">
                        {% if report.overdue %}
                          <span class="pict-table-icon tick"></span>
                        {% endif %}
                      </td>
                    </tr>
                  {% endfor %}
                {% endcache %}
              </tbody>
            </table>
          {% else %}
            <div class="row">
              <div class="large-12 columns no-bugs">
                <p>No Reports found!</p>
              </div>
            </div>
          {% endif %}
          {% if mentees_emails is not none %}
            <div class="align-right">
              <button data-reveal-id="mail-modal"
                 class="small button">Email my mentees</button>
            </div>
          {% endif %}
        </div>
      {% endif %}
      <!-- end mentees list block -->

      <!-- mentes grid block -->
      {% if mentees_reports_grid is defined %}
        <div id="dashboard-reports-mentees-grid-block"
          {% if monthly_reports is defined %}
            class="large-12 hidden columns"
          {% else %}
            class="large-12 columns"
          {% endif %}>
          <h5>for {{ mentees_reports_grid['month'] }}</h5>
          {% if mentees_reports_grid['reports']|length > 0 %}
            <ul class="large-block-grid-4 small-block-grid-1">
              {% for report in mentees_reports_grid['reports'] %}
                <li>
                  <a href="{{ url('profiles_view_profile',
                                    report.user|get_display_name) }}">
                    <div class="panel dashboard-mentee {{ report.status }}">
                      <img src="{{ report.user|get_avatar_url(50) }}"
                           class="profiles-people-avatar"
                           alt="avatar">
                      <h6>{{ report.user.get_full_name() }}</h6>
                    </div>
                  </a>
                </li>
              {% endfor %}
            </ul>
          {% else %}
            <div class="row">
              <div class="large-12 columns no-bugs">
                <p>No Reports found!</p>
              </div>
            </div>
          {% endif %}
          {% if mentees_emails is not none %}
            <div class="align-right">
              <button data-reveal-id="mail-modal"
                 class="small button">Email my mentees</button>
            </div>
          {% endif %}
        </div>
      {% endif %}
      <!-- end mentees grid block -->

      <!-- all reports block -->
      {% if all_reports is defined %}
        <div id="dashboard-reports-all-block"
             {% if monthly_reports is defined or
                   mentees_reports_grid is defined %}
                class="large-12 hidden columns"
             {% else %}
                class="large-12 columns"
             {% endif %}>
          {% if all_reports %}
            <table class="dashboard-table">
              <thead>
                <tr>
                  <th class="dashboard-clickable type-string">Fullname</th>
                  <th class="dashboard-clickable type-int">Year</th>
                  <th class="dashboard-clickable type-string">Month</th>
                  <th class="dashboard-clickable type-string">Date filled</th>
                  <th class="dashboard-clickable type-string align-center">Empty</th>
                  <th class="dashboard-clickable type-string align-center">Overdue</th>
                </tr>
              </thead>
              <tbody>
                {% cache all_reports %}
                  {% for report in all_reports %}
                    <tr>
                      <td>
                        <a href="{{ url('profiles_view_profile',
                                        report.user|get_display_name) }}">
                          {{ report.user.get_full_name() }}
                        </a>
                      </td>
                      <td>{{ report.month.strftime("%Y") }}</td>
                      <td>
                        <a href="{{ report|get_report_view_url }}">
                          {{ report.month.strftime("%B") }}
                        </a>
                      </td>
                      <td title="{{ report.updated_on|format_datetime }}"
                          data-time="{{ report.updated_on|format_datetime_iso }}">
                        {{ report.updated_on|format_datetime }}
                      </td>
                      <td class="empty-cell">
                        {% if report.empty %}
                          <span class="pict-table-icon tick"></span>
                        {% endif %}
                      </td>
                      <td class="overdue-cell">
                        {% if report.overdue %}
                          <span class="pict-table-icon tick"></span>
                        {% endif%}
                      </td>
                    </tr>
                  {% endfor %}
                {% endcache %}
              </tbody>
            </table>
          {% else %}
            <div class="row">
              <div class="large-12 columns no-bugs">
                <p>No Reports found!</p>
              </div>
            </div>
          {% endif %}
        </div>
      {% endif %}
      <!-- end all reports block -->
    </div>
  </div>
{% endif %}
<!-- end reports block -->


<!-- budget requests block -->
<div class="row">
  <div class="dashboard-box">
    <div class="large-7 columns">
      <h2>Budget Requests</h2>
    </div>
    <div class="large-5 columns">
      <dl class="sub-nav dashboard-filter">
        <dt>Filter:</dt>
        <dd class="active">
          <a id="dashboard-br-mine-button" href="#">Mine</a>
        </dd>
        {% if mentees_budget_requests is defined %}
          <dd>
            <a id="dashboard-br-mentees-button" href="#">My mentees</a>
          </dd>
        {% endif %}
        {% if all_budget_requests is defined %}
          <dd>
            <a id="dashboard-br-all-button" href="#">All</a>
          </dd>
        {% endif %}
      </dl>
    </div>
  </div>
</div>

<div class="row">
  <div id="dashboard-br-my-block" class="large-12 columns">
    {% if my_budget_requests %}
      <table class="dashboard-table">
        <thead>
          <tr>
            <th class="dashboard-clickable type-int">ID</th>
            <th class="dashboard-clickable type-string">Creator</th>
            <th>Summary</th>
            <th class="dashboard-clickable type-string">Whiteboard</th>
            <th class="dashboard-clickable type-string">Status</th>
            <th class="dashboard-clickable type-string">Last updated</th>
          </tr>
        </thead>
        <tbody>
          {% cache my_budget_requests %}
            {% for bug in my_budget_requests %}
              <tr class='my-budget-request'>
                <td>
                  <a href="{{ bug.bug_id|get_bugzilla_url }}" target="_blank">
                    {{ bug.bug_id }}
                  </a>
                </td>
                <td>
                  <a href="{{ url('profiles_view_profile',
                                  bug.creator|get_display_name) }}">
                    {{ bug.creator|get_display_name }}
                  </a>
                </td>
                <td>
                  <div class="hide-for-small">
                    <div class="overflow-fix" title="{{ bug.summary }}">
                      {{ bug.summary }}
                    </div>
                  </div>
                  <div class="show-for-small">
                    {{ bug.summary }}
                  </div>
                </td>
                <td>{{ bug.whiteboard }}</td>
                <td>{{ bug.status }}</td>
                <td title="{{ bug.bug_last_change_time|format_datetime }}"
                    data-order-by="{{ bug.bug_last_change_time|format_datetime_unix }}"
                    data-time="{{ bug.bug_last_change_time|format_datetime_iso }}">
                  {{ bug.bug_last_change_time|format_datetime }}
                </td>
              </tr>
            {% endfor %}
          {% endcache %}
        </tbody>
      </table>
    {% else %}
      <div class="row">
        <div class="large-12 columns no-bugs">
          <p>No Bugs found!</p>
        </div>
      </div>
    {% endif %}
    <div class="align-right">
      <a href="https://bugzilla.mozilla.org/buglist.cgi?emailcc1=1&emailreporter1=1&email1={{ user.email|urlencode }}&component=Budget%20Requests&product=Mozilla%20Reps"
         target="_blank"
         role="button"
         class="small button">
        View on Bugzilla
      </a>
    </div>
  </div> <!-- end my_budget_requests -->

  {% if mentees_budget_requests is defined %}
    <div id="dashboard-br-mentees-block" class="large-12 hidden columns">
      {% if mentees_budget_requests %}
        <table class="dashboard-table">
          <thead>
            <tr>
              <th class="dashboard-clickable type-int">ID</th>
              <th class="dashboard-clickable type-string">Creator</th>
              <th>Summary</th>
              <th class="dashboard-clickable type-string">Whiteboard</th>
              <th class="dashboard-clickable type-string">Status</th>
              <th class="dashboard-clickable type-string">Last updated</th>
            </tr>
          </thead>
          <tbody>
            {% cache mentees_budget_requests %}
              {% for bug in mentees_budget_requests %}
                <tr class='my-budget-request'>
                  <td>
                    <a href="{{ bug.bug_id|get_bugzilla_url }}" target="_blank">
                      {{ bug.bug_id }}
                    </a>
                  </td>
                  <td>
                    <a href="{{ url('profiles_view_profile',
                                    bug.creator|get_display_name) }}">
                      {{ bug.creator|get_display_name }}
                    </a>
                  </td>
                  <td>
                    <div class="hide-for-small">
                      <div class="overflow-fix" title="{{ bug.summary }}">
                        {{ bug.summary }}
                      </div>
                    </div>
                    <div class="show-for-small">
                      {{ bug.summary }}
                    </div>
                  </td>
                  <td>{{ bug.whiteboard }}</td>
                  <td>{{ bug.status }}</td>
                  <td title="{{ bug.bug_last_change_time|format_datetime }}"
                      data-order-by="{{ bug.bug_last_change_time|format_datetime_unix }}"
                      data-time="{{ bug.bug_last_change_time|format_datetime_iso }}">
                    {{ bug.bug_last_change_time|format_datetime }}
                  </td>
                </tr>
              {% endfor %}
            {% endcache %}
          </tbody>
        </table>
      {% else %}
        <div class="row">
          <div class="large-12 columns no-bugs">
            <p>No Bugs found!</p>
          </div>
        </div>
      {% endif %}
    </div> <!-- end mentees_budget_requests -->
  {% endif %}

  {% if all_budget_requests is defined %}
    <div id="dashboard-br-all-block" class="large-12 hidden columns">
      {% if all_budget_requests %}
        <table class="dashboard-table">
          <thead>
            <tr>
              <th class="dashboard-clickable type-int">ID</th>
              <th class="dashboard-clickable type-string">Creator</th>
              <th>Summary</th>
              <th class="dashboard-clickable type-string">Whiteboard</th>
              <th class="dashboard-clickable type-string">Status</th>
              <th class="dashboard-clickable type-string">Last updated</th>
            </tr>
          </thead>
          <tbody>
            {% cache all_budget_requests %}
              {% for bug in all_budget_requests %}
                <tr class='my-budget-request'>
                  <td>
                    <a href="{{ bug.bug_id|get_bugzilla_url }}" target="_blank">
                      {{ bug.bug_id }}
                    </a>
                  </td>
                  <td>
                    <a href="{{ url('profiles_view_profile',
                                    bug.creator|get_display_name) }}">
                      {{ bug.creator|get_display_name }}
                    </a>
                  </td>
                  <td>
                    <div class="hide-for-small">
                      <div class="overflow-fix" title="{{ bug.summary }}">
                        {{ bug.summary }}
                      </div>
                    </div>
                    <div class="show-for-small">
                      {{ bug.summary }}
                    </div>
                  </td>
                  <td>{{ bug.whiteboard }}</td>
                  <td>{{ bug.status }}</td>
                  <td title="{{ bug.bug_last_change_time|format_datetime }}"
                      data-order-by="{{ bug.bug_last_change_time|format_datetime_unix }}"
                      data-time="{{ bug.bug_last_change_time|format_datetime_iso }}">
                    {{ bug.bug_last_change_time|format_datetime }}
                  </td>
                </tr>
              {% endfor %}
            {% endcache %}
          </tbody>
        </table>
      {% else %}
        <div class="row">
          <div class="large-12 columns no-bugs">
            <p>No Bugs found!</p>
          </div>
        </div>
      {% endif %}
      <div class="align-right">
        <a href="https://bugzilla.mozilla.org/buglist.cgi?list_id=2655390;resolution=---;classification=Other;query_format=advanced;component=Budget%20Requests;product=Mozilla%20Reps"
           class="small button" target="_blank" role="button">See all bugs</a>
      </div>
    </div> <!-- end all_budget_requests -->
  {% endif %}
</div>

<!-- New Budget Request -->
<div class="row">
  <div class="large-12 columns align-right dashboard-action">
    <a href="https://bugzilla.mozilla.org/form.reps.budget"
       target="_blank"
       role="button"
       class="small button">
      New Budget Request
    </a>
  </div>
</div>

<!-- end budget requests block -->


<!-- swag requests block -->
<div class="row">
  <div class=" dashboard-box">
    <div class="large-7 columns">
      <h2>Swag Requests</h2>
    </div>
    <div class="large-5 columns">
      <dl class="sub-nav dashboard-filter">
        <dt>Filter:</dt>
        <dd class="active">
          <a id="dashboard-sr-mine-button" href="#">Mine</a>
        </dd>
        {% if mentees_swag_requests is defined %}
          <dd>
            <a id="dashboard-sr-mentees-button" href="#">My mentees</a>
          </dd>
        {% endif %}
        {% if all_swag_requests is defined %}
          <dd>
            <a id="dashboard-sr-all-button" href="#">All</a>
          </dd>
        {% endif %}
      </dl>
    </div>
  </div>
</div>

<div class="row">
  <div id="dashboard-sr-my-block" class="large-12 columns">
    {% if my_swag_requests %}
      <table class="dashboard-table">
        <thead>
          <tr>
            <th class="dashboard-clickable type-int">ID</th>
            <th class="dashboard-clickable type-string">Creator</th>
            <th>Summary</th>
            <th class="dashboard-clickable type-string">Whiteboard</th>
            <th class="dashboard-clickable type-string">Status</th>
            <th class="dashboard-clickable type-string">Last updated</th>
          </tr>
        </thead>
        <tbody>
          {% cache my_swag_requests %}
            {% for bug in my_swag_requests %}
              <tr class='my-swag-request'>
                <td>
                  <a href="{{ bug.bug_id|get_bugzilla_url }}" target="_blank">
                    {{ bug.bug_id }}
                  </a>
                </td>
                <td>
                  <a href="{{ url('profiles_view_profile',
                                  bug.creator|get_display_name) }}">
                    {{ bug.creator|get_display_name }}
                  </a>
                </td>
                <td>
                  <div class="hide-for-small">
                    <div class="overflow-fix" title="{{ bug.summary }}">
                      {{ bug.summary }}
                    </div>
                  </div>
                  <div class="show-for-small">
                    {{ bug.summary }}
                  </div>
                </td>
                <td>{{ bug.whiteboard }}</td>
                <td>{{ bug.status }}</td>
                <td title="{{ bug.bug_last_change_time|format_datetime }}"
                    data-order-by="{{ bug.bug_last_change_time|format_datetime_unix }}"
                    data-time="{{ bug.bug_last_change_time|format_datetime_iso }}">
                  {{ bug.bug_last_change_time|format_datetime }}
                </td>
              </tr>
            {% endfor %}
          {% endcache %}
        </tbody>
      </table>
    {% else %}
      <div class="row">
        <div class="large-12 columns no-bugs">
          <p>No Bugs found!</p>
        </div>
      </div>
    {% endif %}
    <div class="align-right">
      <a href="https://bugzilla.mozilla.org/buglist.cgi?emailcc1=1&emailreporter1=1&email1={{ user.email|urlencode }}&component=Swag%20Requests&product=Mozilla%20Reps"
         target="_blank"
         role="button"
         class="small button">
        View on Bugzilla
      </a>
    </div>
  </div> <!-- end my_swag_requests -->

  {% if mentees_swag_requests is defined %}
    <div id="dashboard-sr-mentees-block" class="large-12 hidden columns">
      {% if mentees_swag_requests %}
        <table class="dashboard-table">
          <thead>
            <tr>
              <th class="dashboard-clickable type-int">ID</th>
              <th class="dashboard-clickable type-string">Creator</th>
              <th>Summary</th>
              <th class="dashboard-clickable type-string">Whiteboard</th>
              <th class="dashboard-clickable type-string">Status</th>
              <th class="dashboard-clickable type-string">Last updated</th>
            </tr>
          </thead>
          <tbody>
            {% cache mentees_swag_requests %}
              {% for bug in mentees_swag_requests %}
                <tr class='my-swag-request'>
                  <td>
                    <a href="{{ bug.bug_id|get_bugzilla_url }}" target="_blank">
                      {{ bug.bug_id }}
                    </a>
                  </td>
                  <td>
                    <a href="{{ url('profiles_view_profile',
                                    bug.creator|get_display_name) }}">
                      {{ bug.creator|get_display_name }}
                    </a>
                  </td>
                  <td>
                    <div class="hide-for-small">
                      <div class="overflow-fix" title="{{ bug.summary }}">
                        {{ bug.summary }}
                      </div>
                    </div>
                    <div class="show-for-small">
                      {{ bug.summary }}
                    </div>
                  </td>
                  <td>{{ bug.whiteboard }}</td>
                  <td>{{ bug.status }}</td>
                  <td title="{{ bug.bug_last_change_time|format_datetime }}"
                      data-order-by="{{ bug.bug_last_change_time|format_datetime_unix }}"
                      data-time="{{ bug.bug_last_change_time|format_datetime_iso }}">
                    {{ bug.bug_last_change_time|format_datetime }}
                  </td>
                </tr>
              {% endfor %}
            {% endcache %}
          </tbody>
        </table>
      {% else %}
        <div class="row">
          <div class="large-12 columns no-bugs">
            <p>No Bugs found!</p>
          </div>
        </div>
      {% endif %}
    </div> <!-- end mentees_swag_requests -->
  {% endif %}

  {% if all_swag_requests is defined %}
    <div id="dashboard-sr-all-block" class="large-12 hidden columns">
      {% if all_swag_requests %}
        <table class="dashboard-table">
          <thead>
            <tr>
              <th class="dashboard-clickable type-int">ID</th>
              <th class="dashboard-clickable type-string">Creator</th>
              <th>Summary</th>
              <th class="dashboard-clickable type-string">Whiteboard</th>
              <th class="dashboard-clickable type-string">Status</th>
              <th class="dashboard-clickable type-string">Last updated</th>
            </tr>
          </thead>
          <tbody>
            {% cache all_swag_requests %}
              {% for bug in all_swag_requests %}
                <tr class='my-swag-request'>
                  <td>
                    <a href="{{ bug.bug_id|get_bugzilla_url }}" target="_blank">
                      {{ bug.bug_id }}
                    </a>
                  </td>
                  <td>
                    <a href="{{ url('profiles_view_profile',
                                    bug.creator|get_display_name) }}">
                      {{ bug.creator|get_display_name }}
                    </a>
                  </td>
                  <td>
                    <div class="hide-for-small">
                      <div class="overflow-fix" title="{{ bug.summary }}">
                        {{ bug.summary }}
                      </div>
                    </div>
                    <div class="show-for-small">
                      {{ bug.summary }}
                    </div>
                  </td>
                  <td>{{ bug.whiteboard }}</td>
                  <td>{{ bug.status }}</td>
                  <td title="{{ bug.bug_last_change_time|format_datetime }}"
                      data-order-by="{{ bug.bug_last_change_time|format_datetime_unix }}"
                      data-time="{{ bug.bug_last_change_time|format_datetime_iso }}">
                    {{ bug.bug_last_change_time|format_datetime }}
                  </td>
                </tr>
              {% endfor %}
            {% endcache %}
          </tbody>
        </table>
      {% else %}
        <div class="row">
          <div class="large-12 columns no-bugs">
            <p>No Bugs found!</p>
          </div>
        </div>
      {% endif %}
      <div class="align-right">
        <a href="https://bugzilla.mozilla.org/buglist.cgi?list_id=2655390;resolution=---;classification=Other;query_format=advanced;component=Swag%20Requests;product=Mozilla%20Reps"
           class="small button" target="_blank">See all bugs</a>
      </div>
    </div> <!-- end all_swag_requests -->
  {% endif %}
</div>

<!-- New Swag Request -->
<div class="row">
  <div class="large-12 columns align-right dashboard-action">
    <a href="https://bugzilla.mozilla.org/form.reps.swag"
       target="_blank"
       class="small button">
      New Swag Request
    </a>
  </div>
</div>
<!-- end swag requests block -->


<!-- community it requests block -->
{% if my_cit_requests is defined %}
  <div class="row">
    <div class="large-7 columns dashboard-box">
      <h2>Community IT Requests</h2>
    </div>
  </div>
  <div class="row">
    <div id="dashboard-citr-block" class="large-12 columns">
      {% if my_cit_requests %}
        <table class="dashboard-table">
          <thead>
            <tr>
              <th class="dashboard-clickable type-int">ID</th>
              <th class="dashboard-clickable type-string">Creator</th>
              <th>Summary</th>
              <th class="dashboard-clickable type-string">Whiteboard</th>
              <th class="dashboard-clickable type-string">Status</th>
              <th class="dashboard-clickable type-string">Last updated</th>
            </tr>
          </thead>
          <tbody>
            {% cache my_cit_requests %}
              {% for bug in my_cit_requests %}
                <tr class='my-cit-request'>
                  <td>
                    <a href="{{ bug.bug_id|get_bugzilla_url }}" target="_blank">
                      {{ bug.bug_id }}
                    </a>
                  </td>
                  <td>
                    <a href="{{ url('profiles_view_profile',
                                    bug.creator|get_display_name) }}">
                      {{ bug.creator|get_display_name }}
                    </a>
                  </td>
                  <td>
                    <div class="hide-for-small">
                      <div class="overflow-fix" title="{{ bug.summary }}">
                        {{ bug.summary }}
                      </div>
                    </div>
                    <div class="show-for-small">
                      {{ bug.summary }}
                    </div>
                  </td>
                  <td>{{ bug.whiteboard }}</td>
                  <td>{{ bug.status }}</td>
                  <td title="{{ bug.bug_last_change_time|format_datetime }}"
                      data-time="{{ bug.bug_last_change_time|format_datetime_iso }}"
                      data-order-by="{{ bug.bug_last_change_time|format_datetime_unix }}">
                    {{ bug.bug_last_change_time|format_datetime }}
                  </td>
                </tr>
              {% endfor %}
            {% endcache %}
          </tbody>
        </table>
      {% else %}
        <div class="row">
          <div class="large-12 columns no-bugs">
            <p>No Bugs found!</p>
          </div>
        </div>
      {% endif %}
    </div> <!-- end my_cit_requests -->
  </div>
{% endif %}
<!-- end community it requests block -->

<!-- mentorship requests block -->
{% if my_mentorship_requests is defined %}
  <div class="row">
    <div class="large-7 columns dashboard-box">
      <h2>Mentorship</h2>
    </div>
  </div>
  <div class="row">
    <div id="dashboard-mentorship-block" class="large-12 columns">
      {% if my_mentorship_requests %}
        <table class="dashboard-table">
          <thead>
            <tr>
              <th class="dashboard-clickable type-int">ID</th>
              <th class="dashboard-clickable type-string">Creator</th>
              <th>Summary</th>
              <th class="dashboard-clickable type-string">Whiteboard</th>
              <th class="dashboard-clickable type-string">Status</th>
              <th class="dashboard-clickable type-string">Last updated</th>
            </tr>
          </thead>
          <tbody>
            {% cache my_mentorship_requests %}
              {% for bug in my_mentorship_requests %}
                <tr class='my-mentorship-request
                    {{ bug.assigned_to|ifeq(request.user, 'assigned-request') }}'>
                  <td>
                    <a href="{{ bug.bug_id|get_bugzilla_url }}" target="_blank">
                      {{ bug.bug_id }}
                    </a>
                  </td>
                  <td>
                    <a href="{{ url('profiles_view_profile',
                                    bug.creator|get_display_name) }}">
                      {{ bug.creator|get_display_name }}
                    </a>
                  </td>
                  <td>
                    <div class="hide-for-small">
                      <div class="overflow-fix" title="{{ bug.summary }}">
                        {{ bug.summary }}
                      </div>
                    </div>
                    <div class="show-for-small">
                      {{ bug.summary }}
                    </div>
                  </td>
                  <td>{{ bug.whiteboard }}</td>
                  <td>{{ bug.status }}</td>
                  <td title="{{ bug.bug_last_change_time|format_datetime }}"
                      data-order-by="{{ bug.bug_last_change_time|format_datetime_unix }}"
                      data-time="{{ bug.bug_last_change_time|format_datetime_iso }}">
                    {{ bug.bug_last_change_time|format_datetime }}
                  </td>
                </tr>
              {% endfor %}
            {% endcache %}
          </tbody>
        </table>
    {% else %}
      <div class="row">
        <div class="large-12 columns no-bugs">
          <p>No Bugs found!</p>
        </div>
      </div>
    {% endif %}
    </div> <!-- end my_mentorship_requests -->
  </div>
{% endif %}
<!-- end mentorship requests block -->

<!-- planning requests block -->
{% if my_planning_requests is defined %}
  <div class="row">
    <div class="large-7 columns dashboard-box">
      <h2>Planning</h2>
    </div>
  </div>
  <div class="row">
    <div id="dashboard-mentorship-block" class="large-12 columns">
      {% if my_planning_requests %}
        <table class="dashboard-table">
          <thead>
            <tr>
              <th class="dashboard-clickable type-int">ID</th>
              <th class="dashboard-clickable type-string">Creator</th>
              <th>Summary</th>
              <th class="dashboard-clickable type-string">Whiteboard</th>
              <th class="dashboard-clickable type-string">Status</th>
              <th class="dashboard-clickable type-string">Last updated</th>
            </tr>
          </thead>
          <tbody>
            {% cache my_planning_requests %}
              {% for bug in my_planning_requests %}
                <tr class='my-planning-request
                    {{ bug.assigned_to|ifeq(request.user, 'assigned-request') }}'>
                  <td>
                    <a href="{{ bug.bug_id|get_bugzilla_url }}" target="_blank">
                      {{ bug.bug_id }}
                    </a>
                  </td>
                  <td>
                    <a href="{{ url('profiles_view_profile',
                                    bug.creator|get_display_name) }}">
                      {{ bug.creator|get_display_name }}
                    </a>
                  </td>
                  <td>
                    <div class="hide-for-small">
                      <div class="overflow-fix" title="{{ bug.summary }}">
                        {{ bug.summary }}
                      </div>
                    </div>
                    <div class="show-for-small">
                      {{ bug.summary }}
                    </div>
                  </td>
                  <td>{{ bug.whiteboard }}</td>
                  <td>{{ bug.status }}</td>
                  <td title="{{ bug.bug_last_change_time|format_datetime }}"
                      data-order-by="{{ bug.bug_last_change_time|format_datetime_unix }}"
                      data-time="{{ bug.bug_last_change_time|format_datetime_iso }}">
                    {{ bug.bug_last_change_time|format_datetime }}
                  </td>
                </tr>
              {% endfor %}
            {% endcache %}
          </tbody>
        </table>
      {% else %}
        <div class="row">
          <div class="large-12 columns no-bugs">
            <p>No Bugs found!</p>
          </div>
        </div>
      {% endif %}
    </div> <!-- end my_planning_requests -->
  </div>
{% endif %}
<!-- end planning requests block -->

<!-- Admin block -->
{% if is_admin is defined %}
  <div class="row">
    <div class="large-7 columns dashboard-box">
      <h2>Administration</h2>
    </div>
  </div>
  <div class="section-container auto" data-section>
    {% if reps_without_mentors is defined %}
    <div {% if reps_without_mentors is defined %}
            class="active section"
         {% else %}
            class="section"
         {% endif %}>
      <p class="title">
        <a href="#nomentors">No mentors</a>
      </p>
      <div id="nomentorsTab" class="content">
        <div class="row">
          <p class="desc">
            Reps without mentors set are displayed here:
          </p>
          <table class="dashboard-table">
            <thead>
              <tr>
                <th class="dashboard-clickable type-string">Username</th>
                <th class="dashboard-clickable type-string">Full Name</th>
                <th class="dashboard-clickable type-string">Account created on</th>
              </tr>
            </thead>
            <tbody>
              {% for rep in reps_without_mentors %}
                <tr>
                  <td>
                    <a href="{{ url('profiles_view_profile', rep|get_display_name) }}">
                      {{ rep|get_display_name }}
                    </a>
                  </td>
                  <td>
                    <a href="{{ url('profiles_view_profile', rep|get_display_name) }}">
                      {{ rep.get_full_name() }}
                    </a>
                  </td>
                  <td title="{{ rep.date_joined|format_datetime }}"
                      data-time="{{ rep.date_joined|format_datetime_iso }}">
                    {{ rep.date_joined|format_datetime }}
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
    {% endif %}
    {% if reps_without_profile is defined %}
    <div {% if reps_without_mentors is not defined %}
            class="active section"
         {% else %}
            class="section"
         {% endif %}>
      <p class="title">
        <a href="#emptyprofiles">Empty profiles</a>
      </p>
      <div id="emptyprofilesTab" class="content">
        <div class="row">
          <p class="desc">
            Reps that are invited but not filled their profiles are displayed here:
          </p>
          <table class="dashboard-table">
            <thead>
              <tr>
                <th class="dashboard-clickable type-string">Bugzilla Mail</th>
                <th class="dashboard-clickable type-string">Invited by</th>
                <th class="dashboard-clickable type-string">Date Invited</th>
              </tr>
            </thead>
            <tbody>
              {% for rep in reps_without_profile %}
                <tr>
                  <td>
                    <a href="{{ url('profiles_view_profile', rep|get_display_name) }}">
                      {{ rep.email }}
                    </a>
                  </td>
                  <td>
                    <a href="{{ url('profiles_view_profile',
                                    rep.userprofile.added_by|get_display_name) }}">
                      {{ rep.userprofile.added_by|get_display_name }}
                    </a>
                  </td>
                  <td title="{{ rep.date_joined|format_datetime }}"
                      data-time="{{ rep.date_joined|format_datetime_iso }}">
                    {{ rep.date_joined|format_datetime }}
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
    {% endif %}
  </ul>
  <!-- End Admin block -->
{% endif %}
{% endblock %}

{% block modals %}
<!-- Mail my mentees Reveal Modal -->
{% if mentees_emails is not none %}
  <div id="mail-modal" class="reveal-modal small">
    <a class="close-reveal-modal">&#215;</a>
    <p class="lead">Email your mentees</p>
    <form id="email-mentees-form" method="post"
          action="{{ url('email_mentees') }}">
      {{ csrf() }}
      {% for field in email_mentees_form %}
        {{field}} {{ field.label }}
        <br>
      {% endfor %}

      <div class="row">
        <div id="send-mail" class="align-right">
          <button type="submit" class="medium button update">
            Send email
          </button>
        </div>
      </div>
    </form>
  </div>
{% endif %}
<!-- Mail my mentees Reveal Modal End -->
{% endblock %}

{% block bottomextra %}
  {% compress js %}
    <script src="{{ static('base/js/stupidtable.js') }}"></script>
    <script src="{{ static('base/js/dashboard.js') }}"></script>
  {% endcompress %}
{% endblock %}
