{% extends "base.html" %}
{% block pagetitle %}Mozilla Reps - Dashboard{% endblock %}

{% block content %}
<div class="row">
  <div class="twelve columns">
    <h4>Dashboard</h4>
  </div>
</div>

<div class="row">
  <div class="twelve columns">
    {% if monthly_reports is defined or
          mentees_reports_list is defined or
          mentees_reports_grid is defined or
          all_reports is defined %}
      <!-- reports block -->
      <div class="dashboard-box">
        <div class="row">
          <div class="seven columns">
            <h5>Reports</h5>
          </div>
          <div class="five columns">
            <dl class="sub-nav dashboard-filter">
              <dt>Filter:</dt>
              {% if monthly_reports is defined %}
                <dd class="active">
                  <a id="dashboard-reports-mine-button" href="javascript:void(0)">
                    Mine
                  </a>
                </dd>
              {% endif %}
              {% if mentees_reports_grid is defined %}
                <dd {% if monthly_reports is not defined %} class="active" {% endif %}>
                  <a id="dashboard-reports-mentees-grid-button" href="javascript:void(0)">
                    My mentees grid
                  </a>
                </dd>
              {% endif %}
              {% if mentees_reports_list is defined %}
                <dd>
                  <a id="dashboard-reports-mentees-list-button" href="javascript:void(0)">
                    My mentees list
                  </a>
                </dd>
              {% endif %}
              {% if all_reports is defined %}
                <dd {% if monthly_reports is not defined and
                          mentees_reports_grid is not defined %}
                    class="active"
                    {% endif %}>
                  <a id="dashboard-reports-all-button" href="javascript:void(0)">
                    All
                  </a>
                </dd>
              {% endif %}
            </dl>
          </div>
        </div>

        <div class="row">
          <!-- my block -->
          {% if monthly_reports is defined %}
            <div id="dashboard-reports-my-block">
              {% include "monthly_reports.html" %}
            </div>
          {% endif %}
          <!-- end my block -->

          <!-- mentees list block -->
          {% if mentees_reports_list is defined %}
            <div id="dashboard-reports-mentees-list-block" class="hidden">
              {% if mentees_reports_list %}
                <table class="dashboard-table">
                  <thead>
                    <tr>
                      <th class="dashboard-clickable type-string">Fullname</th>
                      <th class="dashboard-clickable type-int">Year</th>
                      <th class="dashboard-clickable type-string">Month</th>
                      <th class="dashboard-clickable type-string">Date filled</th>
                      <th class="dashboard-clickable type-string">Empty</th>
                      <th class="dashboard-clickable type-string">Overdue</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for report in mentees_reports_list %}
                      <tr>
                        <td>
                          <a href="{{ url('profiles_view_profile',
                                          report.user|get_display_name) }}">
                            {{ report.user.get_full_name() }}
                          </a>
                        </td>
                        <td>{{ report.month.strftime("%Y") }}</td>
                        <td>
                          <a href="{{ report|get_report_view_url }}">
                            {{ report.month.strftime("%B") }}
                          </a>
                        </td>
                        <td>{{ report.updated_on|format_datetime }}</td>
                        <td>{{ report.empty }}</td>
                        <td>{{ report.overdue }}</td>
                      </tr>
                    {% endfor %}
                  </tbody>
                </table>
              {% else %}
                <div class="row">
                  <div class="twelve columns no-bugs">
                    <p>No Reports found!</p>
                  </div>
                </div>
              {% endif %}
              {% if mentees_emails is not none %}
                <div class="align-right">
                  <a href="#" data-reveal-id="mail-modal"
                     class="small white button nice radius">Mail my mentees</a>
                </div>
              {% endif %}
            </div>
          {% endif %}
          <!-- end mentees list block -->

          <!-- mentes grid block -->
          {% if mentees_reports_grid is defined %}
            <div id="dashboard-reports-mentees-grid-block"
                 {% if monthly_reports is defined %} class="hidden" {% endif %}>
              <h5>for {{ mentees_reports_grid['month'] }}</h5>
              {% if mentees_reports_grid['reports']|length > 0 %}
                <ul class="block-grid four-up">
                  {% for report in mentees_reports_grid['reports'] %}
                    <li>
                      <a href="{{ url('profiles_view_profile',
                                        report.user|get_display_name) }}">
                        <div class="panel dashboard-mentee {{ report.status }}">
                          <img src="{{ report.user|get_avatar_url(50) }}"
                               class="profiles-people-avatar"
                               alt="avatar">
                          <h6>{{ report.user.get_full_name() }}</h6>
                        </div>
                      </a>
                    </li>
                  {% endfor %}
                </ul>
              {% else %}
                <div class="row">
                  <div class="twelve columns no-bugs">
                    <p>No Reports found!</p>
                  </div>
                </div>
              {% endif %}
              {% if mentees_emails is not none %}
                <div class="align-right">
                  <a href="#" data-reveal-id="mail-modal"
                     class="small white button nice radius">Mail my mentees</a>
                </div>
              {% endif %}
            </div>
          {% endif %}
          <!-- end mentees grid block -->

          <!-- all reports block -->
          {% if all_reports is defined %}
            <div id="dashboard-reports-all-block"
                 {% if monthly_reports is defined or
                       mentees_reports_grid is defined %}
                     class="hidden"
                 {% endif %}>
              {% if all_reports %}
                <table class="dashboard-table">
                  <thead>
                    <tr>
                      <th class="dashboard-clickable type-string">Fullname</th>
                      <th class="dashboard-clickable type-int">Year</th>
                      <th class="dashboard-clickable type-string">Month</th>
                      <th class="dashboard-clickable type-string">Date filled</th>
                      <th class="dashboard-clickable type-string">Empty</th>
                      <th class="dashboard-clickable type-string">Overdue</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for report in all_reports %}
                      <tr>
                        <td>
                          <a href="{{ url('profiles_view_profile',
                                          report.user|get_display_name) }}">
                            {{ report.user.get_full_name() }}
                          </a>
                        </td>
                        <td>{{ report.month.strftime("%Y") }}</td>
                        <td>
                          <a href="{{ report|get_report_view_url }}">
                            {{ report.month.strftime("%B") }}
                          </a>
                        </td>
                        <td title="{{ report.updated_on|format_datetime }}"
                            data-time="{{ report.updated_on|format_datetime_iso }}">
                          {{ report.updated_on|format_datetime }}
                        </td>
                        <td>{{ report.empty }}</td>
                        <td>{{ report.overdue }}</td>
                      </tr>
                    {% endfor %}
                  </tbody>
                </table>
              {% else %}
                <div class="row">
                  <div class="twelve columns no-bugs">
                    <p>No Reports found!</p>
                  </div>
                </div>
              {% endif %}
            </div>
          {% endif %}
          <!-- end all reports block -->
        </div>
      </div>
    {% endif %}
    <!-- end reports block -->


    <!-- budget requests block -->
    <div class="row dashboard-box">
      <div class="seven columns">
        <h5>Budget Requests</h5>
      </div>
      <div class="five columns">
        <dl class="sub-nav dashboard-filter">
          <dt>Filter:</dt>
          <dd class="active">
            <a id="dashboard-br-mine-button" href="javascript:void(0)">Mine</a>
          </dd>
          {% if mentees_budget_requests is defined %}
            <dd>
              <a id="dashboard-br-mentees-button" href="javascript:void(0)">My mentees</a>
            </dd>
          {% endif %}
          {% if all_budget_requests is defined %}
            <dd>
              <a id="dashboard-br-all-button" href="javascript:void(0)">All</a>
            </dd>
          {% endif %}
        </dl>
      </div>
    </div>
    <div class="row">

      <div id="dashboard-br-my-block">
        {% if my_budget_requests %}
          <table class="dashboard-table">
            <thead>
              <tr>
                <th class="dashboard-clickable type-int">ID</th>
                <th class="dashboard-clickable type-string">Creator</th>
                <th>Summary</th>
                <th class="dashboard-clickable type-string">Whiteboard</th>
                <th class="dashboard-clickable type-string">Status</th>
                <th class="dashboard-clickable type-string">Last updated</th>
              </tr>
            </thead>
            <tbody>
              {% for bug in my_budget_requests %}
                <tr class='my-budget-request'>
                  <td>
                    <a href="{{ bug.bug_id|get_bugzilla_url }}" target="_blank">
                      {{ bug.bug_id }}
                    </a>
                  </td>
                  <td>
                    <a href="{{ url('profiles_view_profile',
                                    bug.creator|get_display_name) }}">
                      {{ bug.creator|get_display_name }}
                    </a>
                  </td>
                  <td>{{ bug.summary }}</td>
                  <td>{{ bug.whiteboard }}</td>
                  <td>{{ bug.status }}</td>
                  <td title="{{ bug.bug_last_change_time|format_datetime }}"
                      data-order-by="{{ bug.bug_last_change_time|format_datetime_unix }}"
                      data-time="{{ bug.bug_last_change_time|format_datetime_iso }}">
                    {{ bug.bug_last_change_time|format_datetime }}
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        {% else %}
          <div class="row">
            <div class="twelve columns no-bugs">
              <p>No Bugs found!</p>
            </div>
          </div>
        {% endif %}
      </div> <!-- end my_budget_requests -->

      {% if mentees_budget_requests is defined %}
        <div id="dashboard-br-mentees-block" class="hidden">
          {% if mentees_budget_requests %}
            <table class="dashboard-table">
              <thead>
                <tr>
                  <th class="dashboard-clickable type-int">ID</th>
                  <th class="dashboard-clickable type-string">Creator</th>
                  <th>Summary</th>
                  <th class="dashboard-clickable type-string">Whiteboard</th>
                  <th class="dashboard-clickable type-string">Status</th>
                  <th class="dashboard-clickable type-string">Last updated</th>
                </tr>
              </thead>
              <tbody>
                {% for bug in mentees_budget_requests %}
                  <tr class='my-budget-request'>
                    <td>
                      <a href="{{ bug.bug_id|get_bugzilla_url }}" target="_blank">
                        {{ bug.bug_id }}
                      </a>
                    </td>
                    <td>
                      <a href="{{ url('profiles_view_profile',
                                      bug.creator|get_display_name) }}">
                        {{ bug.creator|get_display_name }}
                      </a>
                    </td>
                    <td>{{ bug.summary }}</td>
                    <td>{{ bug.whiteboard }}</td>
                    <td>{{ bug.status }}</td>
                    <td title="{{ bug.bug_last_change_time|format_datetime }}"
                        data-order-by="{{ bug.bug_last_change_time|format_datetime_unix }}"
                        data-time="{{ bug.bug_last_change_time|format_datetime_iso }}">
                      {{ bug.bug_last_change_time|format_datetime }}
                    </td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          {% else %}
            <div class="row">
              <div class="twelve columns no-bugs">
                <p>No Bugs found!</p>
              </div>
            </div>
          {% endif %}
        </div> <!-- end mentees_budget_requests -->
      {% endif %}

      {% if all_budget_requests is defined %}
        <div id="dashboard-br-all-block" class="hidden">
          {% if all_budget_requests %}
            <table class="dashboard-table">
              <thead>
                <tr>
                  <th class="dashboard-clickable type-int">ID</th>
                  <th class="dashboard-clickable type-string">Creator</th>
                  <th>Summary</th>
                  <th class="dashboard-clickable type-string">Whiteboard</th>
                  <th class="dashboard-clickable type-string">Status</th>
                  <th class="dashboard-clickable type-string">Last updated</th>
                </tr>
              </thead>
              <tbody>
                {% for bug in all_budget_requests %}
                  <tr class='my-budget-request'>
                    <td>
                      <a href="{{ bug.bug_id|get_bugzilla_url }}" target="_blank">
                        {{ bug.bug_id }}
                      </a>
                    </td>
                    <td>
                      <a href="{{ url('profiles_view_profile',
                                      bug.creator|get_display_name) }}">
                        {{ bug.creator|get_display_name }}
                      </a>
                    </td>
                    <td>{{ bug.summary }}</td>
                    <td>{{ bug.whiteboard }}</td>
                    <td>{{ bug.status }}</td>
                    <td title="{{ bug.bug_last_change_time|format_datetime }}"
                        data-order-by="{{ bug.bug_last_change_time|format_datetime_unix }}"
                        data-time="{{ bug.bug_last_change_time|format_datetime_iso }}">
                      {{ bug.bug_last_change_time|format_datetime }}
                    </td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          {% else %}
            <div class="row">
              <div class="twelve columns no-bugs">
                <p>No Bugs found!</p>
              </div>
            </div>
          {% endif %}
          <div class="align-right">
            <a href="https://bugzilla.mozilla.org/buglist.cgi?list_id=2655390;resolution=---;classification=Other;query_format=advanced;component=Budget%20Requests;product=Mozilla%20Reps"
               class="small white button nice radius" target="_blank">See all bugs</a>
          </div>
        </div> <!-- end all_budget_requests -->
      {% endif %}
    </div>

    <!-- New Budget Request -->
    <div class="row">
      <div class="twelve columns align-right dashboard-action">
        <a href="https://bugzilla.mozilla.org/form.reps.budget"
           target="_blank"
           class="small white button nice radius">
          New Budget Request
        </a>
      </div>
    </div>

    <!-- end budget requests block -->


    <!-- swag requests block -->
    <div class="row dashboard-box">
      <div class="seven columns">
        <h5>Swag Requests</h5>
      </div>
      <div class="five columns">
        <dl class="sub-nav dashboard-filter">
          <dt>Filter:</dt>
          <dd class="active">
            <a id="dashboard-sr-mine-button" href="javascript:void(0)">Mine</a>
          </dd>
          {% if mentees_swag_requests is defined %}
            <dd>
              <a id="dashboard-sr-mentees-button" href="javascript:void(0)">My mentees</a>
            </dd>
          {% endif %}
          {% if all_swag_requests is defined %}
            <dd>
              <a id="dashboard-sr-all-button" href="javascript:void(0)">All</a>
            </dd>
          {% endif %}
        </dl>
      </div>
    </div>
    <div class="row">

      <div id="dashboard-sr-my-block">
        {% if my_swag_requests %}
          <table class="dashboard-table">
            <thead>
              <tr>
                <th class="dashboard-clickable type-int">ID</th>
                <th class="dashboard-clickable type-string">Creator</th>
                <th>Summary</th>
                <th class="dashboard-clickable type-string">Whiteboard</th>
                <th class="dashboard-clickable type-string">Status</th>
                <th class="dashboard-clickable type-string">Last updated</th>
              </tr>
            </thead>
            <tbody>
              {% for bug in my_swag_requests %}
                <tr class='my-swag-request'>
                  <td>
                    <a href="{{ bug.bug_id|get_bugzilla_url }}" target="_blank">
                      {{ bug.bug_id }}
                    </a>
                  </td>
                  <td>
                    <a href="{{ url('profiles_view_profile',
                                    bug.creator|get_display_name) }}">
                      {{ bug.creator|get_display_name }}
                    </a>
                  </td>
                  <td>{{ bug.summary }}</td>
                  <td>{{ bug.whiteboard }}</td>
                  <td>{{ bug.status }}</td>
                  <td title="{{ bug.bug_last_change_time|format_datetime }}"
                      data-order-by="{{ bug.bug_last_change_time|format_datetime_unix }}"
                      data-time="{{ bug.bug_last_change_time|format_datetime_iso }}">
                    {{ bug.bug_last_change_time|format_datetime }}
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        {% else %}
          <div class="row">
            <div class="twelve columns no-bugs">
              <p>No Bugs found!</p>
            </div>
          </div>
        {% endif %}
      </div> <!-- end my_swag_requests -->

      {% if mentees_swag_requests is defined %}
        <div id="dashboard-sr-mentees-block" class="hidden">
          {% if mentees_swag_requests %}
            <table class="dashboard-table">
              <thead>
                <tr>
                  <th class="dashboard-clickable type-int">ID</th>
                  <th class="dashboard-clickable type-string">Creator</th>
                  <th>Summary</th>
                  <th class="dashboard-clickable type-string">Whiteboard</th>
                  <th class="dashboard-clickable type-string">Status</th>
                  <th class="dashboard-clickable type-string">Last updated</th>
                </tr>
              </thead>
              <tbody>
                {% for bug in mentees_swag_requests %}
                  <tr class='my-swag-request'>
                    <td>
                      <a href="{{ bug.bug_id|get_bugzilla_url }}" target="_blank">
                        {{ bug.bug_id }}
                      </a>
                    </td>
                    <td>
                      <a href="{{ url('profiles_view_profile',
                                      bug.creator|get_display_name) }}">
                        {{ bug.creator|get_display_name }}
                      </a>
                    </td>
                    <td>{{ bug.summary }}</td>
                    <td>{{ bug.whiteboard }}</td>
                    <td>{{ bug.status }}</td>
                    <td title="{{ bug.bug_last_change_time|format_datetime }}"
                        data-order-by="{{ bug.bug_last_change_time|format_datetime_unix }}"
                        data-time="{{ bug.bug_last_change_time|format_datetime_iso }}">
                      {{ bug.bug_last_change_time|format_datetime }}
                    </td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          {% else %}
            <div class="row">
              <div class="twelve columns no-bugs">
                <p>No Bugs found!</p>
              </div>
            </div>
          {% endif %}
        </div> <!-- end mentees_swag_requests -->
      {% endif %}

      {% if all_swag_requests is defined %}
        <div id="dashboard-sr-all-block" class="hidden">
          {% if all_swag_requests %}
            <table class="dashboard-table">
              <thead>
                <tr>
                  <th class="dashboard-clickable type-int">ID</th>
                  <th class="dashboard-clickable type-string">Creator</th>
                  <th>Summary</th>
                  <th class="dashboard-clickable type-string">Whiteboard</th>
                  <th class="dashboard-clickable type-string">Status</th>
                  <th class="dashboard-clickable type-string">Last updated</th>
                </tr>
              </thead>
              <tbody>
                {% for bug in all_swag_requests %}
                  <tr class='my-swag-request'>
                    <td>
                      <a href="{{ bug.bug_id|get_bugzilla_url }}" target="_blank">
                        {{ bug.bug_id }}
                      </a>
                    </td>
                    <td>
                      <a href="{{ url('profiles_view_profile',
                                      bug.creator|get_display_name) }}">
                        {{ bug.creator|get_display_name }}
                      </a>
                    </td>
                    <td>{{ bug.summary }}</td>
                    <td>{{ bug.whiteboard }}</td>
                    <td>{{ bug.status }}</td>
                    <td title="{{ bug.bug_last_change_time|format_datetime }}"
                        data-order-by="{{ bug.bug_last_change_time|format_datetime_unix }}"
                        data-time="{{ bug.bug_last_change_time|format_datetime_iso }}">
                      {{ bug.bug_last_change_time|format_datetime }}
                    </td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          {% else %}
            <div class="row">
              <div class="twelve columns no-bugs">
                <p>No Bugs found!</p>
              </div>
            </div>
          {% endif %}
          <div class="align-right">
            <a href="https://bugzilla.mozilla.org/buglist.cgi?list_id=2655390;resolution=---;classification=Other;query_format=advanced;component=Swag%20Requests;product=Mozilla%20Reps"
               class="small white button nice radius" target="_blank">See all bugs</a>
          </div>
        </div> <!-- end all_swag_requests -->
      {% endif %}
    </div>

    <!-- New Swag Request -->
    <div class="row">
      <div class="twelve columns align-right dashboard-action">
        <a href="https://bugzilla.mozilla.org/form.reps.swag"
           target="_blank"
           class="small white button nice radius">
          New Swag Request
        </a>
      </div>
    </div>
    <!-- end swag requests block -->


    <!-- community it requests block -->
    {% if my_cit_requests is defined %}
      <div class="row dashboard-box">
        <div class="seven columns">
          <h5>Community IT Requests</h5>
        </div>
      </div>
      <div class="row">
        <div id="dashboard-citr-block">
          {% if my_cit_requests %}
            <table class="dashboard-table">
              <thead>
                <tr>
                  <th class="dashboard-clickable type-int">ID</th>
                  <th class="dashboard-clickable type-string">Creator</th>
                  <th>Summary</th>
                  <th class="dashboard-clickable type-string">Whiteboard</th>
                  <th class="dashboard-clickable type-string">Status</th>
                  <th class="dashboard-clickable type-string">Last updated</th>
                </tr>
              </thead>
              <tbody>
                {% for bug in my_cit_requests %}
                  <tr class='my-cit-request'>
                    <td>
                      <a href="{{ bug.bug_id|get_bugzilla_url }}" target="_blank">
                        {{ bug.bug_id }}
                      </a>
                    </td>
                    <td>
                      <a href="{{ url('profiles_view_profile',
                                      bug.creator|get_display_name) }}">
                        {{ bug.creator|get_display_name }}
                      </a>
                    </td>
                    <td>{{ bug.summary }}</td>
                    <td>{{ bug.whiteboard }}</td>
                    <td>{{ bug.status }}</td>
                    <td title="{{ bug.bug_last_change_time|format_datetime }}"
                        data-time="{{ bug.bug_last_change_time|format_datetime_iso }}"
                        data-order-by="{{ bug.bug_last_change_time|format_datetime_unix }}">
                      {{ bug.bug_last_change_time|format_datetime }}
                    </td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          {% else %}
            <div class="row">
              <div class="twelve columns no-bugs">
                <p>No Bugs found!</p>
              </div>
            </div>
          {% endif %}
        </div> <!-- end my_cit_requests -->
      </div>
    {% endif %}
    <!-- end community it requests block -->

    <!-- mentorship requests block -->
    {% if my_mentorship_requests is defined %}
      <div class="row dashboard-box">
        <div class="seven columns">
          <h5>Mentorship</h5>
        </div>
      </div>
      <div class="row">
        <div id="dashboard-mentorship-block">
          {% if my_mentorship_requests %}
            <table class="dashboard-table">
              <thead>
                <tr>
                  <th class="dashboard-clickable type-int">ID</th>
                  <th class="dashboard-clickable type-string">Creator</th>
                  <th>Summary</th>
                  <th class="dashboard-clickable type-string">Whiteboard</th>
                  <th class="dashboard-clickable type-string">Status</th>
                  <th class="dashboard-clickable type-string">Last updated</th>
                </tr>
              </thead>
              <tbody>
                {% for bug in my_mentorship_requests %}
                  <tr class='my-mentorship-request'>
                    <td>
                      <a href="{{ bug.bug_id|get_bugzilla_url }}" target="_blank">
                        {{ bug.bug_id }}
                      </a>
                    </td>
                    <td>
                      <a href="{{ url('profiles_view_profile',
                                      bug.creator|get_display_name) }}">
                        {{ bug.creator|get_display_name }}
                      </a>
                    </td>
                    <td>{{ bug.summary }}</td>
                    <td>{{ bug.whiteboard }}</td>
                    <td>{{ bug.status }}</td>
                    <td title="{{ bug.bug_last_change_time|format_datetime }}"
                        data-order-by="{{ bug.bug_last_change_time|format_datetime_unix }}"
                        data-time="{{ bug.bug_last_change_time|format_datetime_iso }}">
                      {{ bug.bug_last_change_time|format_datetime }}
                    </td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
        {% else %}
          <div class="row">
            <div class="twelve columns no-bugs">
              <p>No Bugs found!</p>
            </div>
          </div>
        {% endif %}
        </div> <!-- end my_mentorship_requests -->
      </div>
    {% endif %}
    <!-- end mentorship requests block -->

    <!-- planning requests block -->
    {% if my_planning_requests is defined %}
      <div class="row dashboard-box">
        <div class="seven columns">
          <h5>Planning</h5>
        </div>
      </div>
      <div class="row">
        <div id="dashboard-mentorship-block">
          {% if my_planning_requests %}
            <table class="dashboard-table">
              <thead>
                <tr>
                  <th class="dashboard-clickable type-int">ID</th>
                  <th class="dashboard-clickable type-string">Creator</th>
                  <th>Summary</th>
                  <th class="dashboard-clickable type-string">Whiteboard</th>
                  <th class="dashboard-clickable type-string">Status</th>
                  <th class="dashboard-clickable type-string">Last updated</th>
                </tr>
              </thead>
              <tbody>
                {% for bug in my_planning_requests %}
                  <tr class='my-planning-request'>
                    <td>
                      <a href="{{ bug.bug_id|get_bugzilla_url }}" target="_blank">
                        {{ bug.bug_id }}
                      </a>
                    </td>
                    <td>
                      <a href="{{ url('profiles_view_profile',
                                      bug.creator|get_display_name) }}">
                        {{ bug.creator|get_display_name }}
                      </a>
                    </td>
                    <td>{{ bug.summary }}</td>
                    <td>{{ bug.whiteboard }}</td>
                    <td>{{ bug.status }}</td>
                    <td title="{{ bug.bug_last_change_time|format_datetime }}"
                        data-order-by="{{ bug.bug_last_change_time|format_datetime_unix }}"
                        data-time="{{ bug.bug_last_change_time|format_datetime_iso }}">
                      {{ bug.bug_last_change_time|format_datetime }}
                    </td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          {% else %}
            <div class="row">
              <div class="twelve columns no-bugs">
                <p>No Bugs found!</p>
              </div>
            </div>
          {% endif %}
        </div> <!-- end my_planning_requests -->
      </div>
    {% endif %}
    <!-- end planning requests block -->

    <!-- Admin block -->
    {% if is_admin is defined %}
      <div class="row dashboard-box">
        <div class="seven columns">
          <h5>Administration</h5>
        </div>
      </div>
      <dl class="tabs">
        {% if reps_without_mentors is defined %}
          <dd><a href="#nomentors" class="active">No mentors</a></dd>
        {% endif %}
        {% if reps_without_profile is defined %}
          <dd><a href="#emptyprofiles"
                 {% if reps_without_mentors is not defined %} class="active" {% endif %}>
              Empty profiles</a></dd>
        {% endif %}
      </dl>
      <ul class="tabs-content">
        {% if reps_without_mentors is defined %}
          <li id="nomentorsTab" class="active">Reps without mentors set are displayed here:
            <div class="row">
              <div>
                <table class="dashboard-table">
                  <thead>
                    <tr>
                      <th class="dashboard-clickable type-string">Username</th>
                      <th class="dashboard-clickable type-string">Full Name</th>
                      <th class="dashboard-clickable type-string">Account created on</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for rep in reps_without_mentors %}
                      <tr>
                        <td>
                          <a href="{{ url('profiles_view_profile', rep|get_display_name) }}">
                            {{ rep|get_display_name }}
                          </a>
                        </td>
                        <td>
                          <a href="{{ url('profiles_view_profile', rep|get_display_name) }}">
                            {{ rep.get_full_name() }}
                          </a>
                        </td>
                        <td title="{{ rep.date_joined|format_datetime }}"
                            data-time="{{ rep.date_joined|format_datetime_iso }}">
                          {{ rep.date_joined|format_datetime }}
                        </td>
                      </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </li>
        {% endif %}
        {% if reps_without_profile is defined %}
          <li id="emptyprofilesTab"
              {% if reps_without_mentors is not defined %} class="active" {% endif %}>
            Reps that are invited but not filled their profiles are displayed here:
            <div class="row">
              <div>
                <table class="dashboard-table">
                  <thead>
                    <tr>
                      <th class="dashboard-clickable type-string">Bugzilla Mail</th>
                      <th class="dashboard-clickable type-string">Invited by</th>
                      <th class="dashboard-clickable type-string">Date Invited</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for rep in reps_without_profile %}
                      <tr>
                        <td>
                          <a href="{{ url('profiles_view_profile', rep|get_display_name) }}">
                            {{ rep.email }}
                          </a>
                        </td>
                        <td>
                          <a href="{{ url('profiles_view_profile',
                                          rep.userprofile.added_by|get_display_name) }}">
                            {{ rep.userprofile.added_by|get_display_name }}
                          </a>
                        </td>
                        <td title="{{ rep.date_joined|format_datetime }}"
                            data-time="{{ rep.date_joined|format_datetime_iso }}">
                          {{ rep.date_joined|format_datetime }}
                        </td>
                      </tr>
                   {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </li>
        {% endif %}
      </ul>
      <!-- End Admin block -->
    {% endif %}
  </div>
</div>

<!-- Mail my mentees Reveal Modal -->
{% if mentees_email is not none %}
  <div id="mail-modal" class="reveal-modal">
    <a class="close-reveal-modal">&#215;</a>
    <p class="lead">Mail your mentees</p>
    <h4>Copy and paste addresses:</h4>
    <p>
      {% for first_name, last_name, email in mentees_emails %}
        '{{ first_name }} {{ last_name }}'
        &lt;{{ email }}&gt;{% if not loop.last %}, {% endif %}
      {% endfor %}
    </p>
    <h4>or mail all your mentees directly:</h4>
    <form id="email-mentees-form" method="post"
          action="{{ url('email_mentees') }}" class="custom">
      {{ csrf() }}
      {{ email_mentees_form }}

      <div class="row">
        <div id="send-mail" class="twelve columns align-right">
          <button type="submit" class="medium blue button nice radius">
            Send email
          </button>
        </div>
      </div>
    </form>
  </div>
{% endif %}
<!-- Mail my mentees Reveal Modal End -->

{% endblock %}

{% block bottomextra %}
  {{ js('base_dashboard') }}
{% endblock %}
