{% extends "about_base.html" %}

{% block pagetitle %}
Mozilla Reps - FAQ
{% endblock %}

{% block main %}
<!-- FAQ text section -->
<div id="about-text" class="large-9 columns">
  <h1>Frequently Asked Questions</h1>

  <h2>What is Mozilla Reps?</h2>

  <p>Community is the backbone of the Mozilla project. As the
  project grows in scope and scale, community needs to be
  strengthened and empowered accordingly. This is the central aim of the
  Mozilla Reps program: to empower Mozillians and help push
  responsibility to the edges of the community.</p>

  <h2>Who can be a Mozilla Rep?</h2>

  <p>The Mozilla Reps program is open to anyone passionate and knowledgeable
  about the Mozilla project and its community. Because
  becoming a Mozilla Rep involves taking on new responsibilities, a
  Mozillian who signs up will be asked to fill out a short
  application form and be interviewed on IRC by member(s) of the
  Mozilla Rep council, made up of veteran Mozilla volunteers and
  staff. Note: you must be 18 years or older to apply.</p>

  <h2>What sort of activities do Mozilla Reps do?</h2>

  <p>Mozilla Reps are involved in a wide range of activities:</p>

  <ul>
    <li>Organize or participate in Mozilla community events</li>
    <li>Recruit new contributors (regionally and by contribution area)</li>
    <li>Organize Mozilla product release parties</li>
    <li>Represent Mozilla at project-relevant conferences and speak on Mozilla’s behalf</li>
    <li>Manage local public relations and blogs</li>
    <li>Lead local training workshops</li>
    <li>Attend Mozilla global and regional summits</li>
  </ul>

  <h2>What sort of responsibilities do Mozilla Reps have?</h2>

  <p>Mozilla Reps have a specific set of simple but important responsibilities
  and tasks to fulfill in order to stay on the program:</p>

  <ul>
    <li>Regularly update their Mozilla Rep profile page and
    document/share their activities with the broader community</li>
    <li>Liaise regularly with their mentor to update them on
    activities and get feedback</li>
    <li>Write a short blog post after each Mozilla Rep-related activity</li>
    <li>Regularly take and publish photos of their Mozilla Rep activities</li>
    <li>Liaise regularly with project teams at Mozilla to update
    them on relevant local news, trends and activities</li>
  </ul>

  <h2>How can I apply to become a Mozilla Rep?</h2>

  <p>Applying to the program is very easy: all you need to do is
  fill out
  this <a href="https://bugzilla.mozilla.org/form.reps.mentorship">short
  application form</a> and a Mozilla Reps mentor will contact you
  shortly to guide you through the next steps.</p>

  <h2>How is Mozilla Reps different from Student Reps?</h2>

  <p>Mozilla Reps aims to empower Mozillians to represent Mozilla in
  their country or region, not just in a university setting, and
  offers participants a much wider set of tools and resources. Also,
  while the Student Reps program is open to anyone who applies,
  Mozilla Rep applicants need to be “accepted” into the program
  through a short interview process. Note: you must be 18 years or
  older to apply.</p>

  <h2>What are the incentives for becoming a Mozilla Rep?</h2>

  <p>There are many reasons that motivate Mozillians to join the
  Mozilla Reps program:</p>

  <ul>
    <li>Represent Mozilla officially and help push the project
    forward in your country</li>
    <li>Get access to specific tools and resources to organize your
    own events and get sponsorship to attend others</li>
    <li>Share your passion for Mozilla in an organized, structured
    and impactful way while having fun</li>
    <li>Gain valuable experience and learn new leadership skills</li>
    <li>Make new friends and work closely with Mozilla staff around the world</li>
    <li>Build a reputation within the Mozilla community and build your own network</li>
    <li>Travel across your country and attend Mozilla events around the world</li>
  </ul>

  <h2>Do I get paid for being a Mozilla Rep?</h2>

  <p>The Mozilla Reps program is 100% volunteer based. Just like
  other functional areas of the Mozilla project, the support and
  energy of people all around the world is the backbone of Mozilla's
  open source model. While Mozilla does not offer paid positions for
  participating in the program, the Mozilla Reps program does
  provide specific tools and unique access to people and resources
  (including funding) that you won’t find anywhere else.</p>

  <h2>Where can I find and get in touch with other Mozilla Reps?</h2>

  <p>All Mozilla Reps have a profile page on the Mozilla Reps
  website and each page is listed on the Mozilla Rep
  website <a href="https://reps.mozilla.org/people/">people
  page</a>.</p>

  <h2>How can I get Mozilla swag?</h2>

  <p>Mozilla Reps have access to a special Swag Request form for
  events they are organizing or attending. Each request is reviewed
  and approved or rejected by the Mozilla Rep council, based on a
  specific set of criteria. Mozilla Reps can also request Mozilla
  Rep-specific swag such as t-shirts, stickers and buttons that they
  are strongly encouraged to wear when attending events.</p>

  <h2>Can I produce my own localized swag?</h2>

  <p>Mozilla Reps will soon have access to a special tool that enables
  them to customize a specific set of swag and download the designs in
  PDF format for local production. All the designs have to follow
  Mozilla <a href="http://www.mozilla.org/en-US/foundation/trademarks/">trademark
  policy</a>
  and <a href="http://www.mozilla.org/en-US/styleguide/">brand
  guidelines</a>.</p>

  <h2>Can I request and manage my own budget for an event?</h2>

  <p>Mozilla Reps have access to a special Budget Request form for
  events they are organizing or attending, or for reimbursement for
  any events for which they had a budget approved. Each request is
  reviewed and approved or rejected by the Mozilla Rep council,
  based on a specific set of criteria.</p>

  <h2>Who runs Mozilla Reps and how is the program organized?</h2>

  <p>The Mozilla Reps program is a community-driven program. Both
  Mozilla Reps themselves and Mozilla staff oversee and run the
  program, and plan to continuously improve it. For more information
  on the organizational structure and governance of the program,
  click <a href="https://wiki.mozilla.org/ReMo/Structure_Governance">here</a>.</p>

  <h2>If a Mozillian is already contributing to a specific area of
  the Mozilla project can that Mozillian also be a Mozilla Rep?</h2>

  <p>Yes, absolutely! In fact, most Mozilla Reps are veteran Mozilla
  contributors who have been promoting the project for a long
  time. Of course, becoming a Mozilla Rep might in some cases
  require them to spend less time contributing to these projects,
  but that will quickly be offset by all the new contributors that
  Mozilla Reps will be recruiting to work on those projects :)</p>

  <h2>Is the Mozilla Reps program aimed at replacing existing community efforts?</h2>

  <p>No, absolutely not. Mozilla Reps is designed precisely to
  strengthen existing community efforts by providing tools and
  resources to help push responsibility and authority to Mozillians
  and help them support their communities better.</p>

  <h2>Can there be several Mozilla Reps in the same country or locale?</h2>

  <p>Yes, there is no limit to the number of Mozilla Reps in a particular
  geographic location. As the Mozilla Reps program grows, regional coordinators
  will be elected or designated by Mozilla Reps to help monitor and coordinate
  the program at the regional level. These regional coordinators will be
  the interface between Mozilla Reps and the Mozilla Rep council.</p>

</div>
{% endblock %}
