<!DOCTYPE html>

<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en"> <!--<![endif]-->
<head>
    <meta charset="utf-8" />

    <!-- Set the viewport width to device width for mobile -->
    <meta name="viewport" content="width=device-width" />

    <title>Mozilla Reps</title>
  
    <!-- Included CSS Files -->
    <link rel="stylesheet" href="stylesheets/foundation.css">
    <link rel="stylesheet" href="stylesheets/app.css">

    <!--[if lt IE 9]>
        <link rel="stylesheet" href="stylesheets/ie.css">
    <![endif]-->


    <!-- IE Fix for HTML5 Tags -->
    <!--[if lt IE 9]>
        <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

</head>
<body>

    <!-- container -->
    <div class="container">

        <!-- Header -->
        <header class="row">
            <div class="twelve columns">

                <!-- Sign In & Mozilla Tab -->
                <div class="row">

                    <!-- Mozilla Tab -->
                    <div class="two columns push-ten" id="global-header-tab">
                        <a href="http://mozilla.org/"><img src="images/mozilla-tab.png" alt="mozilla.org"></a>
                    </div>

                    <!-- Sign In & Sign Out -->
                    <div class="ten columns pull-two" id="login-box">
                        <ul>
                            <li class="account anonymous nomenu logout"><a href="/login">Sign in with BrowserID</a></li>
                        </ul>
                    </div>

                </div>
                
                <!-- Logo & Navigation -->
                <div class="row">
                    
                    <!-- Logo and Wordmark -->
                    <div class="four columns" id="logo-box">
                        <div class="row">
                                <img src="images/remo_logo_medium.png">
                                <h3>mozilla reps</h3>
                        </div>
                    </div>
                
                    <!-- Navigation -->
                    <div class="eight columns" id="navigation-box">
                        <ul class="nav-bar">
                            <li>
                                <a href="#" class="main">Main</a>
                                </li>
                            <li>
                                <a href="#" class="main">People</a>
                            </li>
                            <li>
                                <a href="#" class="main">Events</a>
                            </li>
                            <li>
                                <a href="#" class="main">Labs</a>
                            </li>
                            <li>
                                <a href="#" class="main">Planet</a>
                            </li>
                            <li>
                                <a href="#" class="main">Wiki</a>
                            </li>
                            <li class="last">
                                <a href="#" class="main" data-reveal-id="join-modal">Join</a>
                            </li>
                        </ul>
                    </div>

                </div>         
            </div>
        </header>

        <!-- Separator -->
        <div class="row">
            <hr />
        </div>

        <!-- Page Content -->



        <!-- Sidereel Orbit featured images -->
        <div class="row show-on-desktop">
            <div class="twelve columns">
                <div id="featured"> 
                    <img src="images/show1.png" alt="Overflow: Hidden No More"/>
                    <img src="images/show2.png"  alt="HTML Captions"/>
                    <img src="images/show3.png" alt="and more features"/>
                </div>
            </div>
        </div>

        <!-- Motto goes here -->
        <div class="row">
            <div class="twelve columns" id="motto">
            </div>
        </div>

        <!-- 3 Sections are here -->
        <div class="row">
            
            <!-- Planet Section -->
            <div class="four columns">
                <h4>Mozilla Reps planet</h4>
                <div class="blogpost">
                    <a href="http://reps.mozilla.org">Sample Post</a><br />This is a sample post. Here you can find the post text and then click on the title to go there :)
                </div>
                <div class="blogpost">
                    <a href="http://reps.mozilla.org">Sample Post</a><br />This is a sample post. Here you can find the post text and then click on the title to go there :)
                </div>
                <div class="blogpost">
                    <a href="http://reps.mozilla.org">Sample Post</a><br />This is a sample post. Here you can find the post text and then click on the title to go there :)
                </div>
                <div class="blogpost">
                    <a href="http://reps.mozilla.org">Sample Post</a><br />This is a sample post. Here you can find the post text and then click on the title to go there :)
                </div>
                <div class="blogpost">
                    <a href="http://reps.mozilla.org">Sample Post</a><br />This is a sample post. Here you can find the post text and then click on the title to go there :)
                </div>

                <div id="more-posts">
                    <a href="planet">read more...</a>
                </div>
            </div>

            <!-- Upcoming events section -->
            <div class="four columns">
                <h4>Upcoming events</h4> <br>
                <div class="panel">
                    <h5>Fosdem 2012</h5>
                    <p>Yeap this is an awesome event</p>
                </div>
                <div class="panel">
                    <h5>Fosscomm 2012</h5>
                    <p>Yeap this is an awesome event</p>
                </div>
                <div class="panel">
                    <h5>MozCamp LATAM 2012</h5>
                    <p>Yeap this is an awesome event</p>
                </div>
                <div class="panel">
                    <h5>MozCoffee Berlin March</h5>
                    <p>Yeap this is an awesome event</p>
                </div>
            </div>

            <!-- Featured Rep section -->
            <div class="four columns">
                <h4>Rep of the month</h4> <br>
                <div class="row">
                    <div class="four columns">
                        <img src="http://dummyimage.com/80x80/999/ccc">
                    </div>
                    <div class="eight columns">
                        <h5>Alex <br> Wafula</h5> <br> Nairobi, Kenya
                    </div>

                <div class="row">
                    <div class="twelve columns">
                    <br>
                    Applicake tiramisu pie ice cream sesame snaps carrot cake dragée. Pudding candy canes gingerbread lemon drops cake pie. Dragée biscuit jujubes jujubes. Cake ice cream faworki tart macaroon icing jelly beans cotton candy ice cream. Wafer candy halvah halvah bear claw cotton candy muffin cotton candy. Biscuit chupa chups wafer soufflé bonbon halvah pudding. Chupa chups caramels muffin bear claw gingerbread jujubes jelly. Faworki wafer tootsie roll. Lollipop pastry wypas. Wafer gummi bears caramels jelly-o sweet roll. Chupa chups pudding oat cake powder apple pie macaroon. Tart sugar plum faworki gingerbread dessert jujubes. Macaroon marshmallow cookie. Biscuit caramels powder fruitcake faworki jelly beans ice cream brownie wafer.
                    </div>
                </div>
            </div>
            </div>
        </div>

    </div>
    <!-- container -->

    <div id="join-modal" class="reveal-modal">
        <p class="lead">So, you wanna join us?</p>
        <h2>Cool!</h2>
        <p>While the Mozilla Reps program is open to all, becoming a Mozilla Reps involves a short but rigorous application process to make sure those interested are motivated and ready to take on a leadership role within the Mozilla community.

        If you feel up to the challenge and ready to take your participation in the Mozilla project to the next level, apply today to become a Mozilla Rep! The process involves three simple steps:
        <ul>
            <li><h4>Step 1</h4>Fill out and submit the MozillaReps application form. A member of the Mozilla Rep advisory council will be in touch within 24 hours.</li>
            <li><h4>Step 2</h4>If your application is approved, you'll be invited to be interviewed by a member of the advisory council over IRC or IM that same week. The interview lasts about 15 minutes and you will be asked some simple questions about yourself, your experience contributing to the Mozilla project and, of course, your motivation for becoming a MozRep.</li>
            <li><h4>Step 3</h4>If you pass the interview, your Mozilla Rep mentor who will get you started and familiar with the tools at your disposal to start organizing events, requesting budgets, swag, etc. </li>
        </ul>
        And just like that, you could become a Mozilla Rep! </p>
        <a class="close-reveal-modal">&#215;</a>
    </div>


    <!-- Included JS Files -->
    <script src="javascripts/jquery.min.js"></script>
    <script src="javascripts/modernizr.foundation.js"></script>
    <script src="javascripts/foundation.js"></script>
    <script src="javascripts/app.js"></script>

</body>
</html>
