{% extends "base.html" %}

{% block pagetitle %}
Mozilla Reps - Labs
{% endblock %}

{% block content %}
<!-- Labs Page -->
<div class="row">
  <div class="twelve columns">
    <h3>Labs</h3>
    <h4>Reps is all about experimenting!</h4>
    <p>In this section of our site we will be developing, testing
    and showcasing awesome new tools for Mozilla Reps.</p>
    <p>Do you have what it takes to experiment and help us shape the
    future of Mozilla Reps tools? Drop
    by <a href="irc://irc.mozilla.org/remo-dev">#remo-dev</a> or
    subscribe
    to <a href="https://lists.mozilla.org/listinfo/reps-webdev">our
    mailing list</a> to share your ideas and start hacking!</p>

    <!-- Reps Companion section -->
    <div class="row top-margined">
      <div class="seven columns">
        <h4>Mozilla Reps Companion</h4>
        <p>What can be cooler than having you basic Rep functiontion one click away?</p>
        <p>Install now the <a href="https://addons.mozilla.org/en-US/firefox/addon/mozilla-reps-companion/">
          Mozilla Reps Companion - Firefox add-on</a> to have easy access to tools, documantation and links
          about the Mozilla Reps program.</p>
      </div>
      <div class="five columns">
        <a href="https://addons.mozilla.org/en-US/firefox/addon/mozilla-reps-companion/" target="_blank">
          <img class="labs-pic" src="/media/img/remo/remo-companion.png">
        </a>
      </div>
    </div>

    <!-- Card Generator section -->
    <div class="row top-margined">
      <div class="seven columns">
        <h4>Business card generator</h4>
        <p>Create your own Mozilla Reps business cards using our Business Card generator!</p>
        <p>If you are a Mozilla Rep give it a try <a href="http://cards.mozillareps.org/">here</a>.</p>
      </div>
      <div class="five columns">
        <a href="http://cards.mozillareps.org/" target="_blank">
          <img class="labs-pic" src="/media/img/remo/remo-cards.png">
        </a>
      </div>
    </div>

  </div>
</div>
{% endblock %}