{% extends "base_fd4.html" %}

{% block pagetitle %}
Mozilla Reps - Labs
{% endblock %}

{% block content %}
<!-- Labs Page -->
<main role="main" class="labs-main">
  <div class="row">
    <div class="large-12 columns">
      <div class="row">
        <div class="large-6 columns">
          <h1>Labs</h1>
          <p>
            Mozilla Reps are strongly encouraged to experiment and try new
            things. In this section, we will be developing, testing and
            showcasing awesome new tools for Mozilla Reps.
          </p>
          <p>
            Do you have what it takes to experiment and help us shape the
            future of Mozilla Reps tools? Drop
            by <a href="irc://irc.mozilla.org/remo-dev">#remo-dev</a> or
            subscribe
            to <a href="https://lists.mozilla.org/listinfo/reps-webdev">our
              mailing list</a> to share your ideas and start hacking!
          </p>
        </div>
      </div>

      <!-- Reps Companion section -->
      <div class="row">
        <div class="large-6 columns labs-item">
          <h2>Mozilla Reps Companion</h2>
          <p>
            What can be cooler than having all your Reps documentation
            (SOPs, tutorials, tools etc..) one click away?
          </p>
          <p>
            Install
            the <a href="https://addons.mozilla.org/en-US/firefox/addon/mozilla-reps-companion/"
                   target="_blank">
            Mozilla Reps Companion - Firefox add-on</a> today.
          </p>
        </div>
        <div class="large-6 columns labs-img">
          <a href="https://addons.mozilla.org/en-US/firefox/addon/mozilla-reps-companion/"
             target="_blank">
            <img class="labs-pic" src="/media/img/remo/remo-companion.png" alt="">
          </a>
        </div>
      </div>

      <!-- Card Generator section -->
      <div class="row">
        <div class="large-6 columns labs-item">
          <h2>Business card generator</h2>
          <p>
            Create your own Mozilla Reps business cards using our
            Business Card generator!
          </p>
          <p>
            Unfortunatelly the Card Generator is not maintained any
            more. Do you want to help make the new and improved
            version? Come talk to us on #remo-dev or
            reps-webdev@lists.mozilla.org.
          </p>
        </div>
        <div class="large-6 columns labs-img">
          <img class="labs-pic" src="/media/img/remo/remo-cards.png" alt="">
        </div>
      </div>

      <!-- Mentorship section -->
      <div class="row">
        <div class="large-6 columns labs-item">
          <h2>Mentorship Structure</h2>
          <p>
            Visualization of mentorship structure within Mozilla Reps using d3.js for dynamic rendering of realtime data.
          </p>
          <p>
            You can view the visualization <a href="http://mentorship.mozillareps.org/" target="_blank">here</a>.
          </p>
        </div>
        <div class="large-6 columns labs-img">
          <a href="http://mentorship.mozillareps.org/" target="_blank">
            <img class="labs-pic" src="/media/img/remo/labs-mentorship.png" alt="">
          </a>
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock %}
