{% extends "base_fd4.jinja" %}

{% block logo %}
<h1><span class="metabold">mozilla</span> reps</h1>
{% endblock %}

{% block content %}

<main role="main">
  <!-- Sidereel Orbit featured images -->
  <div class="row">
    <div class="large-12 columns slidereel">
      <ul id="featured" data-orbit>
        <li>
          <img src="{{ static('base/img/remo/show2.jpg') }}" alt="Mozilla Reps in action" />
        </li>
        <li>
          <img src="{{ static('base/img/remo/show3.jpg') }}" alt="Mozilla Reps polo shirt" />
        </li>
        <li>
          <img src="{{ static('base/img/remo/show4.jpg') }}" alt="Mozilla Reps welcome pack" />
        </li>
        <li>
          <img src="{{ static('base/img/remo/show1.jpg') }}" alt="Mozilla Festival closing session" />
        </li>
      </ul>
    </div>
  </div>

  <!-- 3 Sections are here -->
  <div class="row">

    <!-- About section -->
    <div class="large-4 columns main-section">
      <div id="about">
        <h3>
          about:reps
        </h3>
        <p>
          The Mozilla Reps program aims to empower and support volunteer
          Mozillians who want to become official representatives of
          Mozilla in their region/locale.
        </p>
        <p>
          The program provides a simple framework and a specific set of
          tools to help Mozillians to organize and/or attend events,
          recruit and mentor new contributors, document and share
          activities, and support their local communities better.
        </p>
        <p>
          You can learn more about the program
          <a href="{{ url('about') }}">here</a>.
        </p>
      </div>
      <hr>
      <div id="gray-logo">
        <img src="{{ static('base/img/remo/remo_avatar.png') }}" alt="">
      </div>
    </div>

    <!-- Featured Rep section -->
    <div class="large-4 columns main-section" id="featured-reps">
      <h3>
        Rep of the month
      </h3>
      {% if featuredrep %}
        {% for user in featuredrep.users.all() %}
          <div class="row">
            <div class="large-4 columns">
              <img src="{{ user|get_avatar_url(80) }}" id="main-featured-avatar"
                  alt="Profile picture of {{ user.first_name }} {{ user.last_name }}">
            </div>
            <div class="large-8 columns">
              <h5>
                <a href="{{ url('profiles_view_profile', user.userprofile.display_name) }}">
                  {{ user.first_name }}<br>{{ user.last_name }}
                </a>
              </h5>
              {{ user.userprofile.city }}, {{ user.userprofile.country }}
            </div>
          </div>
        {% endfor %}
        <div class="row">
          <div class="large-12 columns">
            <div class="markdown">
              {{ featuredrep.text|markdown }}
            </div>
          </div>
        </div>
      {% else %}
        <div class="large-12 columns">
          None for this month!
        </div>
      {% endif %}

      <div class="row">
        <a class="large-12 columns more-posts" href="/featured/">See past featured Reps...</a>
      </div>
    </div>

    <!-- Planet Section -->
    <div class="large-4 columns main-section">
      <h3>
        Reps planet
      </h3>
      <div id="planet">
        Fetching awesome Reps Planet posts...
      </div>
      <div class="row">
        <a class="large-12 columns more-posts" href="http://planet.mozillareps.org">See all posts in planet...</a>
      </div>
    </div>

  </div>
</main>
{% endblock %}

{% block bottomextra %}
  {% compress js %}
    <script src="{{ static('base/js/orbit.js') }}"></script>
    <script src="{{ static('base/js/FeedEk.js') }}"></script>
    <script src="{{ static('base/js/planet.js') }}"></script>
  {% endcompress %}
{% endblock %}
