{% extends "base.html" %}

{% block content %}
<!-- Sidereel Orbit featured images -->
        <div class="row show-on-desktop">
            <div class="twelve columns">
                <div id="featured">
                    <img src="/media/img/remo/show1.png" alt="Overflow: Hidden No More"/>
                    <img src="/media/img/remo/show2.png"  alt="HTML Captions"/>
                    <img src="/media/img/remo/show3.png" alt="and more features"/>
                </div>
            </div>
        </div>

        <!-- Motto goes here -->
        <div class="row">
            <div class="twelve columns" id="motto">
            </div>
        </div>

        <!-- 3 Sections are here -->
        <div class="row">

            <!-- Upcoming events section -->
            <div class="four columns main-section">
                <div id="about"><h5>about:reps</h5><br>
		  <p>The Mozilla Reps program aims to empower and support volunteer Mozillians who want to become official representatives of Mozilla in their region/locale.</p><p>The program provides a simple framework and a specific set of tools to help Mozillians to organize and/or attend events, recruit and mentor new contributors, document and share activities and last but not least, support their local communities better.</p><p>You can learn more about the program <a href="https://wiki.mozilla.com/ReMo">here</a>.</p></div>
                <hr>
                <div id="gray-logo">
                    <img src="/media/img/remo/remo_avatar.png" width="200">
                </div>
            </div>

            <!-- Featured Rep section -->
            <div class="four columns main-section">
                <h5>Rep of the month</h5> <br>
                <div class="row">
                    <div class="four columns">
                        <img src="http://dummyimage.com/80x80/999/ccc">
                    </div>
                    <div class="eight columns">
                        <h5>Alex <br> Wafula</h5> <br> Nairobi, Kenya
                    </div>
                </div>

                <div class="row">
                    <div class="twelve columns">
                    <br>
                    Applicake tiramisu pie ice cream sesame snaps carrot cake dragée. Pudding candy canes gingerbread lemon drops cake pie. Dragée biscuit jujubes jujubes. Cake ice cream faworki tart macaroon icing jelly beans cotton candy ice cream. Wafer candy halvah halvah bear claw cotton candy muffin cotton candy. Biscuit chupa chups wafer soufflé bonbon halvah pudding. Chupa chups caramels muffin bear claw gingerbread jujubes jelly. Faworki wafer tootsie roll. <br> <br> Lollipop pastry wypas. Wafer gummi bears caramels jelly-o sweet roll. Chupa chups pudding oat cake powder apple pie macaroon. Tart sugar plum faworki gingerbread dessert jujubes. Macaroon marshmallow cookie. Biscuit caramels powder fruitcake faworki jelly beans ice cream brownie wafer.
                    </div>
                </div>
            </div>

            <!-- Planet Section -->
            <div class="four columns main-section">
                <h5>Reps planet</h5>
                <div id="planet">Fetching awesome Reps Planet posts...</div>
            </div>
            </div>
        </div>
{% endblock %}

{% block bottomextra %}
    <script src="/media/js/FeedEk.js" type="text/javascript"></script>
    <script src="/media/js/planet.js" type="text/javascript"></script>
{% endblock %}
