{% extends "base.html" %}

{% block content %}
<!-- Sidereel Orbit featured images -->
        <div class="row show-on-desktop">
            <div class="twelve columns">
                <div id="featured">
                    <img src="/media/img/remo/show1.png" alt="Overflow: Hidden No More"/>
                    <img src="/media/img/remo/show2.png"  alt="HTML Captions"/>
                    <img src="/media/img/remo/show3.png" alt="and more features"/>
                </div>
            </div>
        </div>

        <!-- Motto goes here -->
        <div class="row">
            <div class="twelve columns" id="motto">
            </div>
        </div>

        <!-- 3 Sections are here -->
        <div class="row">

            <!-- Planet Section -->
            <div class="four columns">
                <h4>Mozilla Reps planet</h4>
                <div class="blogpost">
                    <a href="http://reps.mozilla.org">Sample Post</a><br />This is a sample post. Here you can find the post text and then click on the title to go there :)
                </div>
                <div class="blogpost">
                    <a href="http://reps.mozilla.org">Sample Post</a><br />This is a sample post. Here you can find the post text and then click on the title to go there :)
                </div>
                <div class="blogpost">
                    <a href="http://reps.mozilla.org">Sample Post</a><br />This is a sample post. Here you can find the post text and then click on the title to go there :)
                </div>
                <div class="blogpost">
                    <a href="http://reps.mozilla.org">Sample Post</a><br />This is a sample post. Here you can find the post text and then click on the title to go there :)
                </div>
                <div class="blogpost">
                    <a href="http://reps.mozilla.org">Sample Post</a><br />This is a sample post. Here you can find the post text and then click on the title to go there :)
                </div>

                <div id="more-posts">
                    <a href="planet">read more...</a>
                </div>
            </div>

            <!-- Upcoming events section -->
            <div class="four columns">
                <h4>Upcoming events</h4> <br>
                <div class="panel">
                    <h5>Fosdem 2012</h5>
                    <p>Yeap this is an awesome event</p>
                </div>
                <div class="panel">
                    <h5>Fosscomm 2012</h5>
                    <p>Yeap this is an awesome event</p>
                </div>
                <div class="panel">
                    <h5>MozCamp LATAM 2012</h5>
                    <p>Yeap this is an awesome event</p>
                </div>
                <div class="panel">
                    <h5>MozCoffee Berlin March</h5>
                    <p>Yeap this is an awesome event</p>
                </div>
            </div>

            <!-- Featured Rep section -->
            <div class="four columns">
                <h4>Rep of the month</h4> <br>
                <div class="row">
                    <div class="four columns">
                        <img src="http://dummyimage.com/80x80/999/ccc">
                    </div>
                    <div class="eight columns">
                        <h5>Alex <br> Wafula</h5> <br> Nairobi, Kenya
                    </div>

                <div class="row">
                    <div class="twelve columns">
                    <br>

		      Applicake tiramisu pie ice cream sesame snaps
		      carrot cake dragée. Pudding candy canes
		      gingerbread lemon drops cake pie. Dragée biscuit
		      jujubes jujubes. Cake ice cream faworki tart
		      macaroon icing jelly beans cotton candy ice
		      cream. Wafer candy halvah halvah bear claw
		      cotton candy muffin cotton candy. Biscuit chupa
		      chups wafer soufflé bonbon halvah pudding. Chupa
		      chups caramels muffin bear claw gingerbread
		      jujubes jelly. Faworki wafer tootsie
		      roll. Lollipop pastry wypas. Wafer gummi bears
		      caramels jelly-o sweet roll. Chupa chups pudding
		      oat cake powder apple pie macaroon. Tart sugar
		      plum faworki gingerbread dessert
		      jujubes. Macaroon marshmallow cookie. Biscuit
		      caramels powder fruitcake faworki jelly beans
		      ice cream brownie wafer.

		    </div>
                </div>
            </div>
            </div>
        </div>

    </div>
{% endblock %}
