{% extends "base.html" %}

{% block pagetitle %}
Mozilla Reps - Settings
{% endblock %}

{% block content %}
<form class="custom" method="post"
      action="{{ url('edit_settings') }}">
  {{ csrf() }}
  <div class="row">
    <div class="ten columns">
      <h4>Settings</h4>
    </div>
    <div class="two columns align-right hide-on-phones">
      <button id="save-settings" type="submit"
              class="small green button nice radius">
        Save
      </button>
    </div>
  </div>

  <div class="row">
    <div class="twelve columns">
      <dl class="tabs">
        <dd class="active"><a href="#mailPreferences">Mail Preferences</a>
        </dd>
      </dl>

      <ul class="tabs-content">
        <li class="active" id="mailPreferencesTab">
          <div class="dashboard-box">
            <div class="row">
              <div class="twelve columns">
                {% if user_is_mozillian(user) %}
                  <p>Nothing to see here yet!</p>
                {% else %}
                  <div class="profile-item">
                    <h5>Reports</h5>
                    {{ settingsform.receive_email_on_add_comment }}
                    {{ settingsform.receive_email_on_add_comment.label }}
                    <br>
                    {% if user_is_mentor(user) %}
                      {{ settingsform.receive_email_on_add_report }}
                      {{ settingsform.receive_email_on_add_report.label }}
                      <br>
                      {{ settingsform.receive_email_on_edit_report }}
                      {{ settingsform.receive_email_on_edit_report.label }}
                    {% endif %}
                  </div>
                  <div class="profile-item">
                    <h5>Events</h5>
                    {{ settingsform.receive_email_on_add_event_comment }}
                    {{ settingsform.receive_email_on_add_event_comment.label }}
                  </div>
                {% endif %}
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>

  <div class="two columns align-right show-on-phones">
    <button id="save-settings" type="submit"
            class="small green button nice radius top-margined">
      Save
    </button>
  </div>
</form>

{% endblock %}
