{% extends "base_fd4.jinja" %}

{% block pagetitle %}
Mozilla Reps - Settings
{% endblock %}

{% block content %}
<main role="main" class="settings-main">
  <form method="post" action="{{ url('edit_settings') }}">
    {% csrf_token %}
    <div class="row">
      <div class="large-10 columns">
        <h1>Settings</h1>
      </div>
    </div>

    <div class="row">
      <div class="large-12 columns">
        <div class="section-container auto" data-section>
          {% if not user_is_mozillian(user) or not user_is_alumni(user) %}
            <section>
              <p class="title" data-section-title>
                <a href="#personalSettings">Personal Settings</a>
              </p>
              <div class="content" data-section-content id="personalSettingsTab">
                <h2>Reports</h2>
                <p>
                  {{ settingsform.receive_email_on_add_comment }}
                  {{ settingsform.receive_email_on_add_comment.label }}
                </p>
                <h2>Events</h2>
                <p>
                  {{ settingsform.receive_email_on_add_event_comment }}
                  {{ settingsform.receive_email_on_add_event_comment.label }}
                </p>
                <h2>Voting</h2>
                <p>
                  {{ settingsform.receive_email_on_add_voting_comment }}
                  {{ settingsform.receive_email_on_add_voting_comment.label }}
                </p>
                <button id="save-settings" type="submit" class="button small confirm">
                  Save
                </button>
              </div>
            </section>
            <section>
              <p class="title" data-section-title>
                <a href="#availabilitySettings">Availability Settings</a>
              </p>
              <div class="content" data-section-content id="availabilitySettingsTab">
                <h2>Availability</h2>
                <p>
                  <a href="{{ url('edit_availability', user.userprofile.display_name) }}">
                    {% if not user|user_is_unavailable %}
                      Submit a break notification
                    {% else %}
                      Resume your activities
                    {% endif %}
                  </a>
                </p>
              </div>
            </section>
          {% endif %}
          {% if user_is_admin(user) or user_is_council(user) %}
            <section>
              <p class="title" data-section-title>
                <a href="#portalSettings">Portal Settings</a>
              </p>
              <div class="content" data-section-content id="portalSettingsTab">
                <h2>Content</h2>
                {% if user_is_admin(user) %}
                  <p>
                    <a href="{{ url('list_functional_areas') }}">Edit functional areas</a>
                  </p>
                {% endif %}
                <p>
                  <a href="{{ url('list_mobilising_skills') }}">Edit mobilizing expertise</a>
                </p>
                <p>
                  <a href="{{ url('list_mobilising_interests') }}">Edit mobilizing learning interests</a>
                </p>
                <p>
                  <a href="{{ url('list_activities') }}">Edit activities</a>
                </p>
                <p>
                  <a href="{{ url('list_campaigns') }}">Edit initiatives</a>
                </p>
                <p>
                  <a href="{{ url('list_metrics') }}">Edit event metrics</a>
                </p>
              </div>
            </section>
          {% endif %}
        </div>
      </div>
    </div>
  </form>
</main>

{% endblock %}
