<div class="attending-event-msg">
  You are attending this event!
  <p>
    Take a moment to add this event to your calendar
  </p>
  <p>
    <a href="{{ url('events_icalendar_event', slug=event.slug) }}">
      Add event to Google Calendar / Outlook / iCal
    </a>
  </p>
</div>
