{% extends "base_fd4.jinja" %}
{% block pagetitle %}Mozilla Reps - Add new featured rep{% endblock %}

{% block content %}
<main role="main" class="featured-reps">
  <form method="post" action="{{ post_to }}">
    {% csrf_token %}

    {% if form.errors %}
      <div class="row">
        <div class="large-12 columns">
          <small class="error">Please correct the errors below.</small>
        </div>
      </div>
    {% endif %}
    <div class="row">
      <div class="large-6 columns">
        <h5>
          Add or Edit Featured Reps article
        </h5>
      </div>
    </div>

    <div class="row">
      <div class="large-6 columns">
        <label class="required" for="id_users">
          Please specify the Featured Rep(s) for this month.
        </label>
        <span class="has-tip tip-left" title="Featured Rep"
              data-tooltip
              data-options="disable-for-touch:true">
          {{ field_with_attrs(form.users, size=18) }}
        </span>
        {{ field_errors(form.users) }}
      </div>
      <div class="large-12 columns">
        <textarea class="flat" placeholder="Enter featured text"
                  name="text">{{ form.text.value() }}
        </textarea>
        <div class="required-field"></div>
        {{ field_errors(form.text) }}
        <p class="more-info">In this field you can use
          <a href="http://en.wikipedia.org/wiki/Markdown"
            target="_blank"> Markdown
          </a>
          syntax.
        </p>
        <button type="submit" class="featured-button small button">
          Add or Edit Featured Rep
        </button>
      </div>
    </div>
  </form>
</main>
{% endblock %}
