{% extends "base.html" %}

{% block pagetitle %}Mozilla Reps - Featured Reps {% endblock%}

{% block content %}
<!-- List block -->
<div class="row">
  <div class="twelve columns">
    <h3>
      Featured Reps
    </h3>
  </div>
</div>
<div class="row">
  <div class="twelve columns">
    <p>
      This is an archive of all past "Reps of the Month". This
      special recognition is given each month by the Mozilla Reps
      Council to a Rep who has gone above and beyond to help push the
      Mozilla project forward in his/her region.
    </p>
  </div>
</div>
<!-- Adding new rep -->
{% if perms.featuredrep.can_edit_featured %}
  <div class="row">
    <div class="twelve columns align-right">
      <a href="{{ url('featuredrep_add_featured') }}"
         class="featured-button small white button nice radius">Add new</a>
    </div>
  </div>
{% endif %}
<div class="row">
  <div class="twelve columns">
    <table id="featured-articles">
      <thead>
        <tr>
          <th>
            Rep Name
          </th>
          <th>
            Featured text
          </th>
          <th>
            Date featured
          </th>
          {% if perms.profiles.can_edit_profiles %}
            <th>
              Actions
            </th>
          {% endif %}
        </tr>
      </thead>
      <tbody>
        {% for feature in featured %}
        <tr>
          <td>
            <a href="{{ url('profiles_view_profile', feature.user.userprofile.display_name) }}">
              {{ feature.user.get_full_name() }}
            </a>
          </td>
          <td>
            <div class="markdown">
              {{ feature.text|markdown }}
            </div>
          </td>
          <td>
            {{ feature.created_on.strftime('%d-%m-%Y') }}
          </td>
          {% if (perms.featuredrep.can_edit_featured or
                 perms.featuredrep.can_delete_featured) %}
            <td>
              {% if perms.featuredrep.can_edit_featured %}
                <a href="{{ url('featuredrep_edit_featured', feature.id) }}"
                   class="featured-edit pictogram-button">e</a>
              {% endif %}
              {% if perms.featuredrep.can_delete_featured %}
                <form id="deleteform-{{ feature.id }}" method="post"
                      action="{{ url('featuredrep_delete_featured', feature.id) }}">
                  {{ csrf() }}
                  <a href="#" data-reveal-id="delete-feature"
                     class="featured-delete pictogram-button">X</a>
                </form>
              {% endif %}
            </td>
          {% endif %}
        </tr>
        {% else %}
        <tr>
          <td>
            No entries yet!
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}

{% block bottomextra %}
<script src="{{ static('featuredrep/js/featuredrep.js') }}" type="text/javascript"></script>
{% endblock %}
