html,body {
  margin: 0;
}

body {
  background-color: #9e322c;
  background-image: -moz-linear-gradient(top, #9e322c, #762521);
  background-image: url('/media/remo_logo.png');
  background-repeat: no-repeat;
  background-attachment:fixed;
  background-position: -100px 100px;
}

#logo {
  margin: 0 auto;
  margin-top: 10%;
  width: 400px;
  text-align: center;
  font-size: 150%;
}
