<footer id="colophon" class="hide-on-print">
  <div class="row">

    <div class="large-4 columns">
      <a href="http://mozilla.org" class="footer-logo">
        <img src="{{ static('base/img/remo/mozilla-wordmark.svg') }}" alt="mozilla">
      </a>
    </div>

    <div class="large-4 columns">
      <p>
        Portions of this content are ©1998–{{ thisyear() }} by individual
        mozilla.org contributors. Content available under
        a <a href="https://www.mozilla.org/foundation/licensing/website-content/">
        Creative Commons license</a>.
      </p>
    </div>

    <nav class="large-4 columns">
      <ul>
        <li><a href="https://mozilla.org/contact/">Contact Us</a></li>
        <li><a href="https://www.mozilla.org/privacy/websites/">Privacy Policy</a></li>
        <li><a href="https://mozilla.org/about/legal.html">Legal Notices</a></li>
        <li><a href="https://mozilla.org/legal/fraud-report/">Report Trademark Abuse</a></li>
      </ul>
    </nav>

  </div>
</footer>
