<footer id="colophon">
  <div class="row">

    <div class="four columns">
      <a href="http://mozilla.org" class="footer-logo">
        <img src="{{ MEDIA_URL }}img/remo/footer-mozilla.png" alt="mozilla">
      </a>
    </div>

    <div class="four columns">
      <p>
        Portions of this content are ©1998–2012 by individual
        mozilla.org contributors. Content available under
        a <a href="http://mozilla.org/foundation/licensing/website-content.html">
        Creative Commons license</a>.
      </p>
    </div>

    <nav class="four columns">
      <ul>
        <li><a href="http://mozilla.org/about/contact.html#map-mountain_view">Contact Us</a></li>
        <li><a href="http://www.mozilla.org/en-US/privacy-policy.html">Privacy Policy</a></li>
        <li><a href="http://mozilla.org/about/legal.html">Legal Notices</a></li>
        <li><a href="http://mozilla.org/legal/fraud-report/index.html">Report Trademark Abuse</a></li>
      </ul>
    </nav>

  </div>
</footer>
