<div class="end-row row attribution">
  <p class="large-12 columns">
    Maps &copy; by <a href="http://mapbox.com">Mapbox</a>
    and <a href="http://openstreetmap.org/copyright">OpenStreetMap</a>
    contributors
  </p>
</div>
