{% extends "base_fd4.html" %}

{% block pagetitle %}
{% if created %}
  Mozilla Reps - Create Voting
{% else %}
  Mozilla Reps - Edit {{ poll.name }}
{% endif %}
{% endblock %}

{% block content %}
<main role="main" class="voting-main">
  <form method="post">
    {{ csrf() }}
    <div class="row">
      {% if poll_form.errors or range_poll_formset.errors or radio_poll_formset.errors %}
        <div class="large-12 columns">
          <small class="error">Please correct the errors below.</small>
        </div>
      {% endif %}
      <div class="large-8 columns">
        {% if created %}
          <h1>Creating new voting</h1>
        {% else %}
          <h1>Editing {{ poll.name }}</h1>
        {% endif %}
      </div>
      <div class="large-4 columns align-right hide-for-small">
        {% if can_delete_voting %}
          <button class="button small alert"
             data-reveal-id="delete-voting">Delete voting</button>
        {% endif %}
        <button class="button small confirm">Save voting</button>
      </div>
    </div>

    <div class="row">
      <div class="large-6 columns">
        <div class="row">
          <div class="large-1 columns">
            <div class="pict-icon large tag"></div>
            <!-- Name and Description -->
          </div>
          <div class="large-11 columns">
            <div data-tooltip class="has-tip tip-left" title='Voting name'>
              {{ field_with_attrs(poll_form.name,
                                  placeholder='Voting name')}}
              <div class="required-field"></div>
            </div>
            {{ field_errors(poll_form.name) }}
            <div data-tooltip class="has-tip tip-left" title='Voting description'>
              {{ field_with_attrs(poll_form.description,
                                  class='flat',
                                  placeholder='Description of voting') }}
              <div class="required-field"></div>
            </div>
            <p class="more-info">Minimum 20 characters.</p>
            {{ field_errors(poll_form.description) }}
            {% if poll_form.non_field_errors %}
              {% for err in poll_form.non_field_errors() %}
                <small class="error">
                  {{ err }}
                </small>
              {% endfor %}
            {% endif %}
            <p>
              {{ poll_form.comments_allowed }}
              <label for="id_comments_allowed">
                {{ poll_form.comments_allowed.label }}
              </label>
              {{ field_errors(poll_form.comments_allowed) }}
            </p>
          </div>
        </div>
      </div>

      <div class="large-6 columns">
        <div class="row">
          <div class="large-1 columns">
            <div class="pict-icon large time"></div>
            <!-- Date and Times -->
          </div>
          <div class="large-11 columns">
            <!-- Start and end time elements -->
            {% if current_voting_edit %}
              <div class="hidden">
                {{ poll_form.end_form }}
              </div>

              <!-- End date -->
              <div class="row">
                <div class="large-12">
                  <div data-tooltip class="data-tip has-tip tip-right" title="Voting end date">
                    <div id="end-month" class="large-6 small-6 columns voting-edit-date ">
                    <!-- month -->
                    </div>

                    <div id="end-day" class="large-3 small-3 columns voting-edit-date">
                    <!-- day -->
                    </div>

                    <div id="end-year" class="large-3 small-3 columns voting-edit-date">
                    <!-- year -->
                    </div>
                  </div>
                </div>
              </div>

              <!-- End Hour -->
              <div class="row">
                <div class="large-12">
                  <div data-tooltip class="data-tip has-tip tip-right" title="Voting end hour">
                    <div id="end-hour" class="large-3 small-3 columns voting-edit-date">
                    <!-- hour -->
                    </div>

                    <div id="end-minute" class="large-3 small-3 end columns voting-edit-date">
                    <!-- minute -->
                    </div>
                  </div>
                </div>
              </div>
              <div class="required-field"></div>

              <div class="row">
                <div class="large-12">
                  {{ field_errors(poll_form.end_form) }}
                </div>
              </div>
            {% else %}
              <div class="hidden">
                {{ poll_form.start_form }}
                {{ poll_form.end_form }}
              </div>

              <!--Start Date -->
              <div class="row">
                <div class="large-12">
                  <div data-tooltip class="data-tip has-tip tip-right" title="Voting start date">
                    <div id="start-month" class="large-6 small-6 columns voting-edit-date">
                      <!-- month -->
                    </div>

                    <div id="start-day" class="large-3 small-3 columns voting-edit-date">
                      <!-- day -->
                    </div>

                    <div id="start-year" class="large-3 small-3 columns voting-edit-date">
                      <!-- year -->
                    </div>
                  </div>
                </div>
              </div>

              <!-- Start Hour -->
              <div class="row">
                <div class="large-12">
                  <div data-tooltip class="data-tip has-tip tip-right" title="Voting start hour">
                    <div id="start-hour" class="large-3 small-3 columns">
                      <!-- hour -->
                    </div>

                    <div id="start-minute" class="large-3 small-3 end columns">
                      <!-- minute -->
                    </div>
                  </div>
                </div>
              </div>
              <div class="required-field"></div>

              <!-- End date -->
              <div class="row">
                <div class="large-12">
                  <div data-tooltip class="data-tip has-tip tip-right" title="Voting end date">
                    <div id="end-month" class="large-6 small-6 columns voting-edit-date ">
                    <!-- month -->
                    </div>

                    <div id="end-day" class="large-3 small-3 columns voting-edit-date">
                    <!-- day -->
                    </div>

                    <div id="end-year" class="large-3 small-3 columns voting-edit-date">
                    <!-- year -->
                    </div>
                  </div>
                </div>
              </div>

              <!-- End Hour -->
              <div class="row">
                <div class="large-12">
                  <div data-tooltip class="data-tip has-tip tip-right" title="Voting end hour">
                    <div id="end-hour" class="large-3 small-3 columns voting-edit-date">
                      <!-- hour -->
                    </div>

                    <div id="end-minute" class="large-3 small-3 end columns voting-edit-date">
                      <!-- minute -->
                    </div>
                  </div>
                </div>
              </div>
              <div class="required-field"></div>

              <div class="row">
                <div class="large-12">
                  {{ field_errors(poll_form.start_form) }}
                  {{ field_errors(poll_form.end_form) }}
                </div>
              </div>
            </div>
          </div>

          <div class="row"> <!-- Eligible groups -->
            <div class="large-1 columns">
              <div class="pict-icon large lock"></div>
            </div>
            <div class="large-11 columns">
              <div data-tooltip class="data-tip has-tip tip-right valid-groups" title="Eligible voting Group">
                {{ poll_form.valid_groups }}
              </div>
              <div class="required-field"></div>
              {{ field_errors(poll_form.valid_groups) }}
            {% endif %}
          </div>
        </div>
      </div>
    </div>

    {% if not current_voting_edit %}
      <div class="row poll-choices">
        <div class="large-6 columns">

          <div class="row">
            <div class="large-1 columns">
              <div class="pict-icon large people"></div>
            </div>
            <div class="large-11 columns">

              <!-- Range poll voting -->
              <div id="range-poll-voting" class="formset"
                   data-prefix="{{ range_poll_formset.prefix }}">
                {% for range_poll_form in range_poll_formset %}
                  {{ range_poll_form.id }}
                  <div class="copyblock voting-poll">
                    <div class="poll-block">
                      <div data-tooltip class="has-tip tip-left" title="Range Poll Name">
                        {{ field_with_attrs(range_poll_form.name,
                                            placeholder='Range Poll Name') }}
                      </div>
                      <div class="required-field"></div>
                      {{ field_errors(range_poll_form.name) }}
                      {% if range_poll_form.nested %}
                        <div class="formset"
                             data-prefix="{{ range_poll_form.nested[0].prefix }}">
                          {% for nominee_form in range_poll_form.nested[0] %}
                            {{ nominee_form.id }}
                            <div id="inner-rangepoll-formset" class="copyblock nominee">
                              <div class="select-nominee-group">
                                <div data-tooltip class="has-tip tip-left select-nominee" title="Select Nominee">
                                  {{ nominee_form.nominee }}
                                </div>
                                {{ field_errors(nominee_form.nominee) }}
                                <div class="required-field"></div>
                              </div>
                              <div class="delete-nominee-group">
                                {{ nominee_form.DELETE.label_tag() }}
                                {{ nominee_form.DELETE }}
                              </div>
                            </div>
                          {% endfor %}
                          <button class="voting-add-nominee-button small button">
                            Add Nominee
                          </button>
                        </div>
                        {{ range_poll_form.nested[0].management_form }}
                      {% endif %}
                    </div>
                  </div>
                {% endfor %}
                <button class="voting-add-rangepoll-button small button update">
                  Add Range Poll
                </button>
              </div>
              {{ range_poll_formset.management_form }}
            </div>
          </div>
        </div>

        <div class="large-6 columns">

          <div class="row">
            <div class="large-1 columns">
              <div class="pict-icon large list"></div>
            </div>
            <div class="large-11 columns">

              <!-- Radio poll voting -->
              <div id="radio-poll-voting" class="formset"
                   data-prefix="{{ radio_poll_formset.prefix }}">
                {% for radio_poll_form in radio_poll_formset %}
                  {{ radio_poll_form.id }}
                  <div class="copyblock voting-poll">
                    <div class="poll-block">
                      <div data-tooltip class="has-tip tip-left" title="Radio Poll Title">
                        {{ field_with_attrs(radio_poll_form.question,
                                            placeholder='Radio Poll Title') }}
                      </div>
                      <div class="required-field"></div>
                      {{ field_errors(radio_poll_form.question) }}
                      {% if radio_poll_form.nested %}
                        <div class="formset" data-prefix="{{ radio_poll_form.nested[0].prefix }}">
                          {% for answer_form in radio_poll_form.nested[0] %}
                            {{ answer_form.id }}
                            <div id="inner-radiopoll-formset" class="copyblock radio-choice">
                              <div data-tooltip class="has-tip tip-left" title="Radio Poll Answer">
                                {{ field_with_attrs(answer_form.answer,
                                                    placeholder='Radio Poll Answer') }}
                              </div>
                              <div class="required-field"></div>
                              {{ field_errors(answer_form.answer) }}
                              <div class="align-right">
                                {{ answer_form.DELETE.label_tag() }}
                                {{ answer_form.DELETE }}
                              </div>
                            </div>
                          {% endfor %}
                          <button class="voting-add-answer-button small button">
                            Add Choice
                          </button>
                        </div>
                        {{ radio_poll_form.nested[0].management_form }}
                      {% endif %}
                    </div>
                  </div>
                {% endfor %}
                <button class="voting-add-radiopoll-button small button update">
                  Add Radio Poll
                </button>
              </div>
              {{ radio_poll_formset.management_form }}
            </div>
          </div>
        </div>
      </div>
    {% endif %}

    <div class="row show-for-small controls-footer">
        <div class="small-12 columns">
        {% if can_delete_voting %}
          <button class="button small alert"
             data-reveal-id="delete-voting">Delete voting</button>
        {% endif %}
        <button class="button small confirm">Save voting</button>
      </div>
    </div>

  </form>

  <!-- Delete voting modal -->
  {% if can_delete_voting %}
    <div id="delete-voting" class="reveal-modal small">
      <a class="close-reveal-modal">&#215;</a>
      <p class="lead">
        Are you sure you want to do that?
      </p>
      <h2>
        Warning
      </h2>
      <p>
        By pressing the following button you will permantly and
        irreversibly delete this voting.
      </p>
      <form method="post" action="{{ url('voting_delete_voting', slug=poll.slug) }}">
        {{ csrf() }}
        <button class="button large alert">
          Delete Voting
        </button>
      </form>
    </div>
  {% endif %}
</main>

<!-- Voting templates -->
{% include 'includes/voting_templates.html' %}

{% endblock%}

{% block bottomextra %}
  {% compress js %}
    <script src="{{ static('base/js/jquery.tmpl.js') }}"></script>
    <script src="{{ static('voting/js/voting_edit_voting.js') }}"></script>
  {% endcompress %}
{% endblock %}
