{% extends "base.html" %}

{% block pagetitle %}
{% if creating %}
  Mozilla Reps - Create Voting
{% else %}
  Mozilla Reps - Edit {{ poll.name }}
{% endif %}
{% endblock %}

{% block content %}
<form class="custom" method="post">
  {{ csrf() }}
  <div class="row">
    <div class="eight columns">
      {% if creating %}
        <h4>Creating new voting</h4>
      {% else %}
        <h4>Editing {{ poll.name }}</h4>
      {% endif %}
    </div>
    <div class="four columns align-right hide-on-phones">
      {% if can_delete_voting %}
        <a href="#" class="small red button nice radius"
           data-reveal-id="delete-voting">Delete voting</a>
      {% endif %}
      <button class="small green button nice radius">Save voting</button>
    </div>
  </div>

  <div class="row">
    <div class="six columns">
      <div class="row">
        <div class="one columns pictogram">
          J <!-- Name and Description -->
        </div>
        <div class="eleven columns">
          {{ field_with_attrs(poll_form.name,
                              placeholder='Voting name',
                              class='input-text big has-tip tip-left',
                              title='Voting name') }}
          <div class="required-field"></div>
          {{ field_errors(poll_form.name) }}

          {{ field_with_attrs(poll_form.description,
                              class='flat has-tip tip-left',
                              title='Voting description',
                              placeholder='Description of voting') }}
          <div class="required-field"></div>
          <p class="more-info">Minimum 20 characters.</p>
          {{ field_errors(poll_form.description) }}
          {% if poll_form.non_field_errors %}
            {% for err in poll_form.non_field_errors() %}
              <small class="error">
                {{ err }}
              </small>
            {% endfor %}
          {% endif %}

        </div>
      </div>
    </div>

    <div class="six columns">
      <div class="row">
        <div class="one columns pictogram">
          } <!-- Date and Times -->
        </div>
        <div class="eleven columns">
          <!-- Start and end time elements -->
          {% if current_voting_edit %}
            <div class="hidden">
              {{ poll_form.end_form }}
            </div>

            <!-- End date -->
            <div class="row">
              <div class="twelve columns">
                <div class="has-tip tip-right" title="Voting end date">
                  <div id="end-month" class="six phone-two columns voting-edit-date ">
                  <!-- month -->
                  </div>

                  <div id="end-day" class="three phone-one columns voting-edit-date">
                  <!-- day -->
                  </div>

                  <div id="end-year" class="three phone-one columns voting-edit-date">
                  <!-- year -->
                  </div>
                </div>
              </div>
            </div>

            <!-- End Hour -->
            <div class="row">
              <div class="twelve columns">
                <div class="has-tip tip-right" title="Voting end hour">
                  <div id="end-hour"
                       class="three phone-one columns voting-edit-date">
                  <!-- hour -->
                  </div>

                  <div id="end-minute" class="three phone-one end columns voting-edit-date">
                  <!-- minute -->
                  </div>
                </div>
              </div>
            </div>
            <div class="required-field"></div>

            <div class="row">
              <div class="twelve columns">
                {{ field_errors(poll_form.end_form) }}
              </div>
            </div>
          {% else %}
            <div class="hidden">
              {{ poll_form.start_form }}
              {{ poll_form.end_form }}
            </div>

            <!--Start Date -->
            <div class="row">
              <div class="twelve columns profile-item">
                <div class="has-tip tip-right" title="Voting start date">
                  <div id="start-month" class="six phone-two columns voting-edit-date">
                    <!-- month -->
                  </div>

                  <div id="start-day" class="three phone-one columns voting-edit-date">
                    <!-- day -->
                  </div>

                  <div id="start-year" class="three phone-one columns voting-edit-date">
                    <!-- year -->
                  </div>
                </div>
              </div>
            </div>

            <!-- Start Hour -->
            <div class="row">
              <div class="twelve columns">
                <div class="has-tip tip-right" title="Voting start hour">
                  <div id="start-hour" class="three phone-one columns">
                    <!-- hour -->
                  </div>

                  <div id="start-minute" class="three phone-one end columns">
                    <!-- minute -->
                  </div>
                </div>
              </div>
            </div>
            <div class="required-field"></div>

            <!-- End date -->
            <div class="row">
              <div class="twelve columns">
                <div class="has-tip tip-right" title="Voting end date">
                  <div id="end-month" class="six phone-two columns voting-edit-date ">
                  <!-- month -->
                  </div>

                  <div id="end-day" class="three phone-one columns voting-edit-date">
                  <!-- day -->
                  </div>

                  <div id="end-year" class="three phone-one columns voting-edit-date">
                  <!-- year -->
                  </div>
                </div>
              </div>
            </div>

            <!-- End Hour -->
            <div class="row">
              <div class="twelve columns">
                <div class="has-tip tip-right" title="Voting end hour">
                  <div id="end-hour"
                       class="three phone-one columns voting-edit-date">
                    <!-- hour -->
                  </div>

                  <div id="end-minute" class="three phone-one end columns voting-edit-date">
                    <!-- minute -->
                  </div>
                </div>
              </div>
            </div>
            <div class="required-field"></div>

            <div class="row">
              <div class="twelve columns">
                {{ field_errors(poll_form.start_form) }}
                {{ field_errors(poll_form.end_form) }}
              </div>
            </div>
          </div>
        </div>

        <div class="row"> <!-- Eligible groups -->
          <div class="one columns pictogram">
            n
          </div>
          <div class="eleven columns">
            <div class="profile-item">
              <div class="has-tip tip-right" title="Eligible voting Group">
                {{ poll_form.valid_groups }}
              </div>
            </div>
            <div class="required-field"></div>
            {{ field_errors(poll_form.valid_groups) }}
          {% endif %}
        </div>
      </div>
    </div>
  </div>

  {% if not current_voting_edit %}
    <div class="row">
      <div class="six columns">

        <div class="row">
          <div class="one columns pictogram">
            g
          </div>
          <div class="eleven columns">

            <!-- Range poll voting -->
            <div class="formset" data-prefix="{{ range_poll_formset.prefix }}">
              {% for range_poll_form in range_poll_formset %}
                {{ range_poll_form.id }}
                <div class="row copyblock">
                  <div class="eleven columns poll-block">
                    {{ field_with_attrs(range_poll_form.name,
                                        placeholder='Range Poll Name',
                                        title='Range Poll Name',
                                        class='input-text big has-tip tip-left') }}
                    <div class="required-field"></div>
                    {{ field_errors(range_poll_form.name) }}
                    {% if range_poll_form.nested %}
                      <div class="formset"
                           data-prefix="{{ range_poll_form.nested[0].prefix }}">
                        {% for nominee_form in range_poll_form.nested[0] %}
                          {{ nominee_form.id }}
                          <div class="row copyblock">
                            <div class="has-tip tip-left" title="Select Nominee">
                              {{ nominee_form.nominee }}
                            </div>
                            {{ field_errors(nominee_form.nominee) }}
                            <div class="required-field"></div>
                            <div class="align-right">
                              Delete {{ nominee_form.DELETE }}
                            </div>
                          </div>
                        {% endfor %}
                        <div class="top-margined align-right">
                          <a class="voting-add-nominee-button small white button nice radius"
                             href="#">Add Nominee
                          </a>
                        </div>
                      </div>
                      {{ range_poll_form.nested[0].management_form }}
                    {% endif %}
                  </div>
                </div>
              {% endfor %}
              <div class="align-right">
                <a class="voting-add-rangepoll-button small blue button nice radius"
                   href="#">Add Range Poll
                </a>
              </div>
            </div>
            {{ range_poll_formset.management_form }}
          </div>
        </div>
      </div>

      <div class="six columns">

        <div class="row">
          <div class="one columns pictogram">
            4
          </div>
          <div class="eleven columns">

            <!-- Radio poll voting -->
            <div class="formset" data-prefix="{{ radio_poll_formset.prefix }}">
              {% for radio_poll_form in radio_poll_formset %}
                {{ radio_poll_form.id }}
                <div class="row copyblock">
                  <div class="eleven columns poll-block">
                    {{ field_with_attrs(radio_poll_form.question,
                                        placeholder='Radio Poll Title',
                                        title='Radio Poll Title',
                                        class='input-text big has-tip tip-left') }}
                    <div class="required-field"></div>
                    {{ field_errors(radio_poll_form.question) }}
                    {% if radio_poll_form.nested %}
                      <div class="formset" data-prefix="{{ radio_poll_form.nested[0].prefix }}">
                        {% for answer_form in radio_poll_form.nested[0] %}
                          {{ answer_form.id }}
                          <div class="row copyblock">
                            {{ field_with_attrs(answer_form.answer,
                                                placeholder='Radio Poll Answer',
                                                title='Radio Poll Answer',
                                                class='input-text big has-tip tip-left') }}
                            <div class="required-field"></div>
                            {{ field_errors(answer_form.answer) }}
                            <div class="align-right">
                              Delete {{ answer_form.DELETE }}
                            </div>
                          </div>
                        {% endfor %}
                        <div class="top-margined align-right">
                          <a class="voting-add-answer-button small white button nice radius"
                             href="#">Add Choice
                          </a>
                        </div>
                      </div>
                      {{ radio_poll_form.nested[0].management_form }}
                    {% endif %}
                  </div>
                </div>
              {% endfor %}
              <div class="align-right">
                <a class="voting-add-radiopoll-button small blue button nice radius"
                   href="#">Add Radio Poll
                </a>
              </div>
            </div>
            {{ radio_poll_formset.management_form }}
          </div>
        </div>
      </div>
    </div>
  {% endif %}

</form>

<!-- Delete voting modal -->
{% if can_delete_voting %}
  <div id="delete-voting" class="reveal-modal">
    <a class="close-reveal-modal">&#215;</a>
    <p class="lead">
      Are you sure you want to do that?
    </p>
    <h2>
      Warning
    </h2>
    <p>
      By pressing the following button you will permantly and
      irreversibly delete this voting.
    </p>
    <form method="post" action="{{ url('voting_delete_voting', slug=poll.slug) }}">
      {{ csrf() }}
      <button class="large red button nice radius close-reveal-modal">
        Delete Voting
      </button>
    </form>
  </div>
{% endif %}
{% endblock%}

{% block bottomextra %}
  {{ css('leaflet') }}
  {{ js('leaflet') }}
  {{ js('voting_edit_voting') }}
{% endblock %}
