{% extends "base.html" %}
{% block pagetitle %}Mozilla Reps - Voting{% endblock %}

{% block content %}
<div class="row">
  <div class="ten columns">
    <h4>Voting</h4>
  </div>
  {% if user_is_admin(user) %}
    <div class="two columns align-right">
      <a href="{{ url('voting_new_voting') }}" target="_blank"
         class="small blue button nice radius"
         id="voting-create-button">Create voting</a>
    </div>
  {% endif %}
</div>

{% macro display_polls(polls) -%}
  <table class="dashboard-table">
    <thead>
      <tr>
        <th class="dashboard-clickable type-string">Name</th>
        <th class="dashboard-clickable type-string">Start Date</th>
        <th class="dashboard-clickable type-string">End Date</th>
        <th class="dashboard-clickable type-string">Eligible Groups</th>
        <th class="dashboard-clickable type-string align-center">Voted</th>
      </tr>
    </thead>
    <tbody>
      {% for poll in polls %}
        <tr>
          <td>
            <a href="{{ url('voting_view_voting', slug=poll.slug) }}">
              {{ poll.name }}
            </a>
          </td>
          <td title="{{ poll.start|format_datetime }}"
              data-time="{{ poll.start|format_datetime_iso }}">
            {{ poll.start|format_datetime }}
          </td>
          <td title="{{ poll.end|format_datetime }}"
              data-time="{{ poll.end|format_datetime_iso }}">
            {{ poll.end|format_datetime }}
          </td>
          <td>{{ poll.valid_groups }}</td>
          <td class="align-center">{{ poll|get_users_voted }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{%- endmacro%}

<div class="row">
  <div class="twelve columns">

    <!-- Current votes block -->
    {% if current_polls %}
      <div class="dashboard-box">
        <div class="row">
          <div class="twelve columns">
            <h5>Current Votes</h5>
          </div>
        </div>

        <div class="row">
          {{ display_polls(current_polls) }}
        </div>
      </div>
    {% endif %}
    <!-- end Current votes block -->

    <!-- Future votes block -->
    {% if future_polls %}
      <div class="dashboard-box">
        <div class="row">
          <div class="twelve columns">
            <h5>Future Votes</h5>
          </div>
        </div>

        <div class="row">
          {{ display_polls(future_polls) }}
        </div>
      </div>
    {% endif %}
    <!-- end Future votes block -->

    <!-- Past votes block -->
    {% if past_polls %}
      <div class="dashboard-box">
        <div class="row">
          <div class="twelve columns">
            <h5>Past Votes</h5>
          </div>
        </div>

        <div class="row">
          {{ display_polls(past_polls) }}
        </div>
      </div>
    {% endif %}
    <!-- end Past votes block -->
  </div>
</div>
{% endblock %}

{% block bottomextra %}
  {{ js('voting_list_votings') }}
{% endblock %}
