{% extends "base_fd4.html" %}

{% block pagetitle %}
Mozilla Reps - {{ poll.name }} - Results
{% endblock %}

{% block content %}
<main role="main" class="voting-main">
  <div class="row">
    <div class="large-8 columns">
      <h1>{{ poll.name }} - Results</h1>
    </div>
  </div>

  <div class="row">
    <div class="large-6 columns">
      <div class="row">
        <div class="large-1 columns">
          <div class="pict-icon large time"></div>
        </div>
        <div class="large-9 pull-2 columns">
          <div class="row">
            <div class="large-10 columns end">
              <div class="event-single-date">
                <div class="row">
                  {% if not is_multiday(poll.start, poll.end) %}
                    {# this is single voting #}
                    <div class="large-3 small-3 columns">
                      <div class="number">
                        {{ poll.start|strftime('%d') }}
                      </div>
                    </div>
                    <div class="large-5 small-5 columns">
                      <div class="month">
                        {{ poll.start|strftime('%b %Y')|upper }}
                      </div>
                      <div class="single-day">
                        {{ poll.start|strftime('%A') }}
                      </div>
                    </div>
                    <div class="large-4 small-4 columns end">
                      <div class="date-times tip-bottom"
                           data-tooltip
                           data-width="140"
                           data-date-start="{{ poll.start|format_datetime_iso }}"
                           data-date-end="{{ poll.end|format_datetime_iso }}"
                           data-is-multidate="false"
                           id="datetime-tip">
                        <div class="time-start">
                          {{ poll.start|strftime('%H:%M') }}
                        </div>
                        <div class="time-end">
                          {{ poll.end|strftime('%H:%M') }}
                        </div>
                          <div class="pict-icon small single time"></div>
                      </div>
                    </div>
                  {% else %}
                    {# Voting is multiday #}
                    <!-- Voting is multiday -->
                    <div class="large-12 columns">
                      <div class="large-11 small-12 columns">
                        <div class="row">
                          <div class="large-7 small-6 columns date">
                            <time>
                              {{ poll.start|strftime('%d %b %Y')|upper }}
                            </time>
                          </div>
                          <div class="large-5 small-6 columns day">
                            {{ poll.start|strftime('%A') }}
                          </div>
                        </div>
                        <div class="row">
                          <div class="large-7 small-6 columns date">
                            <time>
                              {{ poll.end|strftime('%d %b %Y')|upper }}
                            </time>
                          </div>
                          <div class="large-5 small-6 columns day">
                            {{ poll.end|strftime('%A') }}
                          </div>
                        </div>
                      </div>
                      <div class="large-1 hide-for-small columns">
                        <div class="tip-bottom"
                             data-tooltip
                             data-width="120"
                             data-date-start="{{ poll.start|format_datetime_iso }}"
                             data-date-end="{{ poll.end|format_datetime_iso }}"
                             data-is-multidate="true"
                             id="datetime-tip">
                          <div class="pict-icon small time"></div>
                        </div>
                      </div>
                    </div>
                  {% endif %}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="large-1 columns">
          <div class="pict-icon large tag"></div>
        </div>
        <div class="large-11 columns">
          <!-- Description -->
          <p>
            <span class="label inline">
              Description
            </span>
            {{ poll.description }}
          </p>
        </div>
      </div>
    </div>

    <div class="large-6 columns">

      {% if poll.range_polls.exists() %}
        <div class="row">
          <div class="large-1 columns">
            <div class="pict-icon large people"></div>
          </div>
          <div class="large-11 columns">
            <!-- Poll Range Section -->
            {% for range_poll in poll.range_polls.all() %}
              <p>
                <span class="label">
                  {{ range_poll.name }}
                </span>
              </p>
              <!-- Results -->
              {% for choice in range_poll.choices.all() %}
              <div class="row">
                <div class="large-11 columns poll-answer">
                  {{ choice.nominee.get_full_name() }}
                </div>
                <div class="large-1 columns poll-answer">
                  {{ choice.votes }}
                </div>
              </div>
              {% endfor %}
            {% endfor %}
          </div>
        </div>
      {% endif %}

      {% if poll.radio_polls.exists() %}
        <div class="row">
          <div class="large-1 columns">
            <div class="pict-icon large list"></div>
          </div>
          <div class="large-11 columns">
            <!-- Radio Poll Section -->
            {% for radio_poll in poll.radio_polls.all() %}
              <p>
                <span class="label">
                  {{ radio_poll.question }}
                </span>
              </p>
              <!-- Results -->
              {% for choice in radio_poll.answers.all() %}
              <div class="row">
                <div class="large-11 columns poll-answer">
                  {{ choice.answer }}
                </div>
                <div class="large-1 columns poll-answer">
                  {{ choice.votes }}
                </div>
              </div>
              {% endfor %}
            {% endfor %}
          </div>
        </div>
      {% endif %}

    </div>
  </div>
</main>
{% endblock %}

{% block bottomextra %}
  {% compress js %}
    <script src="{{ static('voting/js/voting_view_voting.js') }}"></script>
  {% endcompress %}
{% endblock %}
