{% extends "base.html" %}

{% block pagetitle %}
View Voting
{% endblock %}

{% block content %}
<div class="row">
  <div class="eight columns">
    <h4 class="event-single-title">{{ poll.name }}</h4>
  </div>
</div>

<div class="row">
  <div class="five columns">
    <div class="row">
      <div class="one columns pictogram">
        }
      </div>
      <div class="eleven columns">
        <div class="row">
          <div class="ten columns end">
            <div class="event-single-date panel">
              <div class="row">{% if not poll|is_multiday %} {# this is single voting #}
                  <div class="three phone-one columns">
                    <div class="event-single-date-number">
                      {{ poll.start|strftime('%d') }}
                    </div>
                  </div>
                  <div class="five phone-two columns">
                    <div class="event-single-date-month">
                      {{ poll.start|strftime('%b %Y')|upper }}
                    </div>
                    <div class="event-single-date-day">
                      {{ poll.start|strftime('%A') }}
                    </div>
                  </div>
                  <div class="four phone-one columns end">
                    <div class="event-single-date-times tip-bottom"
                         data-width="140"
                         data-date-start="{{ poll.start|format_datetime_iso }}"
                         data-date-end="{{ poll.end|format_datetime_iso }}"
                         data-is-multidate="false"
                         id="datetime-tip">
                      <div class="event-single-date-time-start">
                        {{ poll.start|strftime('%H:%M') }}
                      </div>
                      <div class="event-single-date-time-end">
                        {{ poll.end|strftime('%H:%M') }}
                      </div>
                      <div class="event-single-date-singletimes">}</div>
                    </div>
                  </div>
                {% else %}
                  {# Voting is multiday #}
                  <div class="six phone-two columns">
                    <div class="event-single-date-months">
                      {{ poll.start|strftime('%d %b %Y')|upper }}
                    </div>
                    <div class="event-single-date-months-second">
                      {{ poll.end|strftime('%d %b %Y')|upper }}
                    </div>
                  </div>
                  <div class="four phone-two columns">
                    <div class="event-single-date-times">
                      <div class="event-single-date-day-first">
                        {{ poll.start|strftime('%A') }}
                      </div>
                      <div class="event-single-date-day-second">
                        {{ poll.end|strftime('%A') }}
                      </div>
                    </div>
                  </div>
                  <div class="two hide-on-phones columns">
                    <div class="event-single-date-multitimes-wrap tip-bottom"
                         data-width="120"
                         data-date-start="{{ poll.start|format_datetime_iso }}"
                         data-date-end="{{ poll.end|format_datetime_iso }}"
                         data-is-multidate="true"
                         id="datetime-tip">
                      <div class="event-single-date-multitimes">}</div>
                    </div>
                  </div>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="eleven columns">
        <!-- Description -->
        <p class="profile-item">
          <span class="white radius label">
            Description
          </span>
          &nbsp;
          {{ poll.description }}
        </p>
        <!-- Poll Range Section -->
        {% for range_poll in poll.range_polls.all() %}
          <p class="profile-item">
            <span class="white radius label">
              Range voting title
            </span>
            &nbsp;
            {{ range_poll.name }}
          </p>
          <!-- Results -->
          <p class="profile-item">
            <span class="white radius label">
              Range voting results
            </span>
            &nbsp;
            {% for choice in range_poll.choices.all() %}
              <p class="profile-item">
                {{ choice.nominee.get_full_name() }}
                {{ choice.votes }}
              </p>
            {% endfor %}
            </p>
        {% endfor %}
        <!-- Radio Poll Section -->
        {% for radio_poll in poll.radio_polls.all() %}
          <p class="profile-item">
            <span class="white radius label">
              Radio voting title
            </span>
            &nbsp;
            {{ radio_poll.question }}
          </p>
          <!-- Results -->
          <p class="profile-item">
            <span class="white radius label">
              Radio voting results
            </span>
            &nbsp;
            {% for choice in radio_poll.answers.all() %}
              <p class="profile-item">
                {{ choice.answer }} 
                {{ choice.votes }}
              </p>
            {% endfor %}
          </p>
        {% endfor %}
      </div>
    </div>

  </div>
</div>
{% endblock %}
