{% extends "base.html" %}

{% block pagetitle %}
Mozilla Reps - {{ poll.name }} - Results
{% endblock %}

{% block content %}
<div class="row">
  <div class="eight columns">
    <h4 class="event-single-title">{{ poll.name }} - Results</h4>
  </div>
</div>

<div class="row">
  <div class="six columns">
    <div class="row">
      <div class="one columns pictogram">
        }
      </div>
      <div class="nine pull-two columns">
        <div class="row">
          <div class="ten columns end">
            <div class="event-single-date panel">
              <div class="row">{% if not is_multiday(poll.start, poll.end) %}
                  {# this is single voting #}
                  <div class="three phone-one columns">
                    <div class="event-single-date-number">
                      {{ poll.start|strftime('%d') }}
                    </div>
                  </div>
                  <div class="five phone-two columns">
                    <div class="event-single-date-month">
                      {{ poll.start|strftime('%b %Y')|upper }}
                    </div>
                    <div class="event-single-date-day">
                      {{ poll.start|strftime('%A') }}
                    </div>
                  </div>
                  <div class="four phone-one columns end">
                    <div class="event-single-date-times tip-bottom"
                         data-width="140"
                         data-date-start="{{ poll.start|format_datetime_iso }}"
                         data-date-end="{{ poll.end|format_datetime_iso }}"
                         data-is-multidate="false"
                         id="datetime-tip">
                      <div class="event-single-date-time-start">
                        {{ poll.start|strftime('%H:%M') }}
                      </div>
                      <div class="event-single-date-time-end">
                        {{ poll.end|strftime('%H:%M') }}
                      </div>
                      <div class="event-single-date-singletimes">}</div>
                    </div>
                  </div>
                {% else %}
                  {# Voting is multiday #}
                  <div class="six phone-two columns">
                    <div class="event-single-date-months">
                      {{ poll.start|strftime('%d %b %Y')|upper }}
                    </div>
                    <div class="event-single-date-months-second">
                      {{ poll.end|strftime('%d %b %Y')|upper }}
                    </div>
                  </div>
                  <div class="four phone-two columns">
                    <div class="event-single-date-times">
                      <div class="event-single-date-day-first">
                        {{ poll.start|strftime('%A') }}
                      </div>
                      <div class="event-single-date-day-second">
                        {{ poll.end|strftime('%A') }}
                      </div>
                    </div>
                  </div>
                  <div class="two hide-on-phones columns">
                    <div class="event-single-date-multitimes-wrap tip-bottom"
                         data-width="120"
                         data-date-start="{{ poll.start|format_datetime_iso }}"
                         data-date-end="{{ poll.end|format_datetime_iso }}"
                         data-is-multidate="true"
                         id="datetime-tip">
                      <div class="event-single-date-multitimes">}</div>
                    </div>
                  </div>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="one columns pictogram">
        J
      </div>
      <div class="eleven columns">
        <!-- Description -->
        <p class="profile-item">
          <span class="white radius label">
            Description
          </span>
          &nbsp;
          {{ poll.description }}
        </p>
      </div>
    </div>
  </div>

  <div class="six columns">

    {% if poll.range_polls.exists() %}
      <div class="row">
        <div class="one columns pictogram">
          g
        </div>
        <div class="eleven columns">
          <!-- Poll Range Section -->
          {% for range_poll in poll.range_polls.all() %}
            <p class="profile-item">
              &nbsp;
              <span class="white radius label">
                {{ range_poll.name }}
              </span>
            </p>
            <!-- Results -->
            <p class="profile-item">
              {% for choice in range_poll.choices.all() %}
                <p class="profile-item">
                  <div class="row">
                    <div class="eleven columns">
                      <h5>{{ choice.nominee.get_full_name() }}</h5>
                    </div>
                    <div class="one columns">
                      <h4>{{ choice.votes }}</h4>
                    </div>
                  </div>
                </p>
              {% endfor %}
              </p>
          {% endfor %}
        </div>
      </div>
    {% endif %}

    {% if poll.radio_polls.exists() %}
      <div class="row">
        <div class="one columns pictogram">
          4
        </div>
        <div class="eleven columns">
          <!-- Radio Poll Section -->
          {% for radio_poll in poll.radio_polls.all() %}
            <p class="profile-item">
              &nbsp;
              <span class="white radius label">
                {{ radio_poll.question }}
              </span>
            </p>
            <!-- Results -->
            <p class="profile-item">
              {% for choice in radio_poll.answers.all() %}
                <p class="profile-item">
                  <div class="row">
                    <div class="eleven columns">
                      <h5>{{ choice.answer }} </h5>
                    </div>
                    <div class="one columns">
                      <h4>{{ choice.votes }}</h4>
                    </div>
                  </div>
                </p>
              {% endfor %}
            </p>
          {% endfor %}
        </div>
      </div>
    {% endif %}

  </div>
</div>
{% endblock %}

{% block bottomextra %}
  {{ js('voting_view_voting') }}
{% endblock %}
